
.btn-silver-size {
  min-width: 100px;
}
.bg-skyblue {
  background-color: #23b7e5;
}
.bg-white, .white-bg {
  background: #ffffff none repeat scroll 0 0;
  color: #666 !important;
}
.bg-red {
  background: #f05050 none repeat scroll 0 0;
}
.bg-green {
  background: green none repeat scroll 0 0;
}
.bg-green-iphone {
  background: #5ad94e none repeat scroll 0 0;
}
.txt-green {
  color: green;
}
.txt-red {
  color: red;
}
.anim {
  transition: all 0.7s ease 0s;
}
.b-tabs {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
#bldlist-result {
  max-height: 850px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 8%;
  padding-top: 5%;
}
#bldlist-result-limits {
  font-family: fontawesome;
  height: 30px;
  margin-top: 10px;
  width: 100%;
}
#bldlist-result-limits .newdata {
  font-size: 20px;
  height: 30px;
  position: relative;
  text-align: center;
  width: 33.33%;
}
#bldlist-result-limits .newdata:hover {
  color: #23b7e5;
  opacity: 0.7;
}
#bldlist-result-limits .newdata.left {
  float: left;
}
#bldlist-result-limits .newdata.left::before {
  content: "";
}
#bldlist-result-limits .newdata.left::after {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  bottom: -13px;
  content: "Prev";
  font-family: arial;
  font-size: 11px;
  left: 0;
  position: absolute;
  width: 100%;
}
#bldlist-result-limits .newdata.right {
  float: right;
}
#bldlist-result-limits .newdata.right::before {
  content: "";
}
#bldlist-result-limits .newdata.right::after {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  bottom: -13px;
  content: "Next";
  font-family: arial;
  font-size: 11px;
  left: 0;
  position: absolute;
  width: 100%;
}
.b-tabs #bld-tabs-cover {
  background: #f0f3f4 none repeat scroll 0 0;
  bottom: 0;
  height: 100%;
  left: 0;
  padding-top: 20%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 1;
}
.b-tabs:hover #bld-tabs-cover {
  left: 100%;
}
.nav-tabs-alt .nav-tabs.nav-justified > li:hover {
  background: #e0e2e2 none repeat scroll 0 0;
}
.b-tabs p {
  height: 30px;
  left: -10%;
  margin: 0;
  padding: 2% 0 2% 10%;
  position: relative;
  width: 150%;
}
.search-result p {
  cursor: pointer;
}
.search-result p:first-child {
}
.b-tabs p:hover, .search-result p:hover {
  background: #e0e2e2 none repeat scroll 0 0;
  color: #333;
}
.search-result p:first-child:hover {
}
.search-content {
  position: relative;
}
.search-content .input-search {
  background: white none repeat scroll 0 0;
  border: medium none;
  border-radius: 15px;
  margin: 10px calc(5%) 0;
  padding: 5px 10px;
  position: relative;
  width: 90%;
}
.search-content .is-lupa {
  color: #ddd;
  cursor: text;
  font-size: 15px;
  position: absolute;
  right: 8%;
  top: 18px;
}
.search-content .search-result {
  margin-top: 10px;
  max-height: 950px;
  overflow-x: hidden;
  padding: 10px;
}
.right-col-hide-show {
  bottom: 0;
  cursor: pointer;
  overflow: auto;
  position: absolute;
  right: -186px;
}
.right-col-hide-show:hover {
  right: 0;
}
.right-col-hide-show #right-col-bg {
  background: white none repeat scroll 0 0;
  bottom: 0;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 58px;
  width: 100%;
  z-index: 1;
}
.right-col-hide-show:hover #right-col-bg {
  left: 100%;
}
.form-group .prvw-img-form {
  max-height: 300px;
  padding: 3% 5%;
  width: 100%;
}
.form-group-file {
  height: 300px;
}
.date-ico::before {
  color: #d1d1d1;
  content: "";
  font-family: "Simple-Line-Icons";
  position: absolute;
  right: 25px;
  top: 30px;
}
.bld-search-main {
  margin: 0 8.5%;
}
.bld-search-main .search-result {
  margin: 10px auto;
  width: 90%;
}
.bold-type {
  font-weight: bold;
}
.display-content-main-box {
  padding: 0;
}
.display-content-main-box .color-name-header {
  border-color: #bce8f1;
  color: white;
  font-size: 16px;
  overflow: hidden;
  padding: 2px 10px;
  position: relative;
}
.display-content-main-box .field-data {
  border-bottom: 1px solid #eee;
  padding: 2px;
}
.table td {
  border-right: 1px solid #f6f6f6;
  font-size: 12px;
}
.table .special-td {
  float: left;
  max-height: 65px;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  top: -1px;
  width: 95%;
}
.a-tag:hover {
  text-decoration: underline;
}
.a-tag:hover {
  cursor: pointer;
}
.comment-content {
  background: white none repeat scroll 0 0;
  font-size: 11px;
  margin-top: 1%;
  max-height: 150px;
  min-height: 120px;
  overflow: auto;
  padding: 1%;
  width: 100%;
}
.comment-content-add {
  max-height: 450px;
}
.fancy-box {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  margin: 0 20%;
  max-height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 7%;
  width: 50%;
  z-index: 3;
}
.close-btn-box {
  background-image: url("/img/fancybox_sprite.png");
  cursor: pointer;
  height: 36px;
  position: absolute;
  right: -3px;
  top: -3px;
  width: 36px;
  z-index: 8040;
}
.bg-box-black {
  background: black none repeat scroll 0 0;
  cursor: pointer;
  height: 100%;
  left: 60px;
  opacity: 0.7;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.img-customer {
  max-height: 440px;
  max-width: 350px;
  min-height: 335px;
  width: 100%;
}
.h250h {
  max-height: 250px;
  overflow: auto;
}
.editclass, .save-btn {
  display: none;
}
.customer-customer-form .form-control {
  font-size: 12px;
  height: 25px;
  padding: 3px 12px;
  width: 65%;
}
.customer-edit-btn {
  position: absolute;
  right: 0;
  text-align: right;
  top: -4px;
}
.form-control.select-control {
  padding-top: 2px;
}
.common-textarea {
  border: 1px solid #ddd;
  margin-bottom: 15px;
  max-height: 350px;
  max-width: 50%;
  min-height: 100px;
  width: 100%;
}
.addservicecontentbox {
  background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
  border-radius: 5px;
  left: 25%;
  min-height: 100px;
  position: fixed;
  top: 10%;
  width: 50%;
  z-index: 2;
}
.addservicecontentbox .color-name-header {
  border-bottom: 1px solid #ddd;
  color: #666;
}
#addservicecontentbox .options-content, .modif-servicios, .inputnone {
  display: none;
}
.transparent-btn {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  cursor: inherit;
}
.transparent-btn:hover {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  cursor: inherit;
}
.ui-dialog.ui-widget.ui-widget-content {
  border: medium none;
  min-width: 200px;
}
.ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border-left: medium none;
  border-radius: 0;
  border-right: medium none;
  border-top: medium none;
  font-weight: normal;
  letter-spacing: 2px;
}
.ui-dialog.ui-widget.ui-widget-content h6 {
  color: #666;
  margin-bottom: 0;
  text-align: center;
}
.ui-dialog.ui-widget.ui-widget-content .ui-dialog-buttonset {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
.ui-dialog.ui-widget.ui-widget-content .ui-dialog-buttonset button {
  border: medium none;
  border-radius: 5px;
  margin-left: 15px;
}
.ticket-pos {
}
.ticket-pos .bg-light {
  padding-bottom: 5px;
  padding-top: 5px;
}
.ticket-pos .gral {
  margin-top: -15px;
}
.ticket-pos .list-group.alt .panel-heading {
  padding: 10px;
}
.ticket-pos .comm {
  height: 122px;
  min-height: 170px;
  overflow: hidden;
}
.search-content .search-result p {
  border-bottom: 1px solid #f2f2f2;
}
.search-content .search-result label {
  margin-right: 10px;
}
.homeIco {
  cursor: pointer;
  float: left;
  font-size: 60px;
  height: 65px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0;
  position: relative;
  text-align: center !important;
  width: 20% !important;
}
.homeIco:hover {
  opacity: 0.7;
}
.homeIco::after {
  bottom: -15px;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  left: 0;
  position: absolute;
  width: 100%;
}
.homeIco.icoUsers::after {
  content: "Admin Users";
}
.homeIco.icoBuilding::after {
  content: "Buildings";
}
.homeIco.icoCustomers::after {
  content: "Customers";
}
.homeIco.icoSupport::after {
  content: "Support";
}
.homeIco.icoSales::after {
  content: "Sales";
}
.icoUsers {
  color: #23b7e5;
}
.icoBuilding {
  color: #27c24c;
}
.icoCustomers {
  color: #fad733;
}
.icoSupport {
  color: #f05050;
}
.icoSales {
  color: #7266ba;
}
.input-size-users {
  width: 100%;
}
.fadeIn {
  animation-name: fadeIn;
}
.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}
.panel-heading.ticket, .col-lg-3.ticket, .col-lg-4.ticket {
  padding: 5px;
}
.col-lg-4.ticket {
  padding-left: 10px;
}
.panel-info.ticket {
  border: medium none;
}
.panel.ticket {
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  border-top: 1px solid #ddd;
  box-shadow: none;
  height: 55px;
  margin-bottom: 0;
}
.panel {
  box-shadow: none;
  margin-bottom: 0;
}
.datesize {
  height: 20px;
  overflow: hidden;
}
.form-control.ticket {
  border-left: medium none;
  border-radius: 0;
  border-right: medium none;
}
.panel-default {
  margin-bottom: 20px;
}
.fancy-box.ticket .panel.panel-default {
  border: medium none transparent;
}
.textarea-main-size {
  border: medium none;
  max-height: 300px;
  max-width: 100%;
  min-height: 100px;
  min-width: 100%;
  width: 100%;
}
.update-btn-ticket {
  background: white none repeat scroll 0 0;
  border-bottom: 1px solid #ddd;
  margin-top: 0;
  padding-bottom: 5px;
  padding-top: 10px;
  text-align: center;
}
.ticketadd-info-textbox {
  height: auto;
  max-height: 200px;
  min-height: 120px;
  overflow: auto;
}
.botones-details-ticket {
  float: right;
  height: 32px;
  position: relative;
  top: -7px;
}
.botones-details-ticket-n {
  top: 0;
}
.ticket-detail-update {
  float: right;
  height: 20px;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 1;
}
.display-inline {
  display: inline !important;
}
.display-block {
  display: block !important;
}
.ticket-save-dupdate {
}
.suhs {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  height: 25px;
  margin: 0;
}
.suhs-radio {
  height: 18px;
  left: 7px;
  top: -2px;
}
.suhs-label {
  position: relative;
  top: -7px;
}
.tlb-sc {
  min-height: 80px;
}
.tlb-sc input {
  float: left;
  position: relative;
  top: 5px;
  width: calc(60% - 30px);
}
.tlb-s {
}
.tlb-s input {
  font-size: 12px;
  height: 25px;
  padding: 2px 5px;
  width: 100%;
}
.tlb-r {
  height: auto;
  max-height: 350px;
  overflow: auto;
  width: 100%;
  z-index: 1;
}
.no-padding-sides {
  padding-left: 0;
  padding-right: 0;
}
.subseccion {
  display: none;
}
.homeicons {
  animation-delay: 300ms;
  animation-duration: 2000ms;
  animation-name: fadeIn;
  visibility: visible;
}
.ital {
  font-style: italic;
}
.fix-size-scroll {
  max-height: 650px;
  overflow-x: hidden;
  overflow-y: auto;
}
md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: 550px;
}
.lter-block {
  overflow: hidden;
}
.editable-wrap {
  position: relative;
  z-index: 10;
}
.ticket-right {
  position: absolute;
  right: 15px;
  top: -8px;
}
.ticket-right-save {
  right: 120px;
}
.edit-name-ticket {
  right: 15px;
  top: 7px;
}
.edit-ticket-right-save {
  right: 120px;
  top: 7px;
}
.search-result-tickets-customer {
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.text-center {
  text-align: center;
}
li span {
  cursor: pointer;
  float: right;
}
.fade {
  opacity: 1;
  transition: all 1s linear 0s;
}
.fade.ng-enter {
  opacity: 0;
}
.fade.ng-enter.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  opacity: 1;
}
.fade.ng-leave.ng-leave-active {
  opacity: 0;
}
.animate-enter, .animate-leave {
  display: block;
  position: relative;
  transition: all 1000ms cubic-bezier(0.25, 0.25, 0.75, 0.75) 0s;
}
.animate-leave.animate-leave-active, .animate-enter {
  height: 0;
  opacity: 0;
  transform: scaleY(0);
}
.animate-enter.animate-enter-active, .animate-leave {
  height: 30px;
  opacity: 1;
  transform: scaleY(1);
}
.ticket-comment-pop {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
  border-color: -moz-use-text-color #ddd #ddd;
  border-image: none;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  color: #333;
  font-size: 11px;
  height: auto;
  left: 10%;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2% 4%;
  position: absolute;
  text-align: left;
  top: 0;
  width: 80%;
  z-index: 10;
}
.comment-long {
  border-top: medium none !important;
  float: left;
  position: relative;
  width: 500px !important;
}
.editable-click, a.editable-click {
  border: medium none;
}
.app-aside-folded .navi > ul > li > ul {
  padding-bottom: 15px;
  width: auto;
}
.sign-network {
  cursor: pointer;
  float: left;
  font-size: 14px;
  padding-top: 2px;
  text-align: center;
  width: 100%;
}
.sign-network:hover {
  opacity: 0.7;
}
.style-mod {
  padding: 0;
  position: relative;
  top: -17px;
}
.float-left {
  float: left;
}
.onoffswitch {
  -moz-user-select: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  vertical-align: middle;
  width: 50px;
}
.onoffswitch-label {
  border: 1px solid transparent;
  border-radius: 50px;
  box-sizing: content-box;
  cursor: pointer;
  display: block;
  overflow: hidden;
}
.onoffswitch-inner::before {
  background-color: white;
  color: #555;
  content: attr(data-swchoff-text);
  padding-left: 6px !important;
  padding-top: 3px !important;
  text-align: left;
}
.onoffswitch-inner::after, .onoffswitch-inner::before {
  box-sizing: border-box;
  float: left;
  font-family: Trebuchet,Arial,sans-serif;
  font-size: 10px;
  font-weight: 700;
  height: 20px;
  line-height: 15px;
  padding: 0;
  width: 50%;
}
.onoffswitch-inner::after {
  background-color: #5ad94e;
  color: white;
  content: attr(data-swchon-text);
  padding-right: 9px;
  padding-top: 3px;
  text-align: right;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
  border: 1px solid #ddd;
}
.onoffswitch-checkbox + .onoffswitch-label .onoffswitch-switch::before, .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch::before {
  color: #5ad94e;
  content: "";
  display: block;
  font-family: FontAwesome;
  font-size: 10px;
  font-weight: 700;
  line-height: 19px;
  text-align: center;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  border: 1px solid #ddd;
  height: 20px;
  margin: 0;
  padding: 0;
  right: -1px;
  top: 0;
  width: 20px;
}
.onoffswitch-switch {
  background: white none repeat scroll 0 0;
  border: medium none;
  border-radius: 50px;
  bottom: 0;
  box-sizing: content-box;
  height: 18px;
  margin: -2px;
  position: absolute;
  right: 32px;
  top: 4px;
  width: 18px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  display: block;
  margin-left: 0;
}
.onoffswitch-inner {
  display: block;
  margin-left: -100%;
  width: 200%;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch::before {
  color: #f05050;
  content: "";
}
.editable-text {
}
.float-right {
  float: right;
}
.demo-tab {
  padding-top: 10px !important;
}
.support-view {
}
.support-view .edit-mode {
  text-align: right;
}
.support-view .editmode {
  left: -10px;
  position: relative;
  top: 2px;
}
.support-view .col-lg-3 {
  width: 50%;
}
.support-view .ccv {
  margin-top: 20px;
  width: 100%;
}
.support-view .col-lg-12 {
}
.support-view .building .bld .bld-info-data {
  border: medium none;
}
.support-view .sm-tabs {
  padding: 0;
}
.support-view .building .bld {
  padding-left: 10%;
  width: 60%;
}
.support-view .building .bld.block-a {
  margin-left: 10%;
}
.single-view .cancel-btn-css {
  display: none;
}
.support-view .field-data label:first-child {
  font-weight: bold;
}
.support-view .subseccion-network .field-data div {
  font-size: 12px;
  text-align: left;
}
.display-none {
  display: none;
}
.search-gb {
  float: left;
  margin: 7px auto;
  position: relative;
  text-align: center;
  width: 70%;
}
.search-gb input {
  background: #edf1f2 none repeat scroll 0 0;
  border: medium none;
  border-radius: 15px;
  padding: 3px 10px;
  width: 20%;
}
.search-gb i {
  position: relative;
  right: 25px;
}
.search-gb-result {
  background: white none repeat scroll 0 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  display: none;
  font-size: 12px;
  height: auto;
  left: 0;
  min-height: 200px;
  position: absolute;
  top: 34px;
  width: 100%;
}
.gsrdiv {
  float: left;
  height: 200px;
  max-height: 200px;
  overflow: auto;
  padding: 5px;
  text-align: left;
  width: 25%;
}
.gsrdiv h5 {
  color: #333;
  font-weight: bold;
  margin: 0 0 10px;
  text-align: center;
}
.gsrdiv p {
  float: left;
  min-width: 50%;
  padding-left: 5px;
  width: auto;
}
.gsrdiv .loading-default {
  text-align: center;
}
.animate-if.ng-enter, .animate-if.ng-leave {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.animate-if.ng-enter, .animate-if.ng-leave.ng-leave-active {
  opacity: 0;
}
.animate-if.ng-leave, .animate-if.ng-enter.ng-enter-active {
  opacity: 1;
}
.is-tache {
  display: none;
}
.type-ico {
  border-radius: 2px;
  color: white;
  font-size: 12px;
  font-style: inherit;
  font-weight: bold;
  padding: 0 4px;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}
.type-ico.type-c {
  background: #a341e0 none repeat scroll 0 0;
}
.type-ico.type-r {
  background: #9fc1ff none repeat scroll 0 0;
}
.type-ico.type-p {
  background: #90e06b none repeat scroll 0 0;
}
.type-ico.type-b {
  background: #ff7a7a none repeat scroll 0 0;
}
