
<div ng-if="!mobDevice">
    <div class="col-lg-12">
        <h1 class="">Welcome to Silver<i>IP</i> Portal</h1>
    </div>

    <div ng-controller="libController">

        <div class="col-lg-4 customer-dash-grid">

            <div class="cdg-block col-lg-12 m-b-md no-padding-sides">
                <div class="cdg-status cdg-color-up float-left"></div>
                <div class="cdg-content float-right">
                    <label>Commercial Buildings</label>
                    <span ng-if="!dash1"><i class="fa fa-spinner loading-anim" aria-hidden="true"></i></span>
                    <span><div id="t1"></div></span>
                </div>
            </div>

            <div class="cdg-block col-lg-12 m-b-md no-padding-sides">
                <div class="cdg-status cdg-color-t1 float-left"></div>
                <div class="cdg-content float-right">
                    <label>Retail Buildings</label>
                    <span ng-if="!dash1"><i class="fa fa-spinner loading-anim" aria-hidden="true"></i></span>
                    <span><div id="t2"></div></span>
                </div>
            </div>

            <div class="cdg-block col-lg-12 m-b-md no-padding-sides">
                <div class="cdg-status cdg-color-down float-left"></div>
                <div class="cdg-content float-right">
                    <label>Open Tickets</label>
                    <span ng-if="!dash1"><i class="fa fa-spinner loading-anim" aria-hidden="true"></i></span>
                    <span><div id="t3"></div></span>
                </div>
            </div>

            <div class="cdg-block col-lg-12 m-b-md no-padding-sides">
                <div class="cdg-status cdg-color-missing float-left"></div>
                <div class="cdg-content float-right">
                    <label>Average time to close ticket (hours)</label>
                    <span ng-if="!dash1"><i class="fa fa-spinner loading-anim" aria-hidden="true"></i></span>
                    <span><div id="t4"></div></span>
                    <!--<i class="fa fa-angle-right"></i>-->
                </div>
            </div>

            <div class="cdg-block col-lg-12 m-b-md no-padding-sides">
                <div class="cdg-status cdg-color-ok float-left"></div>
                <div class="cdg-content float-right">
                    <label>Average time to close ticket (days)</label>
                    <span ng-if="!dash1"><i class="fa fa-spinner loading-anim" aria-hidden="true"></i></span>
                    <span><div id="t5"></div></span>
                    <!--<i class="fa fa-angle-right"></i>-->
                </div>
            </div>


            <div class="cdg-block col-lg-12 m-b-md no-padding-sides">
                <div class="cdg-status cdg-color-up float-left"></div>
                <div class="cdg-content float-right">
                    <label>Tech Schedule Events</label>
                    <span ng-if="!calendarData"><i class="fa fa-spinner loading-anim" aria-hidden="true"></i></span>
                    <span><div id="t6"></div></span>
                </div>
            </div>
            <div class="cdg-block col-lg-12 m-b-md no-padding-sides">
                <div class="cdg-status cdg-color-ok float-left"></div>
                <div class="cdg-content float-right">
                    <label>Tech Schedule Complete Appointments </label>
                    <span ng-if="!calendarData"><i class="fa fa-spinner loading-anim" aria-hidden="true"></i></span>
                    <span><div id="t7"></div></span>
                </div>
            </div>
            <div class="cdg-block col-lg-12 m-b-md no-padding-sides">
                <div class="cdg-status cdg-color-down float-left"></div>
                <div class="cdg-content float-right">
                    <label>Tech Schedule Pending Appointments</label>
                    <span ng-if="!calendarData"><i class="fa fa-spinner loading-anim" aria-hidden="true"></i></span>
                    <span><div id="t8"></div></span>
                </div>
            </div>
            <div class="cdg-block col-lg-12 m-b-md no-padding-sides">
                <div class="cdg-status cdg-color-t1 float-left"></div>
                <div class="cdg-content float-right">
                    <label>Tech Schedule On-Site Appointments</label>
                    <span ng-if="!calendarData"><i class="fa fa-spinner loading-anim" aria-hidden="true"></i></span>
                    <span><div id="t9"></div></span>
                </div>
            </div>

        </div>
        <div class="col-lg-8">
            <section ng-include="'/views/dashboardMap.html'"></section>
        </div>


    </div>
</div>

<div ng-if="mobDevice" class="">

    <div class="m-dash-header">
        <div class="imagen-logo pull-left m-l-md">
            <img src="/img/silverip-logo-blanco.png" alt="SILVERIP" title="SILVERIP">
        </div>
        <div class="pull-right m-r-md">
            <button class="btn btn-danger"><i class="fa fa-warning"></i></button>
        </div>
    </div>

    <div class="col-lg-12 col-xs-12 mobile-dash-content">
        <div class="row">
            <div class="col-xs-6 access-box text-center cursor-pointer">
                <a href="#/walkthrough">
                    <div class="walkthrough bg-royal padding-10 m-b-sm">
                        <i class="fa fa-paper-plane-o"></i>
                    </div>
                    <label class="">Walkthrough</label>
                </a>
            </div>
            <div class="col-xs-6 access-box text-center  cursor-pointer">
                <div class="walkthrough bg-violet padding-10 m-b-sm">
                    <i class="fa fa-calendar"></i>
                </div>
                <label class="">Calendar</label>
            </div>
            <div class="col-xs-6 border3 access-box text-center">APP 3</div>
            <div class="col-xs-6 border4 access-box text-center">APP 4</div>
        </div>
        <div class="row m-t-lg">
            <div class="m-appt" ng-include="'/views/support/tech-appointments.html'">
                <img src="/img/loading.gif" alt="" class="loading-gif-support">
            </div>
        </div>
    </div>
</div>