<div id="testCount"></div>
<div id="testCountdos"></div>

<!---->
<div class="col-lg-9 border4" ng-controller="warpolController">

  {{warpolString}}
  <hr>

  <!--<div ng-if="!dataResult"><img src="/img/loading.gif" alt="" class="loading-gif-support "></div>-->

  <!--<div ng-if="dataResult">{{dataResult}}</div>-->


</div>














<style>
  #map {
    height: 300px;
    width: 100%;
  }
</style>
<article class="col-lg-3 ">

  <div class="container ">SilverIP Locations.</div>

    <div class="row">
      <div id="map"></div>
    </div>
    <div class="row">
      <div class="col-lg-12" id="lngLat"></div>
    </div>

</article>

<script>
var toma = [
  '474 N Lakeshore Dr.',
  '1235 S Prairie Ave',
  '100 E. 14th Street',
  '41 E 8th Street',
  '1250 S Indiana',
  '565 W Quincy St',
  '4800 S Chicago Beach Dr.',
  '222 N Columbus Drive',
  '659 West Randolph Street',
  '125 S Jefferson Street',
  '2323 West Pershing Rd',
  '616 West Fulton Street',
  '1910 South Indiana Avenue',
  '65 East Monroe Street',
  '340 East Randolph Street',
  '737 West Washington',
  '1901 S Calumet Ave',
  '1250 S Indiana',
  '1335 S Prairie',
  '657 West Fulton',
  '1069 W 14th Place',
  '1000 W 15th Place',
  '1071 W 15th Place',
  '1111 W 15th Place',
  '1110 W 15th Place',
  '1111 W 14th Place',
  '125 E 13th',
  '111 W Maple St',
  '1300 North State Parkway',
  '2225 W Pershing',
  '30 West Oak Street',
  '1600 S Wabash Ave',
  '130 S Canal St',
  '711 S Dearborn St',
  '701 South Wells Steet',
  '850 South Clark',
  '901 W Madison Avenue',
  '333 S Des Plaines Street',
  '111 West Polk',
  '212 E Cullerton Street',
  '845 North State St',
  '57 E Delaware Pl',
  '1550 S Blue Island Ave',
  '240 E Illinois Street',
  '14 N Peoria Street',
  '909 W Washington Blvd',
  '1224 W Van Buren Street',
  '1525 S Sangamon Street',
  '1201 S Prairie Ave',
  '1525 S Sangamon Street',
  '8 E Randolph St',
  '1901 S Calumet Ave',
  '200 W Grand Ave',
  '345 N Canal Street',
  '610 S Michigan',
  '1635 W Belmont Ave',
  '845 W Fulton Market',
  '2000 S Michigan Ave',
  '1600 S Indiana Ave',
  '730 S Clark Street',
  '77 E Walton Street',
  '213 W Institue Pl',
  '70 W Huron Street',
  '1339 N Dearborn Street',
  '919 N Michigan Ave',
  '360 E Randolph Street',
  '235 W. Van Buren',
  '501 N Clinton',
  '900 S Clark Street',
  '1700 E 56th Street',
  '1623 S Lumber St',
  '1046 W Kinzie St',
  '10 S Dearborn',
  '400 N. Clinton',
  'N Clinton Street',
  '270 E Pearson Street',
  '2037 W Caroll Ave',
  '308 W Erie Street',
  '505 N McClurg Ct',
  '71 W Hubbard Street',
  '770 N Halsted Street',
  '1211 S Prairie Ave',
  '1331 S Prairie Ave',
  '1600 S Wabash',
  '1600 S Wabash Ave'
];





  function initMapXXX() {

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: {lat: 41.8599896, lng: -87.6814276}
    });

    var geocoder = new google.maps.Geocoder();

    $.ajax(
      {type:"GET",
        url:"getBuildingLocations",
        success: function(data)
        {
          for(var obj in toma)
            geocodeAddress(geocoder, map, toma[obj]);
        }
      }
    );
  }

  function geocodeAddress(geocoder, resultsMap, address) {


    geocoder.geocode({'address': address}, function(results, status) {
      if (status === 'OK') {

        var marker = new google.maps.Marker({
          map: resultsMap,
          position: results[0].geometry.location,
          animation: google.maps.Animation.DROP,

        });
        // Add a marker clusterer to manage the markers.
//        var markerCluster = new MarkerClusterer(resultsMap, markers,
//          {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
      }

    });
  }

</script>


<script>

  function initMap() {

    var geocoder = new google.maps.Geocoder;
    var infoWindow = new google.maps.InfoWindow;



    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 3,
      center: {lat: 41.8599896, lng: -87.6814276}
    });

    var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

    var markers = locations.map(function(location, i) {

      var dataText = geocoder.geocode({'location': location}, function(results, status) {
          if(status == 'OK'){
            return results[0].formatted_address;
          }
        });

      var infowindow = new google.maps.InfoWindow({
        content: dataText
      });

      var marker =  new google.maps.Marker({
        position: location,
        label: labels[i % labels.length],
        animation: google.maps.Animation.DROP,
        title:'hola'
      });

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });

      return marker;

    });

    // Add a marker clusterer to manage the markers.
    var markerCluster = new MarkerClusterer(map, markers,
      {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
  }
  var locations = [
    {lat: 41.8909587, lng: -87.6145694},
    {lat: 41.8661398, lng: -87.62138089999996},
    {lat: 41.864344, lng: -87.623596},
    //
//    {lat: 40.73418240000001, lng: -73.98927659999998},
    {lat: 41.8662377, lng: -87.62303829999996},
    {lat: 41.8784776 ,lng: -87.64216429999999},
    {lat: 41.883999 , lng: -87.645037},
    {lat: 41.8865424 , lng: -87.62150199999996},
    {lat: 41.806603 , lng: -87.58658100000002},
//
    {lat: 41.87993609999999 , lng: -87.64207629999999},
    {lat: 41.822647 , lng: -87.683246},
    {lat: 41.8871622 , lng: -87.64364810000001},
    {lat: 41.8561683 , lng: -87.622524},
    {lat: 41.880633 , lng: -87.62508919999999},
    {lat: 41.8847989 , lng: -87.61883619999998},
//    {lat: 30.5451645 , lng: -83.87588410000001},
    {lat: 41.8565449 , lng: -87.61883799999998},
    {lat: 41.8662377 , lng: -87.62303829999996},
    {lat: 41.864829 , lng: -87.62063},

//    {lat: 46.1933858 , lng: -119.13294719999999},
    {lat: 41.8623422 , lng: -87.6536289},
//    {lat: 46.1949692 , lng: -119.13472330000002},
//    {lat: 46.195198 , lng: -119.13462099999998},
//    {lat: 46.1948084 , lng: -119.13438180000003},
    {lat: 41.8864836 , lng: -87.64542619999997},
    {lat: 41.8623334 , lng: -87.65469229999997},
//    {lat: 42.0347528 , lng: -93.6094837},
//    {lat: 40.9643082 , lng: -81.33136789999998},
    {lat: 41.8600319 , lng: -87.6260719},

    {lat: 41.8228275 , lng: -87.68127419999996},
    {lat: 41.8797217 , lng: -87.64039830000002},
//    {lat: 28.300869 , lng: -81.40409160000002},
    {lat: 41.872941 , lng: -87.62887},
//    {lat: 43.6654396 , lng: -94.44619410000001},
    {lat: 41.8711831 , lng: -87.6310378},
    {lat: 41.873148 , lng: -87.63324999999998},
//    {lat: 40.77199 , lng: -73.9650198},
    {lat: 41.8770189 , lng: -87.64354209999999},
    {lat: 41.8556181 , lng: -87.62191899999999},

//    {lat: 40.3126732 , lng: -111.7022652},
    {lat: 41.8914805 , lng: -87.62065139999999},
    {lat: 41.860556 , lng: -87.6596758},
    {lat: 41.8719831 , lng: -87.63122390000001},
    {lat: 41.89882 , lng: -87.62616600000001},
    {lat: 41.8607715 , lng: -87.64930340000001},
    {lat: 41.8823332 , lng: -87.65004239999996},
    {lat: 41.87684 , lng: -87.658297},
    {lat: 41.8828962 , lng: -87.65012539999998},
    {lat: 41.867118 , lng: -87.6222062},

    {lat: 41.884653 , lng: -87.62740459999998},
    {lat: 41.8607715 , lng: -87.64930340000001},
    {lat: 41.8565449 , lng: -87.61883799999998},
    {lat: 41.93053889999999 , lng: -87.94476839999999},
    {lat: 41.8881799 , lng: -87.63957340000002},
    {lat: 41.9391985 , lng: -87.67009659999997},
    {lat: 41.8740166 , lng: -87.62479200000001},
    {lat: 41.8865563 , lng: -87.64926600000001},
    {lat: 41.8552861 , lng: -87.6243404},
    {lat: 41.8998721 , lng: -87.62492839999999},
    {lat: 41.907052 , lng: -87.62966699999998},

    {lat: 41.8599794 , lng: -87.62283709999997},
    {lat: 41.8952363 , lng: -87.63088199999999},
    {lat: 41.8971828 , lng: -87.63523709999998},
    {lat: 41.8727316 , lng: -87.63095379999999},
    {lat: 41.8847047 , lng: -87.61802539999996},
    {lat: 41.891141 , lng: -87.6419942},
    {lat: 41.8765326 , lng: -87.63475590000002},
    {lat: 41.8997908 , lng: -87.62350099999998},
    {lat: 41.8815908 , lng: -87.6298314},
    {lat: 41.8891898 , lng: -87.65406000000002},

    {lat: 41.8703138 , lng: -87.63102049999998},
//    {lat: 40.1094968 , lng: -88.9996845},
    {lat: 41.85893069999999 , lng: -87.6360631},
    {lat: 41.793779 , lng: -87.583259},
    {lat: 41.89419100000001 , lng: -87.63619169999998},
    {lat: 41.8868117 , lng: -87.64134489999998},
    {lat: 41.8978633 , lng: -87.61885029999996},
    {lat: 41.8874668 , lng: -87.67813050000001},
    {lat: 41.8897203 , lng: -87.63069380000002},
    {lat: 41.8600319 , lng: -87.6260719},

    {lat: 41.8667204 , lng: -87.62122039999997},
    {lat: 41.8652037 , lng: -87.6207958},
    {lat: 41.8961198 , lng: -87.64831219999996},
    {lat: 41.8600319 , lng: -87.6260719},
    {lat: 41.8914415 , lng: -87.61725079999997}
  ]
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAW-E_VYcz-wc9T-WS3_Y72cRoGC36VaM8&callback=initMap">
</script>