<button class="btn btn-warning animate" ng-click="addNewForm('address')" ng-if="!insertForm">Add new Address</button>
<button class="btn btn-danger cancel-btn-action animate" ng-click="cancelForm()" ng-if="insertForm">Cancel</button>


<div ng-if="insertForm" class="fade m-t">

  <form class='validation-form' id="admin-insert-form">

    <div ng-bind-html="insertForm"></div>

    <div class='form-group col-md-12'>
      <div class="row-abc">
        <p class="input"><input type="submit" value="Insertar" class="btn m-b-xs w-xs btn-primary" ng-click="submitForm()" /></p>
      </div>
    </div>

  </form>

</div>


<div ng-if="!insertForm" class="fade m-t">
  <table class="table table-bordered table-hover table-condensed bg-white-only">
    <tbody>
    <tr>
      <td>Address</td><td>Unit</td><td>City</td><td>ZIP</td><td>State</td>
      <td>Country</td><td>Customer</td><td>Building</td>
      <td>Created at</td><td>Updated at</td>
    </tr>
    <tr ng-repeat="data in adminAddress">
      <td>{{data.address}}</td><td>{{data.unit}}</td><td>{{data.city}}</td><td>{{data.zip}}</td><td>{{data.state}}</td><td>{{data.country}}</td><td>{{data.id_customers}}</td><td>{{data.id_buildings}}</td>
      <td>{{data.created_at}}</td><td>{{data.updated_at}}</td>
    </tr>
    </tbody>
  </table>
</div>