<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3">Admin Panel</h1>
</div>


<!--<div class="col-lg-2"></div>-->
<!--<div class="col-lg-8 text-center m-t-sm">-->
  <!--<button class="btn btn-dark btn-rounded fade animate" ng-click="callAdminView('Users')">User's</button>-->
  <!--<button class="btn btn-dark btn-rounded fade animate" ng-click="callAdminView('Profiles')">Profile's</button>-->
  <!--<button class="btn btn-dark btn-rounded fade animate" ng-click="callAdminView('Apps')">App's</button>-->
  <!--<button class="btn btn-dark btn-rounded fade animate" ng-click="callAdminView('Elements')">Element's</button>-->
  <!--<button class="btn btn-dark btn-rounded fade animate" ng-click="callAdminView('Status')">Status</button>-->
<!--</div>-->
<!--<div class="col-lg-2"></div>-->

<!--<div class="col-lg-12 text-center m-t-sm"></div>-->

<!--<div class="col-lg-2"></div>-->
<!--<div class="col-lg-8 text-center m-t-sm">-->
  <!--<button class="btn btn-danger btn-rounded fade animate" ng-click="callAdminView('Customers')">Customer</button>-->
  <!--<button class="btn btn-danger btn-rounded fade animate" ng-click="callAdminView('Address')">Address</button>-->
  <!--<button class="btn btn-danger btn-rounded fade animate" ng-click="callAdminView('Contacts')">Contact</button>-->
  <!--<button class="btn btn-danger btn-rounded fade animate" ng-click="callAdminView('Types')">Type</button>-->
  <!--<button class="btn btn-danger btn-rounded fade animate" ng-click="callAdminView('Payments')">Payment methods</button>-->
  <!--<button class="btn btn-danger btn-rounded fade animate" ng-click="callAdminView('Notes')">Notes</button>-->
<!--</div>-->
<!--<div class="col-lg-2"></div>-->


<!--<div class="col-lg-12 text-center m-t-sm"></div>-->

<!--<div class="col-lg-2"></div>-->
<!--<div class="col-lg-8 text-center m-t-sm">-->
  <!--<button class="btn btn-default btn-rounded fade animate" ng-click="callAdminView('Access_apps')">Access Apps</button>-->
  <!--<button class="btn btn-default btn-rounded fade animate" ng-click="callAdminView('Access_app_elements')">Access App Elements</button>-->
<!--</div>-->
<!--<div class="col-lg-2"></div>-->

<div class="col-lg-5"></div>
<div class="col-lg-2 text-center m-t-sm">

  <md-button class="md-primary md-raised">
    SIGNUP
  </md-button>

</div>
<div class="col-lg-5"></div>

<div class="col-lg-12">
  <div my-View-Signup></div>
</div>


<div class="col-lg-12" id="viewContents">
  <div my-View-User></div>
</div>




