<div class="bg-light lter b-b wrapper-xs col-lg-12 ng-scope">
  <h2 class="m-n font-thin h3">Network</h2>
</div>




<article class="col-sm-12 col-md-12 col-lg-12 p-b-lg bg-white white-shadow p-t-lg m-b-lg">
  <div ng-if="networkData">
    <div ng-controller="networkControllerTSort as showCase">
      <table datatable="ng"  class="row-border hover" dt-options="showCase.dtOptions" dt-column-defs="showCase.dtColumnDefs">
        <thead>
          <tr>
            <th>MORE</th>

            <th>Location</th>
            <th>Address</th>
            <th>Core</th>
            <th>Dist</th>

            <th>Queue-set</th>
            <th>Primary</th>
            <th>Backup</th>
            <th>Management</th>
            <th>Segment</th>

          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="dataNet in showCase.persons" id="det-net-{{ dataNet.NID }}">

            <td ng-click="addTR(dataNet.NID)"
                class="details-control"
                id="net-btn-{{ dataNet.NID }}"
                stance="1">
            </td>

            <td>{{dataNet.location}}</td>
            <td>{{dataNet.address}}</td>
            <td>{{dataNet.core}}</td>
            <td>{{dataNet.dist}}</td>

            <td>{{dataNet.access_up_to_date}}</td>

            <td ng-init="netDataFieldP = cleanNetField(dataNet.primary)">
              <a ng-init="netDataHrefP = cleanHrefField(dataNet.primary)" href="{{netDataHrefP}}" target="_blank">
                {{netDataFieldP}}
              </a>
            </td>

            <td ng-init="netDataFieldB = cleanNetField(dataNet.backup)">
              <a ng-init="netDataHrefB = cleanHrefField(dataNet.backup)" href="{{netDataHrefB}}" target="_blank">
                {{netDataFieldB}}
              </a>
            </td>

            <td>{{dataNet.management}}</td>
            <td>{{dataNet.segment}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</article>






