<div class="col-lg-12" ng-controller="customerBillingHistoryController" ng-if="!stcFlag">
  <!--{{billingHistory}}-->

  <div id="customer-view-0">

    <div class="color-name-header btn-dark">
      Billing History:
    </div>
    <div class="panel panel-default">
      <table id="myTable" class="tablesorter table" >
        <thead>
        <tr><th>Date</th><th>Type</th><th>Amount</th><th>PaymentMode</th><th>Oder Number</th><th>Charge Desc</th><th>ActCode</th><th>Trans ID</th><th>Trans Status</th></tr>
        </thead>
        <tbody>
        <tr ng-repeat="billing in billingHistory" >

          <td>{{ billing.date_time }}</td>
          <td>{{ billing.transaction_type }}</td>
          <td>{{ billing.amount }}</td>
          <td>{{ billing.payment_amount }}</td>
          <td>{{ billing.order_number }}</td>
          <td>{{ billing.charge_description }}</td>
          <td>{{ billing.action_code }}</td>
          <td>{{ billing.transaction_id }}</td>
          <td>{{ billing.response_text }}</td>

        </tr>
        </tbody>
      </table>

    </div>

  </div>
</div>

<div class="color-name-header" ng-if="stcFlag">
  Go to Customer Info.
</div>
