<article class="col-sm-12 col-md-12 col-lg-12 m-t-lg bg-white white-shadow border1">
    <div class="row">

        <header role="heading" class="ui-sortable-handle">
            <ul id="widget-tab-1" class="nav pull-left nav-tabs size-100">

                <li class="">
                    <a data-toggle="tab" href="#tab-r0" aria-expanded="false">
                        <span class="hidden-mobile hidden-tablet">
                            <i class="fa fa-plus new-status"></i>
                            <i class="fa fa-user new-status"></i>
                        </span>
                    </a>
                </li>

                <li class="active">
                    <a data-toggle="tab" href="#tab-r1" aria-expanded="false" id="customer-search-tab">
                        <span class="hidden-mobile hidden-tablet">Search Customer</span>
                    </a>
                </li>

                <!--USER TABS-->
                <li class="" ng-repeat="usuario in tabsArray">
                    <a data-toggle="tab" href="#tab-r{{usuario}}" aria-expanded="false" id="customer-tab-link-id-{{usuario}}">
                        <span class="hidden-mobile hidden-tablet" title="User ID: {{usuario}}">
                            <span id="tabs-label-{{usuario}}">
                                <img src="/img/loading.gif" alt="">
                            </span>
                            <span class="close-tab-cross" ng-click="removeFromTabArray(usuario, $index)">
                                <i class="fa fa-times down-status"></i>
                            </span>
                        </span>
                    </a>
                </li>

            </ul>
        </header>

        <div class="col-lg-12 m-t-lg">
            <div class="tab-content">

                <div class="tab-pane" id="tab-r0">
                    <article class="col-sm-12 col-md-12 col-lg-12 no-padding-sides m-t-lg null-article"
                             ng-include="'/views/newcustomer.html'"
                             ng-controller="newcustomerAppController"></article>
                </div>

                <div class="tab-pane active" id="tab-r1">
                    <article class="col-sm-12 col-md-12 col-lg-12 no-padding-sides m-t-lg null-article"
                             ng-include="'/views/customerTabContent.html?{{cacheClear}}'"
                             ng-controller="customersHomeController"></article>
                </div>

                <div class="tab-pane" id="tab-r{{uniqueIdIndex}}" ng-repeat="uniqueIdIndex in tabsArray">
                    <article class="col-sm-12 col-md-12 col-lg-12 no-padding-sides m-t-lg null-article">
                        <!--<p><b>User id : {{uniqueIdIndex}} || {{customerServiceData[uniqueIdIndex].status.name}}</b></p>-->
                        <div ng-include="'/views/customer.html?id={{uniqueIdIndex}}'" ng-controller="customerController"></div>
                    </article>
                </div>

            </div>
        </div>

    </div>
</article>


</table>
