

<div class="warp">

<div class="w-1 pizza">
  <div class="w1-content">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
  </div>
</div>
<div class="w-2 pizza">2b</div>
<div class="w-3 pizza">3c</div>
<div class="w-4 pizza">
  <div class="w4-content">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
  </div>
</div>
<div class="w-5 pizza">5e</div>

<div class="centro"></div>

</div>