HOLA




<div class="ticket-search-table size-100 m-t-lg" ng-controller="tempTicketSearchController">
  <form>
    <label>
      <input type="text" placeholder="Search for Open / Closed Tickets..." ng-keyup="getTicketsSearch()" ng-model="ticketSearch">
      <i class="fa fa-search pull-right"></i>
    </label>
  </form>

  <div class="" ng-if="ticketSearchResult">
    <div class="search-result anim" >
      {{ticketSearchResult}}
    </div>
  </div>
</div>



<div  class="building-list-side">
  <!--<div data-smart-jqui-accordion>-->
  <!--<div>-->
  <!--<h4>Buildings</h4>-->

  <div class="padding-10">
    <div ng-repeat="building in bldListResult" class="bld-list-side">
      <a href="#/buildings?id={{building.id}}">
        {{building.id}} : {{building.code}} : {{building.name}}
        <br>
        {{building.name}}
      </a>
    </div>
  </div>
  <!---->
  <!--</div>-->

  <!--</div>-->

</div>
<hr>
<hr>
<hr>

<!--<div ng-repeat="building in bldListResult">-->
<!--{{building.id}} : {{building.code}} : {{building.name}}-->
<!--</div>-->
