<div class="row">
<article class="col-xs-12 col-sm-6 col-md-6 col-lg-12">
<div jarvis-widget id="chartjs-bar-chart" data-widget-editbutton="false">
<header>
<span class="widget-icon"> <i class="fa fa-bar-chart-o"></i> </span>
<h2>Bar Chart</h2>
</header>
<div>
<div class="widget-body">
<canvas chartjs-bar-chart height="120"></canvas>
</div>
</div>
</div>
</article>
</div>






<!--<script src="/js/chart.min.js"></script>-->




<div class="row">
    <div class="col-lg-12">
        <canvas chartjs-bar-chart height="120"></canvas>
    </div>
</div>