<div class="col-lg-12 display-content-main-box bg-white no-padding-sides subseccion-network" ng-controller="customerNetworkController">
<!--{{customerNetwork}}-->

  <div class="color-name-header btn-dark col-lg-4 no-padding-sides">Port and Network Info</div>
  <div class="color-name-header btn-dark col-lg-4 no-padding-sides">Basic Information</div>
  <div class="color-name-header btn-dark col-lg-4 no-padding-sides">Advanced Information</div>

  <div class="col-lg-4 no-padding-sides b-r">
    <div class="field-data bg-white col-lg-12"><div class="bold-type col-lg-4">Name</div>     <div class="col-lg-8">{{ customerNetwork.host_name }}</div></div>
    <div class="field-data bg-white col-lg-12"><div class="bold-type col-lg-4">IP</div>       <div class="col-lg-8">{{ customerNetwork.ip_address }}</div></div>
    <div class="field-data bg-white col-lg-12"><div class="bold-type col-lg-4">Port</div>     <div class="col-lg-8">{{ customerNetwork.port_number }}</div></div>
    <div class="field-data bg-white col-lg-12"><div class="bold-type col-lg-4">Access</div>   <div class="col-lg-8" id="acces-network-id">{{ customerNetwork.access_level }}</div></div>
    <div class="field-data bg-white col-lg-12"><div class="bold-type col-lg-4">Vendor</div>   <div class="col-lg-8">{{ customerNetwork.vendor }}</div></div>
    <div class="field-data bg-white col-lg-12"><div class="bold-type col-lg-4">Model</div>    <div class="col-lg-8">{{ customerNetwork.vendor }}</div></div>
  </div>

  <div class="col-lg-4 no-padding-sides b-r">
    <!--<div class="color-name-header btn-default nav" id="basic-info-net">Basic Information</div>-->
    <div class="field-data bg-white col-lg-12"><div class="bold-type col-lg-6">Switch Uptime</div>      <div class="col-lg-6 anim" id="switch-uptime"></div></div>
    <div class="field-data bg-white col-lg-12"><div class="bold-type col-lg-6">Status</div>             <div class="col-lg-6 anim" id="oper-status"></div></div>
    <div class="field-data bg-white col-lg-12"><div class="bold-type col-lg-6">Admin Status</div>       <div class="col-lg-6 anim" id="admin-status"></div></div>
    <div class="field-data bg-white col-lg-12"><div class="bold-type col-lg-6">Speed</div>              <div class="col-lg-6 anim" id="port-speed"></div></div>
    <div class="field-data bg-white col-lg-12"><div class="bold-type col-lg-6">Last Change</div>        <div class="col-lg-6 anim" id="last-change"></div></div>
    <div class="field-data bg-white col-lg-12"><div class="bold-type col-lg-6">Vlan</div>               <div class="col-lg-6 anim" id="vlan"></div></div>
    <div class="field-data bg-white col-lg-12"><div class="bold-type col-lg-6">IP</div>                 <div class="col-lg-6" id="IPs"></div></div>
  </div>
  <div class="col-lg-4 no-padding-sides">
    <!--<div class="color-name-header btn-default nav">Advanced Information</div>-->
    <div class="field-data bg-white col-lg-12"><div class="bold-type col-lg-6">Portfast</div>          <div class="col-lg-6" id="portfast"></div></div>
    <div class="field-data bg-white col-lg-12"><div class="bold-type col-lg-6">Portfast Mode</div>     <div class="col-lg-6" id="portfast-mode"></div></div>
    <div class="field-data bg-white col-lg-12"><div class="bold-type col-lg-6">BPDU Guard</div>        <div class="col-lg-6" id="bpdu-guard"></div></div>
    <div class="field-data bg-white col-lg-12"><div class="bold-type col-lg-6">BPDU Filter</div>       <div class="col-lg-6" id="bpdu-filter"></div></div>
  </div>

  <div class="col-lg-12"></div>



  <div class="btn-group btn-group-justified float-left w-auto no-padding-sides m-t-lg network-btn" >
    <!--getSwitchPortStatus();-->
    <p class="float-left btn-silver-size wrapper-xs btn-success network-functions r m-r-sm" ng-click="networkServices(0)" type="0" portid="{{customerNetwork.port_number}}">Check Status</p>





    <p class="float-left btn-silver-size wrapper-xs r btn-dark network-functions action-confirm m-r-sm" id="rport"  type="3" portid="{{customerNetwork.port_number}}" ng-click="showConfirm($event)">Recycle Port</p>
    <p class="float-left btn-silver-size wrapper-xs r btn-success network-functions m-r-sm"  type="4" portid="{{customerNetwork.port_number}}">Check IP's</p>





    <p class="float-left btn-silver-size wrapper-xs r btn-info network-functions action-confirm access-type-net"
       type="6"
       id="rport"
       portid="{{customerNetwork.port_number}}"
       ng-if="customerNetwork.access_level == 'signup'"
       ng-click="showConfirm($event)">Activate</p>



    <p class="float-left btn-silver-size wrapper-xs r btn-danger network-functions action-confirm access-type-net m-r-sm"
       type="5"
       id="rport"
       portid="{{customerNetwork.port_number}}"
       ng-if="customerNetwork.access_level != 'signup'"
       ng-click="showConfirm($event)">Send to Signup</p>



    <p class="float-left btn-silver-size wrapper-xs r btn-success network-functions"  type="" portid="{{customerNetwork.port_number}}">Building IP Stats</p>
  </div>


</div>






