<hr>


<div class="col-lg-12 cn-customer">
    <div class="container">
        <div class="widget-body fuelux" data-smart-fuelux-wizard data-smart-wizard-callback="wizard2CompleteCallback">
            <div class="wizard">
                <ul class="steps">
                    <li data-step="1" class="active"><span class="badge badge-info">1</span>Customer Info.<span class="chevron"></span></li>
                    <li data-step="2"><span class="badge">2</span>Address Info.<span class="chevron"></span></li>
                    <li data-step="3"><span class="badge">3</span>Service Info.<span class="chevron"></span></li>
                    <li data-step="4"><span class="badge">4</span>Network Info.<span class="chevron"></span></li>
                </ul>
                <div class="actions">
                    <button type="button" class="btn btn-sm btn-primary btn-prev">
                        <i class="fa fa-arrow-left"></i>Prev
                    </button>
                    <button type="button" class="btn btn-sm btn-success btn-next" data-last="Finish" id="next-step-btn">
                        Next<i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div class="step-content">
                <form class="form-horizontal">
                    <div class="step-pane active" data-step="1">
                        <h3><strong>Step 1 </strong> - Main Customer Info.</h3>
                        <fieldset>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12 cn-containers">
                                        <label for="" class="">First Name<span class="down-status">*</span></label>
                                        <input type="text"
                                               required
                                               name="first_name"
                                               ng-keyup="validateField('name')"
                                               ng-model="model['fname']"
                                               placeholder="First Name"
                                               modelname="fname"
                                               id="cn-fname">
                                    </div>
                                    <div class="col-lg-12 cn-containers">
                                        <label for="" class="">Last Name<span class="down-status">*</span></label>
                                        <input type="text"
                                               required
                                               name="last_name"
                                               ng-keyup="validateField('name'); "
                                               ng-model="model['lname']"
                                               placeholder="Last Name"
                                               modelname="lname"
                                               id="cn-lname">
                                    </div>
                                    <div class="col-lg-12 cn-containers">
                                        <label for="" class="">Email<span class="down-status">*</span></label>
                                        <input type="text"
                                               required
                                               name="email"
                                               placeholder="Email"
                                               ng-keyup="validateField('email')"
                                               ng-model="validaMail"
                                               id="cn-email">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12 cn-containers">
                                        <label for="">Default Status: <span class="up-status">Active</span></label>
                                    </div>
                                    <div class="col-lg-12 cn-containers">
                                        <label for="" class="">Phone Contact<span class="down-status">*</span></label>
                                        <input type="text"
                                               required
                                               name="contact_value"
                                               placeholder="Ex: 312-123-5533"
                                               ng-keyup="validateField('tel')"
                                               ng-model="validaTel"
                                               id="cn-tel">
                                    </div>
                                    <div class="col-lg-12 cn-containers">
                                        <label for="" class="">VIP</label>
                                        <input type="text" name="vip" placeholder="Ex: Friend of Silver">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="step-pane" data-step="2">
                        <h3><strong>Step 2 </strong> - Location Info.</h3>
                        <div class="col-lg-4">
                            <div class="col-lg-12 cn-containers">
                                <label for="" class="m-r-lg">Address<span class="down-status">*</span></label>
                                <select ng-change="setImageBuilding(0)" ng-model="selectedOption" id="cn-select-address-opt">
                                    <option value="">Select Address</option>
                                    <option value="{{building.id}}" ng-repeat="building in buildingsData">{{building.code}} | {{building.name}}</option>
                                </select>
                                <input type="hidden" id="cn-address-value" name="address">
                            </div>
                            <div class="col-lg-12 cn-containers">
                                <label for="" class="">Unit Number<span class="down-status">*</span></label>
                                <input type="text"
                                       required
                                       name="unit"
                                       placeholder="Ex: 1252"
                                       ng-model="validaUnit"
                                       ng-keyup="validateField('unit')"
                                       id="cn-unit">
                            </div>
                            <div class="col-lg-12 cn-containers">
                                <label for="" class="">City, State, ZIP</label>
                                <input type="text" readonly name="" value="Chicago, IL, 60616">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="col-lg-6 ">
                                <div class="search-subnav-nc">
                                    <input type="text"
                                           placeholder="Filter Search"
                                           ng-keyup="filterBldList(1)"
                                           ng-model="filterBldListModel"
                                           id="cn-filter"
                                           class="color-click">
                                </div>
                                <div class="filter-bld-nc">
                                    <div ng-repeat="filterBld in bldListResult" ng-click="setImageBuilding(1)" class="">
                                        {{filterBld.code}} | {{filterBld.name}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 no-display" id="img-displayed">
                                <img src="{{selectedBuilding}}" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="step-pane" data-step="3">
                        <h3><strong>Step 3 </strong> - Select Service.</h3>
                        <br>
                        <br>

                        <div class="col-lg-8">

                            <div class="col-lg-4 header-title">Name</div>
                            <div class="col-lg-2 header-title">Amount</div>
                            <div class="col-lg-2 header-title">Cycle</div>
                            <div class="col-lg-4 header-title">Status</div>

                            <div ng-repeat="service in availableServices"
                                 class="products-list col-lg-12 no-padding-sides select-service-{{service.id}} service-list"
                                 ng-click="serviceSelected()">
                                <div class="col-lg-4">{{service.product.name}}</div>
                                <div class="col-lg-2">${{service.product.amount}}.00</div>
                                <div class="col-lg-2 capital-first">{{service.product.frequency}}</div>
                                <div class="col-lg-4">{{service.id_status =='1'?'Active':'Disabled'}}</div>
                            </div>

                        </div>
                        <div class="col-lg-4">
                            <h2 class="text-center text-primary">Service Selected. </h2>
                            <p>{{selectedServiceDisplay.name}}</p>
                            <p>${{selectedServiceDisplay.amount}}.00,
                                <span class="capital-first">{{selectedServiceDisplay.frequency}}</span>
                            </p>
                            <input type="hidden" id="nc-service" value="{{selectedServiceDisplay.id}}">
                        </div>


                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                    <div class="step-pane" data-step="4">
                        <h3><strong>Step 4 </strong> - Select Switch to select port.</h3>
                        <br>
                        <br>
                        <div class="col-lg-3">
                            <div ng-repeat="switch in buildingSwitches" class="switches-list">
                                <div ng-click="getavailablePorts()" class="select-switch-{{switch.id}} switches-list">
                                    {{switch.host_name}}, {{switch.ip_address}}
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9 border">
                            <div ng-repeat="ports in switchAvailablePorts">
                                {{ports}}
                            </div>
                        </div>

                        <h1 class="text-center text-primary"> Response lists. </h1>
                        <br>
                        <br>
                        <br>
                        <br>
                    </div>
                </form>
            </div>
            <hr>
        </div>
    </div>
</div>
