<!--<div class="col-lg-12">-->
    <!--<button class="btn btn-danger" ng-click="res()">GETVALS</button>-->
<!--</div>-->

<div class="col-lg-12 cn-customer">
    <div class="container relative">

        <div class="loading-bg" ng-if="showSpinner">
            <img src="/img/loading.gif" alt="" class="loading-gif-support">
        </div>

        <div class="widget-body fuelux" data-smart-fuelux-wizard data-smart-wizard-callback="wizard2CompleteCallback">

            <div class="wizard">
                <ul class="steps">
                    <li data-step="1" class="active" id="inicio-nc-form"><span class="badge badge-info">1</span>Contact Info<span class="chevron"></span></li>
                    <li data-step="2"><span class="badge">2</span>Address Info<span class="chevron"></span></li>
                    <li data-step="3"><span class="badge">3</span>Service Info<span class="chevron"></span></li>
                    <li data-step="4"><span class="badge">4</span>Network Info<span class="chevron"></span></li>
                    <li data-step="5"><span class="badge">5</span>Summary<span class="chevron"></span></li>
                </ul>
                <div class="actions">
                    <button type="button" class="btn btn-sm btn-primary btn-prev">
                        <i class="fa fa-arrow-left"></i>Prev
                    </button>
                    <button type="button" class="btn btn-sm btn-success btn-next" data-last="Finish" id="next-step-btn" ng-click="verifyNewCustomerForm()">
                        Next<i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>

            <div class="step-content">

                <form class="form-horizontal" id="new-customer-form">
                    <!-- CUSTOMER INFO -->
                    <div class="step-pane active" data-step="1">
                        <h3><strong>Step 1 </strong> - Fill in the customer information</h3>
                        <fieldset>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12 cn-containers">
                                        <label for="" class="">First Name: <span class="down-status">*</span></label>
                                        <input type="text" ng-keyup="validateField('name', $event)"
                                               ng-model="model['fname']" placeholder="First Name" modelname="fname"
                                               id="cn-fname">
                                    </div>
                                    <div class="col-lg-12 cn-containers">
                                        <label for="" class="">Last Name: <span class="down-status">*</span></label>
                                        <input type="text" ng-keyup="validateField('name', $event); "
                                               ng-model="model['lname']" placeholder="Last Name" modelname="lname"
                                               id="cn-lname">
                                    </div>
                                    <div class="col-lg-12 cn-containers">
                                        <label for="" class="">VIP: </label>
                                        <input type="text" placeholder="Ex: Friend of Silver" ng-model="validVip">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-lg-12 cn-containers">
                                        <label for="">Default Status: <span class="up-status">Active</span></label>
                                    </div>
                                    <div class="col-lg-12 cn-containers">
                                        <label for="" class="">Phone Number: <span class="down-status">*</span></label>
                                        <input type="text" placeholder="Ex: 312-123-5533"
                                               ng-keyup="validateField('tel', $event)" ng-model="validaTel" id="cn-tel">
                                    </div>
                                    <div class="col-lg-12 cn-containers">
                                        <label for="" class="">Email: <span class="down-status">*</span></label>
                                        <input type="text" placeholder="Email" ng-keyup="validateField('email', $event)"
                                               ng-model="validaMail" id="cn-email">
                                    </div>

                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <!-- ADDRESS INFO -->
                    <div class="step-pane" data-step="2">
                        <h3><strong>Step 2 </strong> - Select a service location</h3>
                        <div class="col-lg-7">
                            <div class="col-lg-6 ">
                                <div class="search-subnav-nc">
                                    <input type="text"
                                           placeholder="Find building"
                                           ng-keyup="filterBldList()"
                                           ng-model="filterBldListModel"
                                           id="cn-filter"
                                           class="color-click">

                                    <span class="search-close-nc-address">
                                        <i class="fa fa-search nc-lupa" ng-if="!selectedItem "></i>
                                        <i class="fa fa-times nc-no-lupa cursor-pointer" ng-if="selectedItem " ng-click="clearAddress()"></i>
                                    </span>

                                </div>
                                <div class="filter-bld-nc">
                                    <div ng-repeat="filterBld in bldListResult" ng-click="getBuildingInfomation(1)">
                                        {{filterBld.code}} | {{filterBld.name}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 no-display" id="img-displayed">
                                <img src="{{buildingImageLocation}}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="col-lg-12 cn-containers" id="">
                                <label for="" class="address-label">Address: </label>
                                <input type="text" readonly id="cn-address">
                                <input type="text" readonly id="cn-city-state-zip">
                            </div>
                            <div class="col-lg-12 cn-spacer-containers">
                            </div>
                            <div class="col-lg-12 cn-containers">
                                <label for="" class="">Unit Number: <span class="down-status">*</span></label>
                                <input type="text" placeholder="Ex: 1252" ng-model="validaUnit"
                                       ng-keyup="validateField('unit',$event)" id="cn-unit">
                            </div>
                        </div>
                    </div>
                    <!-- SERVICE INFO -->
                    <div class="step-pane" data-step="3">
                        <h3><strong>Step 3 </strong> - Select a products or services</h3>
                        <br><br>
                        <div class="col-lg-8">

                            <div class="col-lg-4 header-title">Name</div>
                            <div class="col-lg-2 header-title">Amount</div>
                            <div class="col-lg-2 header-title">Cycle</div>
                            <div class="col-lg-4 header-title">Status</div>

                            <div ng-repeat="service in availableServices"
                                 class="products-list col-lg-12 no-padding-sides select-service-{{service.id}} service-list"
                                 ng-click="serviceSelected()">
                                <div class="col-lg-4">{{service.product.name}}</div>
                                <div class="col-lg-2">{{ service.product.amount | currency : "$" : 2 }}</div>
                                <div class="col-lg-2 capital-first">{{service.product.frequency}}</div>
                                <div class="col-lg-4">
                                    {{service.id_status =='1'?'Active':'Disabled'}}
                                    <i class="fa fa-check no-display status-type-1"></i>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-4">
                            <h2 class="text-center text-primary">Selected Service: </h2>
                            <div class="selected-service-display" ng-if="selectedServiceDisplay">
                                <p>{{selectedServiceDisplay.name}}</p>
                                <p>{{ selectedServiceDisplay.amount | currency : "$" : 2 }},
                                    <span class="capital-first">{{selectedServiceDisplay.frequency}}</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <hr>
                        </div>
                    </div>
                    <!-- NETWORK INFO -->
                    <div class="step-pane col-lg-12" data-step="4">
                        <h3><strong>Step 4 </strong> - Select a switch and port
                            <div class="pull-right">
                                <label>Port</label>
                                <br>
                                <small class=" m-r-lg"> Gi : Gigabit Ethernet</small>
                                <br>
                                <small class=""> Fa : Fast Ethernet</small>
                            </div>
                            <div class="pull-right m-r-lg">
                                <label>Status</label>
                                <br>
                                <small class="status-color-up-left-border m-r-lg"> UP</small>
                                <br>
                                <small class="status-color-down-left-border"> DOWN</small>
                            </div>
                        </h3>
                        <br><br><br><br>
                        <div class="col-lg-3">
                            <h4>Switch List:</h4>
                            <div ng-repeat="switch in buildingSwitches" class="switches-list ">
                                <div ng-click="getavailablePorts()" class="select-switch-{{switch.id}} switches-list">
                                    {{switch.host_name}}, <b>{{switch.ip_address}}</b>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9" ng-if="!switchAvailablePorts"></div>
                        <div class="col-lg-9" ng-if="switchAvailablePorts">
                            <img src="/img/loading.gif" alt="" class="loading-gif-support" ng-if="!loadingPorts">
                            <div class="row" ng-if="loadingPorts">
                                <div ng-repeat="(index, ports) in switchAvailablePorts"
                                     ng-click="portSelected()"
                                     class="status-color-{{ports.Status}}-left-border col-lg-6 switches-list ports-list-format">
                                    <div ng-init="cleanName = filterName(ports.Name)" ng-if="ports"
                                         class="init-ports port-index-{{index}}">
                                        <span>{{cleanName}},</span>
                                        <span>{{ports.Label?ports.Label+',':''}} </span>
                                        <span ng-if="ports.Status == 'up'">{{ports.Speed}}, </span>
                                        <span class="capital-first">{{ports.AdminStatus}}</span>
                                        <i class="fa fa-check no-display status-type-1"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <hr>
                            <br><br>
                        </div>
                    </div>
                    <!-- VERIFY INFO -->
                    <div class="step-pane" data-step="5">
                        <h3><strong>Step 5 </strong> - Verify all information</h3>
                        <div class="row">
                            <div class="container verify-info-container">
                                <div class="col-lg-4 bloque-a">
                                    <input type="text" hidden name="customers.first_name" value="{{model['fname']}}"
                                           required readonly>
                                    <input type="text" hidden name="customers.last_name" value="{{model['lname']}}"
                                           required readonly>
                                    <input type="text" hidden name="customers.id_status" value="1" required readonly>
                                    <input type="text" hidden name="customers.email" value="{{validaMail}}" required
                                           readonly>
                                    <input type="text" hidden name="contacts.value" value="{{validaTel}}" required
                                           readonly>
                                    <input type="text" hidden name="customers.vip" value="{{validVip?validVip:' '}}"
                                           readonly>

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label>Name:</label>
                                            <div class="nc-name">
                                                <span>{{model['fname']}}</span>
                                                <span>{{model['lname']}}</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <label for="">Status</label>
                                            <span class="up-status">Active</span>
                                        </div>

                                        <div class="col-lg-12">
                                            <label for="">Mail:</label>
                                            <span>{{validaMail}}</span>
                                        </div>
                                        <div class="col-lg-12">
                                            <label for="">Phone:</label>
                                            <span>{{validaTel}}</span>
                                        </div>
                                        <div class="col-lg-12">
                                            <label for="">VIP:</label>
                                            <span>{{validVip?validVip:' '}}</span>
                                        </div>

                                    </div>


                                </div>

                                <div class="col-lg-4 bloque-b">
                                    <input type="text" hidden name="building.id" value="{{buildingId}}" required
                                           readonly>
                                    <input type="text" hidden name="address.unit" value="{{validaUnit}}" required
                                           readonly>
                                    <!--<input type="text" hidden value="{{tmpDta.city}}" readonly>-->
                                    <!--<input type="text" hidden value="{{tmpDta.state}}" readonly>-->
                                    <!--<input type="text" hidden value="{{tmpDta.zip}}" readonly>-->

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <label for="">Address:</label>
                                            <!--<span ng-if="tmpDta">{{tmpDta.code}} | {{tmpDta.address}}</span>-->
                                            <span>{{address}}</span>
                                        </div>
                                        <div class="col-lg-12">
                                            <label for="">Unit #:</label>
                                            <span>{{validaUnit}}</span>
                                        </div>
                                        <div class="col-lg-12">
                                            <label for="">City, State, Zip:</label>
                                            <div class="nc-csz">
                                                <span>{{citystatezip}}</span>
                                                <!--<span>{{tmpDta.city}}, </span>-->
                                                <!--<span>{{tmpDta.state}}, </span>-->
                                                <!--<span>{{tmpDta.zip}}</span>-->
                                            </div>
                                        </div>
                                        <div class="col-lg-12 img-cont">
                                            <img src="{{buildingImageLocation}}" alt="" style="max-height: 100px;">
                                        </div>

                                    </div>

                                </div>

                                <div class="col-lg-4 bloque-c">
                                    <input type="text" hidden name="product.id" value="{{selectedServiceDisplay.id}}">
                                    <input type="text" hidden name="switch.id" value="{{selectedSwitch.id}}">
                                    <input type="text" hidden name="port.id" value="{{portIndex}}">

                                    <div class="row">
                                        <div class="col-lg-12 m-b-lg">
                                            <label for="">Service:</label>
                                            <div class="nc-serv" ng-if="selectedServiceDisplay">
                                                <span>{{selectedServiceDisplay.name}}, {{ selectedServiceDisplay.amount | currency : "$" : 2 }}</span><br>
                                                <span class=" capital-first">{{selectedServiceDisplay.frequency}}</span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 m-b-lg">
                                            <label for="">Switch:</label>
                                            <span ng-if="selectedSwitch">{{selectedSwitch.host_name}}, <b>{{selectedSwitch.ip_address}}</b></span>
                                        </div>
                                        <div class="col-lg-12">
                                            <label for="">Port Info:</label>
                                            <div class="nc-serv">
                                                <span class="status-color-{{portData.Status}}-left-border">{{portData.Name}}</span><br>
                                                <span ng-if="portData.Status == 'up'">{{portData.Label?portData.Label:''}}</span><br>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <label for="">Status:</label>
                                            <div class="nc-serv">
                                                <span>{{portData.Speed}}  {{portData.AdminStatus}}</span><br>
                                            </div>
                                        </div>


                                    </div>


                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="col-lg-4" ng-bind-html="contactErrorContainer ? contactErrorContainer : ''"></div>
                        <div class="col-lg-4" ng-bind-html="addressErrorContainer ? addressErrorContainer : ''"></div>
                        <div class="col-lg-4" ng-bind-html="serviceErrorContainer ? serviceErrorContainer:''"></div>
                        <div class="col-lg-12 p-b-lg error-message" ng-if="errorResponse">
                            <hr>
                            <p>{{errorResponse}}</p>
                        </div>
                        <!--<div class="col-lg-12 p-b-lg error-message" ng-if="errorResponse">-->
                            <!--<hr>-->
                            <!--<p>{{errorResponse}}</p>-->
                        <!--</div>-->

                    </div>
                    <!--RESET-->
                    <br>
                    <div class="text-center m-b-md m-t-lg p-b-md col-lg-12">
                        <div class="down-status f-size-17 cursor-pointer p-t-lg reset-form-ncustomer" ng-click="resetFullForm()">Reset Form</div>
                    </div>
                </form>

            </div>

        </div>

    </div>
</div>

<div class="col-lg-12">
    <hr>
</div>

<!--LATEST RESULTS-->

<div class="col-lg-12">

    <h1 class="font-md"> Latest customers inserted</h1>

    <br>

    <div class="table-responsive">
        <table id="resultTable" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Location</th>
                <th>Address</th>
                <th>Created By</th>
                <th>Email / Username</th>
                <th>Created</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody class="">
                <tr class="status-dash-type-{{customerData.id_status}} cursor-pointer customer-record" ng-repeat="customerData in latestCustomers" ng-click="customerGoTo()">

                    <td>{{customerData.id}}</td>
                    <td>{{customerData.first_name}} {{customerData.last_name}}</td>
                    <td>{{customerData.address.code}} #{{customerData.address.unit}}</td>
                    <td>{{customerData.address.address}}</td>
                    <td>{{customerData.user.first_name}} {{customerData.user.first_name}}</td>
                    <td>{{customerData.email}}</td>
                    <td ng-init="signedup = convertDate(customerData.created_at)">{{ signedup | date : "MMM d, y h:mm a" }}</td>
                    <td ng-if="customerData.id_status == 1"><span class="label status-dash-btn-{{customerData.id_status}}">Active</span></td>
                    <td ng-if="customerData.id_status == 2"><span class="label status-dash-btn-{{customerData.id_status}}">Disabled</span></td>
                    <td ng-if="customerData.id_status == 3"><span class="label status-dash-btn-{{customerData.id_status}}">Decommissioned</span></td>
                    <td ng-if="customerData.id_status == 4"><span class="label status-dash-btn-{{customerData.id_status}}">Pending</span></td>
                    <td ng-if="customerData.id_status == 5"><span class="label status-dash-btn-{{customerData.id_status}}">Admin</span></td>

                </tr>
            </tbody>
        </table>
    </div>


</div>