<div class="col-lg-12 display-content-main-box subseccion-newticket" ng-controller="customerNewTicketCtrl">
<!--{{newTicketData}}-->
<div class="color-name-header btn-dark">
  Create Ticket
</div>

  <form class="customer-customer-form" id="ticket-insert-form">
    <div class="field-data bg-white col-lg-12">
      <label class="bold-type col-lg-4 text-left">Issue</label>
      <select class="form-control select-control" name="id_reasons">
        <option value="err">Select an issue</option>
        <option ng-repeat="reason in newTicketData" value="{{ reason.id }}">{{ reason.short_description }}</option>
      </select>
    </div>
    <div class="field-data bg-white col-lg-12">
      <label class="bold-type col-lg-4 text-left">Status</label>
      <select class="form-control select-control" name="status">
        <option value="err">Select an ticket status</option>
        <option value="escalated">Escalate</option>
        <option value="closed">Close</option>
      </select>
    </div>
    <div class="bg-white col-lg-12">
      <label class="field-data bold-type col-lg-4 text-left" style="border-color: transparent;">Details</label>
      <textarea name="comment" class="col-lg-4 common-textarea" placeholder="Ticket Info..."></textarea>
      <div class="field-data bg-white col-lg-12">
        <button class="btn btn-dark col-lg-2" id="create-customer-ticket"  ng-click="submitForm('ticket')">Create Ticket</button>
      </div>
    </div>

  </form>



</div>