<div class="col-lg-12 display-content-main-box anim" ng-controller="customerPaymentController">

  <h2 class="float-left">Credit Card Information</h2>


  <div class="btn-group btn-group-justified float-right w-auto">
    <a class="btn-warning wrapper-xs float-right r" href="">Manual Refound</a>
    <a class="btn-danger wrapper-xs float-right m-r-sm r" href="">Manual Charge</a>
  </div>
  <div class="field-data bg-white col-lg-12">
    <label class="b-r col-lg-6">Card Number</label><label class="col-lg-6 block-b-label" id="b-CCnumber">{{ paymentData.payment.account_number }}</label>
  </div>

  <div class="field-data bg-white col-lg-12">
    <label class="b-r col-lg-6">Card Type</label><label class="col-lg-6 block-b-label" id="b-CCtype">{{ paymentData.type.name }}</label>
  </div>

  <div class="field-data bg-white col-lg-12">
    <label class="b-r col-lg-6">Expiration Month</label><label class="col-lg-6 block-b-label" id="b-Expmo">{{ paymentData.payment.exp_month }}</label>
  </div>
  <div class="field-data bg-white col-lg-12">
    <label class="b-r col-lg-6">Expiration Year</label><label class="col-lg-6 block-b-label" id="b-Expyr">{{ paymentData.payment.exp_year }}</label>
  </div>

</div>