
<div class="color-name-header" ng-if="stcFlag">
  Go to Customer Info.
</div>

<!--Services-->

<div class="col-lg-12 display-content-main-box anim padder-md" id="customer-box-c" ng-controller="customerServicesController" ng-if="!stcFlag">

  <div class="color-name-header btn-dark">
    Services Info
  </div>

  <div class="panel panel-default" ng-controller="ModalController">


    <div class="SCRIPTCONTENTMODAL"  >

      <script type="text/ng-template" id="myModalContent.html">

        <div class="field-data bg-white col-lg-12" >

          <div class="color-name-header">Service Information</div>

          <label class="bold-type col-lg-2">Service/Plan</label>

          <select class="col-lg-3 block-a-label" ng-model="selectedItem" ng-options="serv.name for serv in availableServices track by serv.id" ng-change="serviceDataDisplay()"></select>

          <div class="col-lg-7">
            <label class="bold-type col-lg-6">Amount</label>
              <label class="col-lg-6 block-a-label">{{ currentServiceDisplay?('$' + currentServiceDisplay.amount + '.00'):'Select Service' }}</label>
            <label class="bold-type col-lg-6">Cycle</label>
              <label class="col-lg-6 block-a-label">{{ currentServiceDisplay?currentServiceDisplay.frequency:'Select Service' }}</label>
            <label class="bold-type col-lg-6">Status</label>
              <label class="col-lg-6 block-a-label">{{ currentServiceDisplay?currentServiceDisplay.id_types:'Select Service' }}</label>
          </div>

          <div class="col-lg-1 addServiceBoton"><button class="btn m-b-xs w-xs btn-primary" ng-click="addNewService()"ng-if="!labelAddUpdate">Add</button></div>
          <div class="col-lg-1 addServiceBoton"><button class="btn m-b-xs w-xs btn-primary" ng-click="addNewService()" ng-if="labelAddUpdate">Update</button></div>

        </div>

      </script>

    </div>


    <table id="myTable" class="tablesorter table">
      <thead>
      <tr><th>ID</th><th>Service</th><th>Amount</th><th>Cycle</th><th>Status</th><th>Actions</th></tr>
      </thead>
      <tbody>
      <tr ng-repeat="service in customerServices.services" ng-controller="serviceProductController">

        <td>{{ service.id }}</td>
        <td>{{ customerProduct.product.name }}</td>
        <td>$ {{ customerProduct.product.amount }}.00</td>
        <td>{{ customerProduct.product.frequency }}</td>
        <td>{{ customerProductStatus.status.name }}</td>
        <td class="prod-btns">
          <button class="btn fa btn-danger fa-pencil modif-service-btn"  title="Edit Service" ng-click="open(customerProduct.id, 'updateService')"></button>
          <button ng-if="customerProductStatus.status.name != 'disabled'" class="btn fa fa-times action-confirm btn-dark" ng-click="showConfirm($event, customerProduct.id, 'disable')" title="Cancel Service"><i>a</i></button>
          <button ng-if="customerProductStatus.status.name == 'disabled'" class="btn fa fa-check action-confirm btn-success" ng-click="showConfirm($event, customerProduct.id, 'active')" title="Active Service"><i>l</i></button>
        </td>
      </tr>
      </tbody>
    </table>


    <div class="col-lg-12 add-Service-btn m-t-lg no-padding-sides">
      <button class="btn m-b-xs btn-sm btn-info btn-addon bg-blue float-right" ng-click="open(customerData.id, 'services')">
        <i class="fa fa-plus"></i>
        Add Service
      </button>
    </div>


  </div>

</div>
