<div class="">

    <div class="search-content">
        <form id="customer-global-search-id">
            <input type="text" class="input-search id-search stringSearch" placeholder="Customer Search..." ng-keyup="buscador()" ng-model="searchCustomer"><i class="is-lupa fa fa-search"></i>
        </form>
    </div>

    <div class="search-content-close" ng-click="clearSearch()">
        <i class="fa fa-plus plus-cross"></i>
    </div>

</div>


<div class="" ng-if="customerSearchResult">
    <div class="search-result animated fadeInDown">
        <div ng-repeat="resultSearch in customerSearchResult"
             ng-click="clearSearch()"
             class="main-search-result-container
                   tmp-container-search {{($index == focusIndex) ? 'focus-index-focus' : ''}}
                   ">

            <a href="#/customers?id={{resultSearch.id}}">

                <div class="col-lg-12 no-padding-sides">

                    <div class="col-lg-12">
                        <i class="fa fa-user m-r-sm status-type-{{resultSearch.id_status}}"></i>
                        {{resultSearch.first_name}} {{resultSearch.last_name}} | {{resultSearch.code}} | #{{resultSearch.unit}}
                    </div>

                </div>

            </a>

        </div>
    </div>
</div>