
<div ng-include="'/views/sidebar/c-products.html'" ></div>









<article>
  <div jarvis-widget data-widget-color="blueDark" id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

    <header>
      <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
      <h2>Average payment success</h2>
    </header>
    <div class="col-sm-12">
      <p>
        The default is left aligned.
      </p>
      <div class="well no-padding">

        <div class="bar-holder">
          <div class="progress">
            <div class="progress-bar bg-color-teal" data-smart-progressbar data-transitiongoal="25"></div>
          </div>
        </div>
        <div class="bar-holder">
          <div class="progress">
            <div class="progress-bar bg-color-blueLight"  data-smart-progressbar data-transitiongoal="50"></div>
          </div>
        </div>
        <div class="bar-holder">
          <div class="progress">
            <div class="progress-bar bg-color-blue"  data-smart-progressbar data-transitiongoal="75"></div>
          </div>
        </div>
        <div class="bar-holder">
          <div class="progress">
            <div class="progress-bar bg-color-redLight"  data-smart-progressbar data-transitiongoal="100"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</article>


<input type="hidden" id="customerIdScope" value="">
