<div ng-include="'/views/customer/buscador.html'" ></div>



<article>
  <div jarvis-widget data-widget-color="blueLight" id="wid-id-10" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
    <header>
      <span class="widget-icon"> <i class="fa fa-list-alt"></i> </span>
      <h2>More Options to do</h2>
      <div class="widget-toolbar hidden-phone">
        <div class="smart-form">
          <label class="checkbox">
            <input type="checkbox" name="checkbox">
            <i></i>Add Padding</label>
        </div>
      </div>
    </header>
    <div>

      <!-- widget edit box -->
      <div class="jarviswidget-editbox">
        <!-- This area used as dropdown edit box -->

      </div>
      <!-- end widget edit box -->

      <!-- widget content -->
      <div class="widget-body no-padding">

        <div class="panel-group smart-accordion-default" id="accordion-2">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-1"> <i class="fa fa-fw fa-plus-circle txt-color-green"></i> <i class="fa fa-fw fa-minus-circle txt-color-red"></i> Collapsible Group Item #1 </a></h4>
            </div>
            <div id="collapseOne-1" class="panel-collapse collapse in">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-2" href="#collapseTwo-1" class="collapsed"> <i class="fa fa-fw fa-plus-circle txt-color-green"></i> <i class="fa fa-fw fa-minus-circle txt-color-red"></i> Collapsible Group Item #2 </a></h4>
            </div>
            <div id="collapseTwo-1" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-2" href="#collapseThree-1" class="collapsed"> <i class="fa fa-fw fa-plus-circle txt-color-green"></i> <i class="fa fa-fw fa-minus-circle txt-color-red"></i> Collapsible Group Item #3 </a></h4>
            </div>
            <div id="collapseThree-1" class="panel-collapse collapse">
              <div class="panel-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- end widget content -->

    </div>
  </div>
</article>





<article>
  <div jarvis-widget data-widget-color="blueDark" id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">

    <header>
      <span class="widget-icon"> <i class="fa fa-align-justify"></i> </span>
      <h2>Average payment success</h2>
    </header>
    <div class="col-sm-12">
      <p>
        The default is left aligned.
      </p>
      <div class="well no-padding">

        <div class="bar-holder">
          <div class="progress">
            <div class="progress-bar bg-color-teal" data-smart-progressbar data-transitiongoal="25"></div>
          </div>
        </div>
        <div class="bar-holder">
          <div class="progress">
            <div class="progress-bar bg-color-blueLight"  data-smart-progressbar data-transitiongoal="50"></div>
          </div>
        </div>
        <div class="bar-holder">
          <div class="progress">
            <div class="progress-bar bg-color-blue"  data-smart-progressbar data-transitiongoal="75"></div>
          </div>
        </div>
        <div class="bar-holder">
          <div class="progress">
            <div class="progress-bar bg-color-redLight"  data-smart-progressbar data-transitiongoal="100"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</article>
