<!-- TITLE -->
<div class="bg-light lter b-b wrapper-md">
  <h1 class="m-n font-thin h3" ng-if="!bld">Support</h1>
  <!--<h1 class="m-n font-thin h3" ng-if="bld">Building : {{ bld.building.name }}</h1>-->
</div>

<!-- ELEMENTS -->
<div class="building-elements">

  <!-- Tickets BY TYPE -->

  <div class="wrapper-md" style="padding-bottom:0px;">
    <a href="/supportdash/no-billing"><button class="btn btn-default btn-ticket-sort" type="button">Non-Billing Tickets</button></a>
    <a href="/supportdash/Billing"><button class="btn btn-default btn-ticket-sort" type="button">Billing Tickets</button></a>
    <a href="/supportdash/full"><button class="btn btn-default btn-ticket-sort" type="button">All Tickets</button></a>
  </div>

  <div ng-controller="ModalController">
    <script type="text/ng-template" id="myModalContent.html">
      <div class="bg-light lter b-b wrapper-md">
        <h2 class="m-n font-thin h3">Ticket Information</h2>
      </div>

      <div class="BODYMODAL">


        <div class="col-lg-12">
          <div class="h3 m-t-xs m-b-xs">
            <i class="fa fa-circle text-success pull-right text-xs m-t-sm"></i>
            <label>{{selectedTicket.customer.first_name}} {{selectedTicket.customer.last_name}}</label>
          </div>
        </div>

        <div class="col-lg-3">
          <div>Address</div>
          <small class="text-muted">{{selectedTicket.address.address}}</small>
        </div>
        <div class="col-lg-3">
          <div>Tel</div>
          <small class="text-muted">{{selectedTicket.contacts.value}}</small>
        </div>
        <div class="col-lg-3">
          <div>Email</div>
          <small class="text-muted">{{selectedTicket.contacts.value}}</small>
        </div>
        <div class="col-lg-3">
          <div>Status</div>
          <small class="text-muted">{{selectedTicket.status}}</small>
        </div>


        <div class="col-lg-12 bg-light lter">
          <div>Details:</div>
        </div>

        <div class="col-lg-3">
          <div>Ticket ID</div>
          <small class="text-muted">{{selectedTicket.ticket_number}}</small>
        </div>
        <div class="col-lg-3">
          <div>Issue</div>
          <small class="text-muted">{{selectedTicket.reason.short_description}}</small>
        </div>
        <div class="col-lg-3">
          <div>Status</div>
          <small class="text-muted">{{selectedTicket.status}}</small>
        </div>
        <div class="col-lg-3">
          <div>Assigned to</div>
          <small class="text-muted">{{selectedTicket.user_assigned.first_name}}</small>
        </div>

        <div class="col-lg-12 bg-light lter">
          <div>Info:</div>
        </div>

        <div class="col-lg-12">
          <div>{{selectedTicket.ticket_note.comment}}</div>
        </div>


        <div class="col-lg-12 bg-black"></div>

        <div class="col-lg-4">
          <div>Created by</div>
          <small class="text-muted">Auto</small>
        </div>
        <div class="col-lg-4">
          <div>Created on</div>
          <small class="text-muted">{{selectedTicket.created_at}}</small>
        </div>
        <div class="col-lg-4">
          <div>LastUpdate</div>
          <small class="text-muted">{{selectedTicket.updated_at}}</small>
        </div>

        <div class="col-lg-12 bg-light lter">
          <div>History:</div>
        </div>

        <div class="col-lg-12">
          <table  ui-jq="dataTable" class="table table-striped b-t b-b">
            <thead>
            <tr>
              <th>Timestamp</th>
              <th>Details</th>
              <th>Status</th>
              <th>Staff</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="history in selectedTicket.ticket_history_full" ng-controller="supportTicketHistory">
              <td>{{history.created_at}}</td>
              <td>{{historyData.ticket_note.comment?historyData.ticket_note.comment:'Empty Comment'}}</td>
              <td>{{history.status}}</td>
              <td>{{historyData.user.first_name}}</td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>

      <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>

    </script>

  </div>





  <!--TICKET LIST-->
  <div class="wrapper-md" ng-controller="ModalController">
    <div class="panel panel-default">
      <div class="table-responsive">
        <table ui-jq="dataTable" class="table table-striped b-t b-b" ui-options="{aaSorting:[[9,'desc']]}">
          <thead>
          <tr>
            <th style="width:10%">ID</th>
            <th style="width:10%">Ticket</th>
            <th style="width:10%">Status</th>
            <th style="width:10%">Name</th>
            <th style="width:10%">Address</th>
            <th style="width:10%">Tel</th>
            <th style="width:10%">Email</th>
            <th style="width:10%">Issue</th>
            <th style="width:10%">Comment</th>
            <th style="width:10%">Assigned To</th>
            <th style="width:10%">LastUpdate</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="data in supportData">
            <td>{{data.id}}</td>
            <td  ng-click="open(data.id)">{{data.ticket_number}}</td>
            <td><a href="#/customer?id={{data.customer.id}}"> {{data.status}}</a></td>
            <td ng-click="callMidView('Customer', data.customer.id)">{{data.customer.first_name}}</td>
            <td>{{data.address.address}}</td>
            <td>{{data.contacts.value}}</td>
            <td>{{data.contacts.value}}</td>
            <td>{{data.reason.short_description}}</td>
            <td>{{data.ticket_note.comment}}</td>
            <td>{{data.user_assigned.first_name}}</td>
            <td>{{data.contacts.updated_at}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--END TICKET LIST-->


</div>
<!--END ELEMENTS -->