<div class="bg-light lter b-b wrapper-xs col-lg-12">
  <h2 class="m-n font-thin h3">Support</h2>
</div>
<div class="app-content-body hbox" ng-controller="supportController">

  <!-- LEFT COL-->
  <div class="col w-lg lter b-r b-tabs anim">


    <div class="vbox">

      <!-- Building Search/Simple -->
      <!--<div class="b-b">-->
        <!--<div class="search-content">-->
          <!--<input type="text" id="id-buildings-search" class="input-search id-search" placeholder="Search Ticket..." ng-keyup="buscador('Simple', 'left')" ng-model="searchLeft"><i class="is-lupa fa fa-search"></i>-->
          <!--<div id="id-buildings-search-result" class="search-result anim" >-->
            <!--<p ng-repeat="resultbldleft in bldSearchResultLeft" ng-click="displayBldData(resultbldleft.id)" >{{ resultbldleft.address }}</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!-- END Building Search/Simple -->



      <!-- TOOLS -->
      <!--<div>-->
        <!--<button class="btn btn-info btn-ticket-sort col-lg-5 m-t-md m-b-md" type="button">New Ticket</button>-->
        <!--<div class="col-lg-2"></div>-->
        <!--<button class="btn btn-dark btn-ticket-sort col-lg-5 m-b-md m-t-md" type="button" disabled>Dashboard</button>-->

        <!--<button class="btn btn-danger btn-ticket-sort col-lg-5 m-b-md" type="button" disabled>Pending Tickets</button>-->
        <!--<div class="col-lg-2"></div>-->
        <!--<button class="btn btn-success btn-ticket-sort col-lg-5 m-b-md" type="button">My Tickets</button>-->
      <!--</div>-->
      <!-- END TOOLS -->

      <!-- TABS-->
      <div class="nav-tabs-alt ntas-tmp" id="ntas-tmp">
        <ul class="nav nav-tabs nav-justified">
          <li class="active anim">
            <a data-target="#tab-1" role="tab" data-toggle="tab">Customers</a>
          </li>
          <li class=" anim">
            <a data-target="#tab-2" role="tab" data-toggle="tab">Clients</a>
          </li>
          <li class=" anim">
            <a data-target="#tab-3" role="tab" data-toggle="tab">Tickets</a>
          </li>
        </ul>
      </div>
      <!-- END TABS-->


      <!-- BLD DATA LEFT -->
      <div class="row-row ntas-tmp">
        <div class="tabs-content">
          <div class="cell-inner">
            <div class="tab-content" >

              <div class="tab-pane active" id="tab-1">
                <!--CONTENT TABS-->
                <div id="bldlist-result" ng-controller="customerControllerList">
                  <p ng-repeat="data in supportDataCustomer" ng-click="displayCustomerResume(data.id)">{{ data.first_name}} {{ data.last_name}}</p>
                </div>
              </div>

              <div class="tab-pane fix-size-scroll" id="tab-2" >
                <div class="wrapper-md">
                  <p ng-repeat="bldretail in bldData['retail']" ng-click="displayBldData(bldretail.id)">{{ bldretail.Name?bldretail.Name:bldretail.name }}</p>
                </div>
              </div>

              <div class="tab-pane fix-size-scroll" id="tab-3" >
                <div class="wrapper-md">
                  <p ng-repeat="ticketList in supportData" ng-click="displayTicketResume(ticketList.id, ticketList.id_customers)">{{ ticketList.ticket_number }}, {{ticketList.customer.first_name}}, {{ ticketList.address.code }}</p>
                </div>
              </div>
              <!--BUILDING TABLE -->
              <!--END CONTENT TABS-->

            </div>
          </div>
        </div>
      </div>
      <!-- END BLD DATA LEFT -->

    </div>

  </div>
  <!--END COL-->


  <div class="col-lg-12 no-padding-sides">
    <div class="wrapper-md float-left" style="padding-bottom:10px;">
      <button class="btn btn-default btn-ticket-sort" ng-click="fullTickets()">Non-Billing Tickets</button>
      <button class="btn btn-default btn-ticket-sort" ng-click="billingTickets()">Billing Tickets</button>
      <button class="btn btn-default btn-ticket-sort" ng-click="allTickets()">All Tickets</button>
    </div>

    <div class="wrapper-md float-left" style="padding-bottom:10px;">
      <div class="old-gray   float-left time-data"><label>Total Tickets:</label>   {{ticketOpenTime.old}}</div>
      <div class="old-green  float-left time-data"><label>Tickets <b>></b> 12Hrs.</label> {{ticketOpenTime.old12}}</div>
      <div class="old-yellow float-left time-data"><label>Tickets <b>></b> 24Hrs.</label> {{ticketOpenTime.old24}}</div>
      <div class="old-red    float-left time-data"><label>Tickets <b>></b> 48Hrs.</label> {{ticketOpenTime.old48}}</div>
    </div>
  </div>

  <div class="col-lg-12 no-padding-sides" id="viewMidContent">
    <div my-View-Support></div>
  </div>


</div>