<!--TICKET LIST-->
<div class="wrapper-md" ng-controller="ModalController">

  <div class="panel panel-default">
    <table ng-table="usersTable" class="table table-striped b-t b-b"   show-filter="true">
    <!--<table ng-table="usersTable" class="table table-striped b-t b-b"  ng-controller="tableSorterTickets" show-filter="true">-->
      <thead>
      <tr>
        <th style="width:10%">Ticket</th>
        <th style="width:10%">Status</th>
        <th style="width:10%">Name</th>
        <th style="width:10%">Address</th>
        <th style="width:10%">Code</th>
        <th style="width:10%">Tel</th>
        <th style="width:10%">Email</th>
        <th style="width:10%">Issue</th>
        <th style="width:10%">Comment</th>
        <th style="width:10%">Assigned</th>
        <th style="width:10%">LastUpdate</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="data in dataResult" ng-controller="toolsController" class="{{data.old}}">
        <td  ng-click="displayTicketResume(data.id, data.id_customers)">{{data.ticket_number}}</td>
        <!--<td  ng-click="open(data.id)">{{data.ticket_number}}</td>-->
        <td>{{data.status}}</a></td>
        <td><a href="#/customer?id={{data.customer.id}}">{{data.customer.first_name}}</a></td>
        <td>{{data.address.address}}</td>
        <td>{{data.address.code}}</td>
        <td>{{data.contacts.value}}</td>
        <td>{{data.contacts.value}}</td>
        <td>{{data.reason.short_description}}</td>
        <td ng-mouseover="showFullComment(data.id)" ng-mouseleave="hideFullComment(data.id)" class="comment-long" ng-if="data.ticket_note.comment">{{ data.ticket_note.comment | limitTo:letterLimit }}...
          <div id='ticket-{{ data.id }}' style="display: none;" class="ticket-comment-pop">{{data.ticket_note.comment}}</div>
        </td>
        <td ng-if="!data.ticket_note.comment"> No Comment </td>
        <td>{{data.user_assigned.first_name}}</td>





        <td ng-model="testModel">{{data.updated_at}}</td>





      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--END TICKET LIST-->