<!-- RIBBON -->
<div id="ribbon">

  <!-- breadcrumb -->
  <ol class="breadcrumb">
    <li>Home</li>
    <li>Blank</li>
  </ol>
  <!-- end breadcrumb -->

  <!-- You can also add more buttons to the
  ribbon for further usability

  Example below:

  <span class="ribbon-button-alignment pull-right" style="margin-right:25px">
    <a href="#" id="search" class="btn btn-ribbon hidden-xs" data-title="search"><i class="fa fa-grid"></i> Change Grid</a>
    <span id="add" class="btn btn-ribbon hidden-xs" data-title="add"><i class="fa fa-plus"></i> Add</span>
    <button id="search" class="btn btn-ribbon" data-title="search"><i class="fa fa-search"></i> <span class="hidden-mobile">Search</span></button>
  </span> -->

</div>
<!-- END RIBBON -->





<!-- col -->
<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
  <h1 class="page-title txt-color-blueDark">
    <!-- PAGE HEADER -->
    <i class="fa-fw fa fa-home"></i>Page Header<span> >Subtitle</span>
  </h1>


</div>
<!-- end col -->

<!-- CONTENT -->
  HERE GOES THE CONTENT
<!-- END CONTENT -->






<!--<div ng-controller="getTicketsByMonth" class="col-lg-6">-->
  <!--<h5>Tickets 2015</h5>-->
  <!--<div ng-if="data" ng-controller="getTicketsByMonthChart">-->
    <!--<nvd3 options="options" data="data" ></nvd3>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="col-lg-6" ng-controller="BarCtrl">-->
  <!--<h5>Customers</h5>-->
  <!--<canvas id="bar" class="chart chart-bar"-->
          <!--chart-data="data" chart-labels="labels"> chart-series="series"-->
  <!--</canvas>-->
<!--</div>-->



<!--<div class="col-lg-3" ng-controller="DoughnutCtrl">-->
  <!--<h5>Tickets</h5>-->
  <!--<canvas id="doughnut" class="chart chart-doughnut"-->
          <!--chart-data="data" chart-labels="labels"-->
          <!--chart-colours="colours">-->
  <!--</canvas>-->
<!--</div>-->


<!--<div class="col-lg-3" ng-controller="PieCtrl">-->
  <!--<h5>Support/ppl</h5>-->
  <!--<canvas id="pie" class="chart chart-pie"-->
          <!--chart-data="data" chart-labels="labels" chart-options="options"-->
          <!--chart-colours="colours">-->
  <!--</canvas>-->
<!--</div>-->




<!--<div class="col-lg-3" ng-controller="PolarAreaCtrl">-->
  <!--<h5>Support/ Issue</h5>-->
  <!--<canvas id="polar-area" class="chart chart-polar-area"-->
          <!--chart-data="data" chart-labels="labels" chart-options="options"-->
          <!--chart-colours="colours">-->
  <!--</canvas>-->
<!--</div>-->



<!--<div ng-app="App" ng-controller="warp as account"  class="col-lg-3">-->
  <!--<h5>More INFO</h5>-->
  <!--<nvd3-multi-bar-chart-->
    <!--data="account.exampleData"-->
    <!--id="exampleId"-->
    <!--showXAxis="true"-->
    <!--showYAxis="true"-->
    <!--xAxisTickFormat="account.xAxisTickFormatFunction()"-->
    <!--height="400" color="account.colorFunction()"-->
    <!--stacked="true">-->
    <!--<svg></svg>-->
  <!--</nvd3-multi-bar-chart>-->
<!--</div>-->