<div class="col-lg-12">


<div class="col-lg-4"></div>
<div class="col-lg-4 profile-css">
  <h2> USER PROFILE INFO </h2>

<div class="col-lg-1 img no-padding-sides"><img src="{{profileData.avatar}}" alt=""></div>
<div class="col-lg-6">
  <p>First Name: <label for="">{{ profileData.first_name }}</label> </p>
  <p>Last Name:  <label for="">{{ profileData.last_name }} </label> </p>
  <p>Username:   <label for="">{{ profileData.email }}     </label> </p>

</div>
<div class="col-lg-5 no-padding-sides">
  <p>Social Access: <label for="">{{ profileData.social_access }}</label> </p>
  <p>Alias: <label for="">{{ profileData.alias }}</label> </p>
  <p>Created At: <label for="">{{ profileData.created_at }}</label> </p>
</div>
  <br>
<div class="col-lg-12 m-t-lg set-psw">

  <h3 class="float-left">Update Password</h3>

  <div class="col-lg-3 edit-mode float-right">
    <span class="onoffswitch">
      <input id="st6" class="onoffswitch-checkbox" type="checkbox" ng-empty name="start_interval" ng-model="checkboxModel" ng-click="customerEditMode()">
      <label class="onoffswitch-label" for="st6">
        <span class="onoffswitch-inner" data-swchoff-text="OFF" data-swchon-text="ON"></span>
        <span class="onoffswitch-switch"></span>
      </label>
    </span>
  </div>


  <div class="col-lg-12 no-padding-sides">

    <div class="editable-text animate-if bton">
      <input type="password" id="uno" class="text-muted profile-password" placeholder="Type new Password" name="psw1" ng-model="psw1" ng-keyup="lengthpsw()"/>
      <md-tooltip md-direction="top">
        5 Characters min.
      </md-tooltip>
    </div>

    <div class="editable-text animate-if bton">
      <input type="password" id="dos" class="text-muted profile-password" placeholder="Confirm Password"  name="psw2" ng-model="psw2" ng-keyup="lengthpsw()"/>
      <md-tooltip md-direction="top">
        5 Characters min.
      </md-tooltip>
    </div>

    <div class="text-muted col-lg-6 no-editable-text">New Password</div>

    <div class="col-lg-12 editable-text bton no-padding-sides">
      <md-button class="btn1 float-right " ng-click="updatePassword()" id="pswbton" disabled >
        Update
      </md-button>
    </div>

  </div>


</div>



<!--<p>{{ profileData }}</p>-->
</div>
<div class="col-lg-4"></div>
</div>