<div class="widget-body">

    <form class="dropzone" data-smart-dropzone="dropzoneConfig">
        <div class="dz-default dz-message"><span><span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Drop files <span class="font-xs">to upload</span></span><span>&nbsp;&nbsp;<h4 class="display-inline"> (Or Click)</h4></span></span></span></span></div>
    </form>

</div>







<!--<div class="col-lg-4">-->
    <!--<div class="new-contact-form">-->
        <!--<h3 class="no-margin">Main Client Info</h3>-->
        <!--<building-contact-form>-->
            <!--<form id="new-bc-form" class="form-horizontal">-->

                <!--<fieldset>-->
                    <!--<legend>{{buildingData.name}}-->
                        <!--&lt;!&ndash;<small><strong>id: ({{buildingData.id}})</strong></small>&ndash;&gt;-->
                    <!--</legend>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Client Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="first_name"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Client Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="last_name"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Client Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="contact"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Client Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="fax"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Client Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="company"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Client Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="company"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--&lt;!&ndash; #messages is where the messages are placed inside &ndash;&gt;-->
                    <!--<div class="form-group">-->
                        <!--<div class="col-md-9 col-md-offset-3">-->
                            <!--<div id="messages"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

            <!--</form>-->
        <!--</building-contact-form>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="col-lg-4">-->
    <!--<div class="new-contact-form">-->
        <!--<h3 class="no-margin">Building Info</h3>-->
        <!--<building-contact-form>-->
            <!--<form id="new-bc-form" class="form-horizontal">-->

                <!--<fieldset>-->
                    <!--<legend>{{buildingData.name}}-->
                        <!--&lt;!&ndash;<small><strong>id: ({{buildingData.id}})</strong></small>&ndash;&gt;-->
                    <!--</legend>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Address/Building info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="first_name"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Address/Building info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="last_name"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Address/Building info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="contact"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Address/Building info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="fax"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Address/Building info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="company"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Address/Building info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="company"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--&lt;!&ndash; #messages is where the messages are placed inside &ndash;&gt;-->
                    <!--<div class="form-group">-->
                        <!--<div class="col-md-9 col-md-offset-3">-->
                            <!--<div id="messages"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

            <!--</form>-->
        <!--</building-contact-form>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="col-lg-4">-->
    <!--<div class="new-contact-form">-->
        <!--<h3 class="no-margin">Contract Type</h3>-->
        <!--<building-contact-form>-->
            <!--<form id="new-bc-form" class="form-horizontal">-->

                <!--<fieldset>-->
                    <!--<legend>{{buildingData.name}}-->
                        <!--&lt;!&ndash;<small><strong>id: ({{buildingData.id}})</strong></small>&ndash;&gt;-->
                    <!--</legend>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Contact Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="first_name"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Contact Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="last_name"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Contact Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="contact"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Contact Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="fax"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Contact Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="company"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Contact Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="company"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--&lt;!&ndash; #messages is where the messages are placed inside &ndash;&gt;-->
                    <!--<div class="form-group">-->
                        <!--<div class="col-md-9 col-md-offset-3">-->
                            <!--<div id="messages"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

            <!--</form>-->
        <!--</building-contact-form>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="col-lg-4">-->
    <!--<div class="new-contact-form">-->
        <!--<h3 class="no-margin">Properties Info</h3>-->
        <!--<building-contact-form>-->
            <!--<form id="new-bc-form" class="form-horizontal">-->

                <!--<fieldset>-->
                    <!--<legend>{{buildingData.name}}-->
                        <!--&lt;!&ndash;<small><strong>id: ({{buildingData.id}})</strong></small>&ndash;&gt;-->
                    <!--</legend>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Contact Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="first_name"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Contact Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="last_name"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Contact Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="contact"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Contact Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="fax"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Contact Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="company"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--<div class="form-group">-->
                        <!--<label class="col-md-3 control-label">Contact Info</label>-->
                        <!--<div class="col-md-6">-->
                            <!--<input type="text" class="form-control" name="company"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

                <!--<fieldset>-->
                    <!--&lt;!&ndash; #messages is where the messages are placed inside &ndash;&gt;-->
                    <!--<div class="form-group">-->
                        <!--<div class="col-md-9 col-md-offset-3">-->
                            <!--<div id="messages"></div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</fieldset>-->

            <!--</form>-->
        <!--</building-contact-form>-->
    <!--</div>-->
<!--</div>-->

