<div>
    <div drop-zone ng-model="app.data.upload" class="one padding-10 drop-zone-box">
        <span class="font-lg">
            <i class="fa fa-caret-right text-danger"></i>
            Drop files to upload
            <span>(Or Click)</span>
        </span>
    </div>
    <!-- IF WE NEED THE CLICAB -->
    <div drop-zone ng-model="app.data.upload" class="two"><span>(drop still works)</span></div>
    <!-- IMAGENES -->
    <div class="col-lg-12 preview-images no-padding-sides p-t-lg" ng-if="filesControl.length > 0">
        <div ng-repeat="file in app.data.upload" ng-if="file.type.indexOf('image')!==-1" class="img-box m-t-lg">
            <img src="{{file.data}}" class="" ng-if="file.data"/>
            <div ng-click="removeImage($index)"><i class="fa fa-times"></i></div>
        </div>
    </div>
    <!-- BOTON -->
    <div class="col-lg-12 m-t-lg no-padding-sides">
        <button ng-click="getDataControl()" class="btn btn-default">| Tadaa : Count and Console.Log() Array of Objects : Click |</button>
    </div>
</div>
