@font-face {
  font-family: 'Radikal-Black';
  src: url('../fonts/Radikal-Black.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal-BlackItalic';
  src: url('../fonts/Radikal-BlackItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal-Bold';
  src: url('../fonts/Radikal-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal-BoldItalic';
  src: url('../fonts/Radikal-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal-Light';
  src: url('../fonts/Radikal-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal-LightItalic';
  src: url('../fonts/Radikal-LightItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal-Medium';
  src: url('../fonts/Radikal-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal-MediumItalic';
  src: url('../fonts/Radikal-MediumItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal-Regular';
  src: url('../fonts/Radikal-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal-RegularItalic';
  src: url('../fonts/Radikal-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal-Thin';
  src: url('../fonts/Radikal-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal-ThinItalic';
  src: url('../fonts/Radikal-ThinItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal-UltraThin';
  src: url('../fonts/Radikal-UltraThin.ttf') format('truetype');
}

@font-face {
  font-family: 'Radikal-UltraThinItalic';
  src: url('../fonts/Radikal-UltraThinItalic.ttf') format('truetype');
}
html {
  background: #f8f8f8 none repeat scroll 0 0;
}
body {
  /*font-family: "Lato",sans-serif;*/
  font-family: 'Radikal-Light';
  font-size: 14px;
}

.nav-tabs > li.active > a {
  font-family: 'Radikal-Bold';
  /*font-weight: 700;*/
}

table.dataTable thead th, table.dataTable tfoot th {
  font-family: 'Radikal-Bold';
  /*font-weight: bold;*/
}

h1, h2, h3, h4 {
  /*margin: 0;*/
  font-family: 'Radikal-Regular';
  /*font-weight: 300;*/
}

thead tr {
  font-family: 'Radikal-Bold';
}

p {
  margin: 0 0 3px;
}

h2 {
  margin: 0;
}

.center-logo {
}


.btn-success, .status-dash-btn-1 {
  background: #4caf50;
  color: white;
}
.btn-dark, .status-dash-btn-2 {
  background: #333;
  color: white;
}
.btn-danger, .status-dash-btn-3 {
  background: #d14836;
  color: white;
}
.btn-warning, .status-dash-btn-4 {
  background: #ffc107;
  color: white;
}
.btn-primary, .status-dash-btn-5 {
  background: #3e6cc9;
  color: white;
}
.btn-info, .status-dash-btn-6{
  background: #0aa699;
  color: white;
}
.btn-default, .status-dash-btn-7{
  background: #ddd;
  color: #333;
}

.btn {
  box-shadow: none;
  font-size: 13px;
  min-width: 30px;
  border: none;
  padding: 6px 15px;
}
.icon-version, .m-version{
  display: none;
}
/*.btn-primary:focus,*/
/*.btn-primary.active,*/
/*.btn-primary:active,*/
/*.btn-primary:hover,*/
/*.open > .dropdown-toggle.btn-primary {*/
  /*background-image: linear-gradient(#3e6cc9, #2e51b6);*/
/*}*/
/*.btn-danger:focus,*/
/*.btn-danger.active,*/
/*.btn-danger:active,*/
/*.btn-danger:hover,*/
/*.open > .dropdown-toggle.btn-danger {*/
  /*background-image: linear-gradient(#d14836, #bf4231);*/
/*}*/



.btn-danger:hover,
.btn-success:hover,
.btn-primary:hover,
.btn-info:hover,
.btn-dark:hover,
.btn-warning:hover {
  color: white;
  opacity: .8;
}
.btn-default:hover
{
  color: black;
  opacity: .8;
}

.fixed-header #header {
  border: medium none;
  box-shadow: 0 -1px 4px 2px rgba(0, 0, 0, 0.7);
}

.fixed-navigation nav {
  padding-top: 30px;
}

.fixed-navigation nav > ul {
  overflow: hidden;
  width: 100%;
}

.fixed-navigation nav > ul li {
}

#silverip-side {
  background: #ddd none repeat scroll 0 0;
  height: 100%;
  overflow: auto;
  padding: 10px;
  position: fixed;
  top: 49px;
  transition: all 0.7s ease 0s;
  width: 330px;
  z-index: 10;
}

.silverip-right-hide {
  right: -350px;
}

.silverip-left-hide {
  left: -200px;
}

.silverip-right.true {
  display: block;
}

.silverip-right.false {
  display: none;
}

.hidden-menu.silverip-left-hide {
  left: -340px;
}

#silverip-side.silverip-left, #silverip-side.silverip-right {
}

#silverip-side.silverip-left {
  left: 150px;
}

.hidden-menu #silverip-side.silverip-left {
  left: 0;
}

#silverip-side.silverip-right {
  right: 0;
}

.hidden-menu .silverip-left-location {
  width: calc(100% - 350px);
}

.silverip-left-location {
  float: right;
  width: calc(100% - 500px);
}

.hidden-menu .silverip-right-location {
  width: calc(100% - 350px);
}

.silverip-right-location {
  width: calc(100% - 480px);
}

#main {
  margin-left: 150px;
}

#content {
}

.hidden-menu #main {
  margin-left: 0;
}

.hidden-menu #hide-menu.btn-header {
}

#hide-menu.btn-header {
  transition: all 0.7s ease 0s;
}

#hide-menu.btn-header {
  margin-left: 150px;
  position: relative;
  text-align: center;
  width: 70px;
}

.hidden-menu #hide-menu.btn-header {
}

#hide-menu.btn-header::after {
  bottom: 6px;
  color: white;
  content: "CLOSE";
  font-size: 8px;
  height: 10px;
  left: 0;
  letter-spacing: 1px;
  position: absolute;
  width: 100%;
}

.hidden-menu #left-panel:hover {
  left: -210px;
}

.hidden-menu #hide-menu.btn-header::after {
  content: "MENU";
}

#hide-menu.btn-header button {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  height: 100%;
  position: relative;
  width: 30%;
}

#hide-menu.btn-header button:hover {
  opacity: 0.6;
}

.hidden-menu #hide-menu.btn-header button .uno::after {
  border-left: 5px solid transparent;
  border-right: medium none;
  left: 25px;
}

#hide-menu.btn-header button .uno::after {
  border-bottom: 5px solid transparent;
  border-right: 5px solid #7190aa;
  border-top: 5px solid transparent;
  content: " ";
  height: 0;
  left: -9px;
  opacity: 1;
  position: absolute;
  top: -4px;
  width: 0;
}

#hide-menu.btn-header button .uno {
  border-radius: 5px;
  height: 2px;
  left: 0;
  position: absolute;
  top: 20px;
  transition: all 0.7s ease 0s;
  width: 100%;
}

.hidden-menu #hide-menu.btn-header button .uno {
  background: white none repeat scroll 0 0;
}

#hide-menu.btn-header button .uno {
  background: transparent none repeat scroll 0 0;
}

#hide-menu.btn-header button .uno span::after {
  top: -1px;
  transform: rotate(45deg);
}

.hidden-menu #hide-menu.btn-header button .uno span::after {
  top: 7px;
  transform: inherit;
}

#hide-menu.btn-header button .uno span::before {
  top: -1px;
  transform: rotate(-45deg);
}

.hidden-menu #hide-menu.btn-header button .uno span::before {
  top: -7px;
  transform: inherit;
}

#hide-menu.btn-header button .uno span::after, #hide-menu.btn-header button .uno span::before {
  background: white none repeat scroll 0 0;
  border-radius: 5px;
  content: " ";
  height: 2px;
  left: 0;
  position: absolute;
  transition: all 0.7s ease 0s;
  width: 100%;
}

#left-panel {
}

.minifyme p {
  font-family: Helvetica;
  padding-top: 5px;
}

.minifyme p:hover {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-image: none;
  border-radius: 5px;
  border-style: solid none solid solid;
  border-width: 1px medium 1px 1px;
}

.jarviswidget > header {
  background: #e4eaf3 none repeat scroll 0 0;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
  background: transparent none repeat scroll 0 0;
}

.nav > li > a:focus, .nav > li > a:hover {
  background: #f7f9fb none repeat scroll 0 0;
}

table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
  background: #f7f9fb none repeat scroll 0 0;
}

.smart-style-7 a {
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s;
}

.smart-style-7 body.container {
  border-left: 1px solid rgba(34, 38, 46, 0.4);
  border-right: 1px solid rgba(34, 38, 46, 0.4);
}

body.smart-style-7 {
  background: #f8f8f8 none repeat scroll 0 0;
}

.smart-style-7 #header {
  background-color: #0f94f6;
  /*background-color: #1AA0B3;*/
  background-image: none;
  box-shadow: 0 -1px 4px 2px rgba(0, 0, 0, 0.7);
}

.smart-style-7 .project-context > *:first-child {
  color: #697b92;
  text-shadow: 0 0 1px #111318;
}

.smart-style-7 #ribbon {
  background: #f7f9fb none repeat scroll 0 0;
}

.smart-style-7 .breadcrumb > li + li::before {
  color: #646464;
}

.smart-style-7 .project-selector {
  color: #b9b9b9;
}

.smart-style-7 .btn.btn-ribbon {
  background-color: #697486;
  background-image: linear-gradient(to bottom, #6f7d94, #697486);
}

.smart-style-7 #logo-group {
}

.smart-style-7 #logo-group span#activity {
  background: #0d0f12 none repeat scroll 0 0;
  border: 1px solid #0d0f12;
  color: #fff;
  cursor: pointer;
}

.smart-style-7 #logo-group > span .badge {
  background: #0aa699 none repeat scroll 0 0;
}

.smart-style-7 .btn-header > *:first-child > a {
  background: #1AA0B3 none repeat scroll 0 0;
  border: none;
  color: #fff;
  cursor: pointer;
}

.smart-style-7 .btn-header > *:first-child > a:hover {
  opacity: 0.9;
}

.smart-style-7 #cancel-search-js {
  background: #fb3c4a none repeat scroll 0 0;
  line-height: 29px;
}

.smart-style-7 .MsgTitle .txt-color-orangeDark {
  color: #fb3c4a;
}

.smart-style-7 .minifyme {
  background: #4497cd none repeat scroll 0 0;
  border-bottom: 1px solid #2f698f;
  color: #fff;
}

.smart-style-7 .minifyme:hover {
  background: #4ba6e2 none repeat scroll 0 0;
}

.smart-style-7 #show-shortcut:hover > i {
  color: #fff;
}

.smart-style-7 .superbox-list.active::before {
  color: #1b1e24;
}

.smart-style-7 nav ul b {
  font-size: 14px;
  margin-top: 0;
}

.smart-style-7 nav ul b .fa-plus-square-o::before {
  content: "";
}

.smart-style-7 nav ul b .fa-minus-square-o::before {
  content: "";
}

.smart-style-7 nav ul ul {
  background: #22262e none repeat scroll 0 0;
}

.smart-style-7 nav ul ul li > a {
  color: #e1eaf1;
  display: block;
  font-size: 13px;
  font-weight: 300;
  overflow: hidden;
  padding-bottom: 6px;
  padding-left: 43px;
  padding-top: 6px;
  text-shadow: 0 1px 1px #000;
}

.smart-style-7 nav ul ul li > a:hover {
  background: #1b1e24 none repeat scroll 0 0;
}

.smart-style-7 nav ul ul ul li a {
  padding: 8px 17px 8px 54px;
}

.smart-style-7 nav ul ul ul ul li a {
  padding-left: 72px;
}

.smart-style-7 nav ul ul ul ul ul li a {
  padding-left: 90px;
}

.smart-style-7 nav ul ul ul ul ul ul li a {
  padding-left: 108px;
}

.smart-style-7 nav ul li a:active {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.smart-style-7 nav ul li a:hover {
  color: #0f94f6;
}

.smart-style-7 nav ul li a {
  padding: 12px 17px 12px 16px;
}

.smart-style-7 nav > ul > li > a > i {
  font-size: 17px;
  vertical-align: 0;
}

.smart-style-7 nav > ul > li > a b {
  right: 17px;
  top: 12px;
}

.smart-style-7 nav > ul > li > a > i::after {
  border: 1px solid #fff;
}

.smart-style-7 nav > ul > li > a:hover i {
  animation-name: none;
}

.smart-style-7 .header-search > input[type="text"] {
  border-color: #fff;
  border-radius: 2px;
}

.smart-style-7 .header-dropdown-list a.dropdown-toggle {
  color: #fff;
  text-decoration: none;
}

.smart-style-7 .login-info {
  background: rgba(0, 0, 0, 0) url("/img/cover.png") no-repeat scroll center center / cover;
  border: 0 none;
  height: 100px;
  margin-top: -1px;
}

.smart-style-7 .login-info > span {
  border: 0 none;
  height: 100px;
  padding: 0;
}

.smart-style-7 .login-info img {
  border: 3px solid rgba(0, 0, 0, 0.14);
  border-radius: 50%;
  box-sizing: content-box;
  height: 40px;
  max-height: 40px;
  width: 40px;
}

.smart-style-7 .login-info a {
  display: block;
  margin: 0;
  padding: 10px;
}

.smart-style-7 .login-info a span {
  background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
  color: #fff;
  display: block;
  margin-left: -10px;
  margin-top: 13px;
  max-width: 100%;
  padding: 5px 10px;
  width: 100%;
}

.login-info a span + i {
  font-size: 26px;
  position: relative;
  text-align: right;
  top: -29px;
  width: 90%;
}

.smart-style-7 .login-info a:hover {
  color: #fff;
}

.smart-style-7 #activity.active .badge {
  background: #0aa699 none repeat scroll 0 0;
}

.smart-style-7 .ajax-dropdown {
  background: #e2e8f1 none repeat scroll 0 0;
}

.smart-style-7 .ajax-notifications {
  background: #fff none repeat scroll 0 0;
}

.smart-style-7 img.online {
  border-left-color: #0aa699;
}

.smart-style-7 .onoffswitch-inner::before {
  background-color: #36aecc;
}

.smart-style-7 .bg-color-red {
  background-color: #fb3c4a;
}

.smart-style-7 .jarviswidget-color-darken > header {
  background: #1b1e24 none repeat scroll 0 0;
  border-color: #1b1e24;
}

.smart-style-7 .jarviswidget-color-blueDark > header {
  background: #353d4b none repeat scroll 0 0;
  border-color: #353d4b;
}

.smart-style-7 .jarviswidget-color-blue > header {
  background: #688f9e none repeat scroll 0 0;
  border-color: #6a838d;
}

.smart-style-7 .jarviswidget-color-purple > header {
  background: #736086 none repeat scroll 0 0;
}

.smart-style-7 .jarviswidget-color-red > header {
  background: #c02631 none repeat scroll 0 0;
  border-color: #8f2129;
}

.smart-style-7 .jarviswidget .bg-color-red {
  background: #c02631 none repeat scroll 0 0;
}

.smart-style-7 .ui-chatbox-titlebar {
  background: #3e4553 none repeat scroll 0 0;
}

.smart-style-7 .ui-chatbox-titlebar.ui-state-focus {
  background: #1b1f27 none repeat scroll 0 0;
}

.smart-style-7 #ribbon .breadcrumb li:last-child, .smart-style-7 #ribbon .breadcrumb > .active {
  color: #868686;
}

.smart-style-7 #ribbon .breadcrumb, .smart-style-7 #ribbon .breadcrumb a {
  color: #747474;
}

.smart-style-7 .dropdown-menu, .smart-style-7 .open > .dropdown-menu {
  padding: 4px;
}

.smart-style-7 .dropdown-menu > li > a {
  border-radius: 4px;
  margin: 3px 0;
}

.smart-style-7 .page-footer, .smart-style-7 .superbox-show, .smart-style-7 aside {
  background: #f2f2f2 none repeat scroll 0 0;
  width: 150px;
}

.smart-style-7 .page-footer {
  background: #578294 none repeat scroll 0 0;
  padding-top: 20px;
  width: 100%;
}

.smart-style-7 .login-info, .smart-style-7 .login-info span {
  border-bottom: medium none;
}

.smart-style-7 nav > ul ul li::before, .smart-style-7 nav > ul > li > ul::before {
  border: medium none;
}

.smart-style-7 .login-info a, .smart-style-7 .login-info strong, .smart-style-7 nav ul li a {
  color: #333;
}

.smart-style-7 nav ul li.active a {
  color: #578294 !important;
}

.smart-style-7 nav ul li.active > a::before {
  color: #578294;
  right: -35px;
}

.smart-style-7 .pagination > .active > a, .smart-style-7 .pagination > .active > a:focus, .smart-style-7 .pagination > .active > a:hover, .smart-style-7 .pagination > .active > span, .smart-style-7 .pagination > .active > span:focus, .smart-style-7 .pagination > .active > span:hover {
  background-color: #36aecc;
  border-color: #36aecc;
}

.smart-style-7.minified .login-info a {
  margin-top: 6px;
}

.smart-style-7.minified .login-info img {
  width: 30px;
}

.smart-style-7.minified .login-info span {
  padding: 0 5px;
}

.smart-style-7.minified nav ul li a {
  padding: 12px 17px 12px 14px;
}

.smart-style-7.minified nav ul ul li > a:hover {
  background: #30343d none repeat scroll 0 0;
}

.smart-style-7.minified nav ul ul li > a {
  padding-left: 13px;
  padding-right: 13px;
}

.smart-style-7.minified nav ul ul ul li a {
  padding-left: 33px;
  padding-right: 13px;
}

.smart-style-7.minified nav ul ul ul ul li a {
  padding-left: 43px;
  padding-right: 13px;
}

.smart-style-7.minified nav ul ul ul ul ul li a {
  padding-left: 53px;
  padding-right: 13px;
}

.smart-style-7.minified nav ul ul ul ul ul ul li a {
  padding-left: 63px;
  padding-right: 13px;
}

.smart-style-7.minified nav ul > li > ul > li > ul {
  background: #1b1e24 none repeat scroll 0 0;
}

.smart-style-7.minified nav > ul > li {
  border-bottom: 1px solid #131416;
  border-top: 1px solid #303031;
}

.smart-style-7.minified nav > ul > li > a > i {
  font-size: 18px;
}

.smart-style-7.minified nav > ul > li > ul {
  background: #1b1e24 none repeat scroll 0 0;
}

.smart-style-7.minified nav > ul > li > ul > li {
  background: #22262e none repeat scroll 0 0;
}

.smart-style-7.minified nav > ul > li > ul > li > ul > li {
  background: #1b1e24 none repeat scroll 0 0;
}

.smart-style-7 .jarviswidget .bg-color-greenLight, .smart-style-7 .jarviswidget-color-greenLight > header {
  background: #96b447 none repeat scroll 0 0;
  border-color: #96b447;
}

.smart-style-7 .jarviswidget .bg-color-yellow, .smart-style-7 .jarviswidget-color-yellow > header {
  background: #fdd01c none repeat scroll 0 0;
  border-color: #dbb727;
  color: #25241f;
}

.smart-style-7 .jarviswidget .bg-color-pink, .smart-style-7 .jarviswidget-color-pink > header {
  background: #db8ebb none repeat scroll 0 0;
}

.smart-style-7.menu-on-top nav ul ul li > a {
  color: #646e75;
  text-shadow: none;
}

.smart-style-7.menu-on-top nav ul ul li a {
  font-size: 13px;
  padding-left: 10px;
}

.smart-style-7.menu-on-top nav ul ul li:hover > a {
  background-color: #1b1e24;
  color: #fff;
}

.smart-style-7.menu-on-top nav ul ul .active > a {
  color: #fff;
}

.smart-style-7.menu-on-top nav > ul ul ul {
  border-top: 1px solid #c7c7c7;
}

.smart-style-7.menu-on-top nav > ul ul li:hover > ul {
  background: #333 none repeat scroll 0 0;
}

.smart-style-7.menu-on-top nav > ul > li > a::after {
  color: #8aa1b3;
}

.smart-style-7.menu-on-top aside {
  background: #14161b none repeat scroll 0 0;
}

.smart-style-7.menu-on-top aside#left-panel {
  border-bottom: 1px solid #222;
  border-top: 1px solid #333;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}

.smart-style-7.menu-on-top aside#left-panel nav > ul > li {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

.smart-style-7.menu-on-top aside#left-panel nav > ul > li > a {
  font-size: 13px;
  padding: 10px 9px;
  text-shadow: none;
}

.smart-style-7.menu-on-top aside#left-panel nav > ul > li > ul {
  background: #3a3633 none repeat scroll 0 0;
}

.smart-style-7.menu-on-top aside#left-panel nav > ul > li:hover {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #04070c, #2e3e57 66%) repeat scroll 0 0;
  border-left-color: #333;
  border-right-color: #333;
}

.smart-style-7.menu-on-top aside#left-panel nav > ul > li:hover > a {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  color: #f1f1f1;
  padding-left: 8px;
  padding-right: 8px;
}

.smart-style-7.menu-on-top nav ul ul li a, .smart-style-7.menu-on-top nav ul ul ul li a {
  color: #d8dee5;
}

.smart-style-7.menu-on-top nav ul ul li a:hover, .smart-style-7.menu-on-top nav ul ul ul li a:hover {
  background-color: #1b1e24;
  color: #fff;
}

.smart-style-7.menu-on-top nav ul ul, .smart-style-7.menu-on-top nav ul ul ul {
  background: #2e3e57 none repeat scroll 0 0;
  border: 1px solid transparent;
  padding: 0;
}

.smart-style-7.menu-on-top nav ul ul li:hover > a::after, .smart-style-7.menu-on-top nav > ul ul > li a::after, .smart-style-7.menu-on-top nav > ul ul > li a:hover::after, .smart-style-7.menu-on-top nav > ul > li > a::after {
  color: #d5d5d5;
}

.smart-style-7.menu-on-top nav ul ul li:hover > a::after, .smart-style-7.menu-on-top nav > ul ul > li a:hover::after {
  color: #fff;
}

.smart-style-7.menu-on-top nav > ul ul > li a:only-child::after, .smart-style-7.menu-on-top nav > ul > li > a:only-child::after {
  content: "";
}

.smart-style-7.menu-on-top nav ul ul li.active:hover > a, .smart-style-7.menu-on-top nav ul ul li.active > a:hover {
  color: #fff;
}

#logo-group.logo-ui-uno {
  left: 0;
  position: fixed;
  width: 150px;
}

.smart-style-7 #header .user-ui-uno {
  width: 150px;
}

.smart-style-7 section, .smart-style-7 article {
  margin-bottom: 100px;
}

.smart-style-7 section.null-section, .smart-style-7 article.null-article {
  margin-bottom: inherit;
}

.smart-style-7 .editable-click, .smart-style-7 a.editable-click, .smart-style-7 a.editable-click:hover {
  border-color: red;
}

.smart-style-7 #shortcut {
  background: white none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #333;
  left: 15px;
  padding: 10px 10px 10px 15px;
  top: 100px;
  width: 15%;
}

.smart-style-7 #shortcut .short-profile-img {
  border-radius: 5px;
  float: left;
}

.smart-style-7 #shortcut .short-profile-img img {
  border-radius: 50%;
}

.smart-style-7 #shortcut .short-profile-name {
  float: left;
  font-size: 18px;
  font-weight: bold;
  margin-left: 15px;
  padding-top: 16px;
}

.smart-style-7 #shortcut ul {
  border: medium none;
  box-shadow: none;
  float: left;
  margin: 10px 0 0;
  padding: 0;
}

.smart-style-7 #shortcut li {
  font-size: 14px;
  width: 100%;
}

.smart-style-7 #shortcut li a {
}

.smart-style-7 #shortcut a span {
}

.smart-style-7 #shortcut span i {
}

.smart-style-7 #shortcut span span {
}

.smart-style-7 .ui-accordion .ui-accordion-header, .smart-style-7 .ui-accordion-content {
}

@media (max-width: 979px) and (min-width: 768px) {
  .smart-style-7 #hide-menu i {
    color: #fff;
  }
}

@media (max-width: 767px) {
  .smart-style-7 #hide-menu i {
    color: #fff;
  }
}

@media only screen and (max-width: 679px) and (min-width: 0px) {
  .smart-style-7 #hide-menu i {
    color: #fff;
  }
}

@media only screen and (max-width: 479px) and (min-width: 320px) {
  .smart-style-7 #sparks {
    background: #fff none repeat scroll 0 0;
  }

  .smart-style-7 #cancel-search-js, .smart-style-7 .search-mobile .header-search > button {
    border-radius: 3px;
  }
}

#divSmallBoxes {
  background: rgba(0, 0, 0, 0) linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) repeat scroll 0 0;
}

#divSmallBoxes div {
  background: rgba(0, 0, 0, 0) linear-gradient(to right bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)) repeat scroll 0 0;
  color: #1da3fc;
  font-weight: inherit;
}

#divSmallBoxes .miniIcono {
  display: none;
}

.SmallBox .textoFull {
  width: 100%;
}

nav ul li a {
  font-size: 13px;
}

.table-container {
  border: medium none;
}

.table-container thead tr th {
  border-bottom: 1px solid #ddd;
}

.table-container thead tr {
  background: transparent none repeat scroll 0 0;
}

.table-container table tbody tr:nth-child(2n) {
}

.tickets-history-table.table-container table tbody tr td {
}

.table-container table tbody tr td {
  border: medium none;
  padding: 5px 4px;
  position: relative;
  vertical-align: middle;
}

.table-container table tbody tr:hover {
  background: #f8f8f8 none repeat scroll 0 0;
}

.table-container.tc-c-info table, .table-container.tc-c-info table tbody tr td {
  border-style: none none solid;
  border-width: medium medium 1px;
}

.nav-tabs > li.active > a {
  box-shadow: 0 -2px 0 #fed368;
}

.customer-network .widget-body-toolbar {
  background: transparent none repeat scroll 0 0;
  border-bottom: 1px solid #ddd;
  color: #666;
  font-family: 'Radikal-Bold';
  font-size: 13px;
  margin: 0;
  min-height: 2px;
  padding: 0 13px 5px;
}



.btn {
  box-shadow: none;
  font-size: 13px;
  min-width: 30px;
}

.btn.selected {
  box-shadow: 0px 6px 0px -2px rgba(0, 0, 0, .3) inset;
}

.status-Client {
  color: #85cc24;
}

.status-dot {
  font-size: 14px;
  position: relative;
  top: -3px;
}

.edit-info-simple-text {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  color: #1da3fc;
  cursor: pointer;
  font-size: 13px;
}

.edit-info-simple-text:hover {
  opacity: 0.7;
}

.admin #status-select {
  color: #15273c;
}

.status-color-admin {
  border-top: 5px solid #15273c;
  padding-top: 5px;
}

.down-status {
  color: crimson;
}

.active #status-select, .up-status {
  color: #00c853;
}

.status-color-down-left-border {
  border-left: 2px solid crimson;
  padding-left: 5px !important;
}

.status-color-up-left-border {
  border-left: 2px solid #00c853;
  padding-left: 5px !important;
}

.status-color-active, .status-color-up {
  border-top: 5px solid #00c853;
  padding-top: 5px;
}

.pending #status-select {
  color: #ffd600;
}

.status-color-pending {
  border-top: 5px solid #ffd600;
  padding-top: 5px;
}

.disabled #status-select {
  color: #e8e8e8;
}

.status-color-disabled {
  border-top: 5px solid #e8e8e8;
  padding-top: 5px;
}

.decommissioned #status-select {
  color: #ff6d00;
}

.status-color-decommissioned {
  border-top: 5px solid #ff6d00;
  padding-top: 5px;
}

.new #status-select, .new-status {
  color: #0086ff;
}

.status-color-new {
  border-top: 5px solid #0086ff;
  padding-top: 5px;
}

.address-bld-img-hover {
  cursor: pointer;
  position: relative;
}

.address-bld-img-hover:hover + div {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  display: block;
  overflow: hidden;
  padding: 5px;
  position: absolute;
  right: -50%;
  top: -30%;
  width: 50%;
  z-index: 100;
}

.address-bld-img-hover:hover + div img {
  width: 100%;
}

#activity-log {
  background: #f6f6f6 none repeat scroll 0 0;
  border-radius: 7px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  float: left;
  overflow: hidden;
  width: 100%;
}

#activity-log .log-entry {
  float: left;
  width: 100%;
}

#activity-log .al-box {
  padding-top: 10px;
}

#activity-log .al-box .al-title {
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  padding: 0 10px 10px;
}

#activity-log .al-box .al-title i {
  width: 15px;
}

#activity-log .al-box .al-box-container {
  background: #f3f3f3 none repeat scroll 0 0;
  padding: 0;
}

#activity-log .al-box .al-type-title {
  background: #e8e8e8 none repeat scroll 0 0;
  color: #3e3f3e;
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
}

#activity-log .log-content {
  padding: 10px;
}

#activity-log .log-content .al-lg-timestamp {
  float: left;
  font-weight: bold;
  letter-spacing: 0.7px;
  width: 60%;
}

#activity-log .log-content .al-lg-header {
  clear: both;
  float: left;
  width: 100%;
}

#activity-log .al-lg-header .lg-type {
  float: left;
  margin: 0;
  width: 25%;
}

#activity-log .al-lg-header .lg-type span {
  background: #1ae6e6 none repeat scroll 0 0;
  border-radius: 3px;
  color: white;
  padding: 2px 5px;
  text-shadow: 2px 0 1px rgba(0, 0, 0, 0.2);
}

#activity-log .al-lg-header .lg-type::first-letter {
  text-transform: uppercase;
}

#activity-log .al-lg-header .lg-user {
  float: left;
  margin: 0;
  width: 40%;
}

#activity-log .al-lg-header .lg-user span {
  background: #ffce54 none repeat scroll 0 0;
  border-radius: 3px;
  color: white;
  padding: 2px 5px;
  text-shadow: 2px 0 1px rgba(0, 0, 0, 0.2);
}

#activity-log .al-lg-header .lg-user span.system {
  background: #0f94f6 none repeat scroll 0 0;
  letter-spacing: .7px;
}

#activity-log .log-content .al-lg-description {
  border-bottom: 1px solid #dad8da;
  clear: both;
  max-height: 150px;
  overflow: auto;
  padding: 0;
  text-align: left;
}

#activity-log .log-content .al-lg-actions {
  border-bottom: 1px solid #dad8da;
  padding: 5px 0 10px;
}

#activity-log .log-content .al-lg-actions span {
  float: left;
  width: 100%;
}

#activity-log .log-content .al-lg-actions button, .al-lg-actions button {
  border: medium none;
  margin: 0 2%;
  padding: 0;
  position: relative;
  width: 20%;
}

.big-font {
  font-size: 20px;
}

.type-ticket .btn-default::after, .type-ticket .btn-success::after, .type-ticket .btn-primary::after, .type-ticket .btn-danger::after {
  bottom: -8px;
  font-size: 9px;
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%;
}

.type-ticket .btn-default::after {
  color: #1da3fc;
  content: "View Ticket";
}

.type-ticket .btn-success::after {
  color: #4caf50;
  content: "Escalate Ticket";
}

.type-ticket .btn-primary::after {
  color: #3e6cc9;
  content: "View Invoice";
}

.type-ticket .btn-danger::after {
  color: #d14836;
  content: "Close Ticket";
}

.log-c-a {
  float: left;
  width: 75%;
}

.log-c-b {
  float: left;
  text-align: center;
  width: 20%;
}

.al-box-container {
  float: left;
  width: 100%;
}

.log-c-b button {
  height: 35px;
  margin-bottom: 5px;
  width: 100%;
}

.customer-dash-grid {
}

.customer-dash-grid .cdg-block {
  height: 35px;
}

.customer-dash-grid .cdg-block .cdg-status {
  height: 100%;
  position: relative;
  width: 5px;
}

.cdg-color-down, .cdg-color-missing {
  background: #ec6f69 none repeat scroll 0 0;
}

.cdg-color-up {
  background: #a6c659 none repeat scroll 0 0;
}

.cdg-color-t1 {
  background: #ffce54 none repeat scroll 0 0;
}

.cdg-color-ok {
  background: #0086ff none repeat scroll 0 0;
}

.customer-dash-grid .cdg-block .cdg-content {
  background: #f4f6f8 none repeat scroll 0 0;
  height: 100%;
  width: calc(100% - 5px);
}

.customer-dash-grid .cdg-block .cdg-content label {
  float: left;
  font-size: 12px;
  height: 100%;
  padding-left: 10px;
  padding-top: 9px;
  width: 50%;
}

.customer-dash-grid .cdg-block .cdg-content span {
  color: #333;
  float: left;
  font-size: 17px;
  font-weight: bold;
  height: 100%;
  padding-top: 6px;
  text-align: center;
  width: 40%;
}

.customer-dash-grid .cdg-block .cdg-content i {
  color: #adb7bd;
  float: left;
  font-size: 20px;
  height: 100%;
  padding-top: 7px;
  text-align: center;
  width: 10%;
}
.customer-dash-grid .cdg-block .cdg-content i.fa-spinner {
  padding-top: 0;
  width: 100%;
}
#paymentmethodform {

}
#paymentmethodform span {

}
#paymentmethodform label {

}
#paymentmethodform input {

}
.bld-search .search-content {
  width: 95%;
}

.bld-search .bld-close-search {
  width: 5%;
}

.customer-info-container {
  max-width: 280px;
}
#new-building-form .form-control{
  padding: 0;
  margin: 0;
  font-size: inherit;
}
#new-building-form{}
#new-building-form .form-control[disabled],#new-building-form  .form-control[readonly],#new-building-form  fieldset[disabled] .form-control{
  background: none;
}
.fixed-customer-size{
  min-width: 300px;
  max-width: 300px;
}
.bv-form .help-block{
  color: #888;
}