
html {
  background: white none repeat scroll 0 0;
}
.center-logo {
}
.fixed-header #header {
  border: medium none;
  box-shadow: 0 -1px 4px 2px rgba(0, 0, 0, 0.7);
}
#silverip-side {
  background: #f1f1f1 none repeat scroll 0 0;
  height: 100%;
  overflow: auto;
  padding: 10px;
  position: fixed;
  top: 49px;
  transition: all 0.7s ease 0s;
  width: 350px;
  z-index: 10;
}
.silverip-right-hide {
  right: -350px;
}
.silverip-left-hide {
  left: -200px;
}
.hidden-menu.silverip-left-hide {
  left: -340px;
}
#silverip-side.silverip-left, #silverip-side.silverip-right {
}
#silverip-side.silverip-left {
  left: 150px;
}
.hidden-menu #silverip-side.silverip-left {
  left: 0;
}
#silverip-side.silverip-right {
  right: 0;
}
.hidden-menu .silverip-left-location {
  width: calc(100% - 350px);
}
.silverip-left-location {
  float: right;
  width: calc(100% - 500px);
}
.hidden-menu .silverip-right-location {
  width: calc(100% - 350px);
}
.silverip-right-location {
  width: calc(100% - 500px);
}
#main {
  margin-left: 150px;
}
.hidden-menu #main {
  margin-left: 0;
}
.hidden-menu #hide-menu.btn-header {
  background: #1a3047 none repeat scroll 0 0;
}
#hide-menu.btn-header {
  background: #1e5f90 none repeat scroll 0 0;
}
#hide-menu.btn-header {
  border-right: 1px solid white;

  position: relative;
  text-align: center;
  width: 70px;
}
.hidden-menu #hide-menu.btn-header {
  display: block;
}
#hide-menu.btn-header::after {
  bottom: 6px;
  color: white;
  font-size: 8px;
  height: 10px;
  left: 0;
  letter-spacing: 1px;
  position: absolute;
  width: 100%;
}
.hidden-menu #left-panel:hover {
  left: -210px;
}
.hidden-menu #hide-menu.btn-header::after {
  content: "MENU";
}
#hide-menu.btn-header button {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  height: 100%;
  position: relative;
  width: 30%;
}
#hide-menu.btn-header button:hover {
  opacity: 0.6;
}
#hide-menu.btn-header button .uno {
  border-radius: 5px;
  height: 2px;
  left: 0;
  position: absolute;
  top: 18px;
  transition: all 0.7s ease 0s;
  width: 100%;
}
.hidden-menu #hide-menu.btn-header button .uno {
  background: white none repeat scroll 0 0;
}
#hide-menu.btn-header button .uno {
  background: transparent none repeat scroll 0 0;
}
#hide-menu.btn-header button .uno span::after {
  top: 0;
  transform: rotate(-45deg);
}
.hidden-menu #hide-menu.btn-header button .uno span::after {
  top: -7px;
  transform: inherit;
}
#hide-menu.btn-header button .uno span::before {
  top: 0;
  transform: rotate(45deg);
}
.hidden-menu #hide-menu.btn-header button .uno span::before {
  top: 7px;
  transform: inherit;
}
#hide-menu.btn-header button .uno span::after, #hide-menu.btn-header button .uno span::before {
  background: white none repeat scroll 0 0;
  border-radius: 5px;
  content: " ";
  height: 2px;
  left: 0;
  position: absolute;
  transition: all 0.7s ease 0s;
  width: 100%;
}
.minifyme p {
  font-family: Helvetica;
  padding-top: 5px;
}
.minifyme p:hover {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #ddd -moz-use-text-color #ddd #ddd;
  border-image: none;
  border-radius: 5px;
  border-style: solid none solid solid;
  border-width: 1px medium 1px 1px;
}
.fc-border-separate thead tr, .table thead tr {
  background: #e4eaf3 none repeat scroll 0 0;
}
.jarviswidget > header {
  background: #e4eaf3 none repeat scroll 0 0;
}
.smart-form.widget-body-toolbar, .widget-body-toolbar {
  background: #e4eaf3 none repeat scroll 0 0;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background: #e4eaf3 none repeat scroll 0 0;
}
.nav > li > a:focus, .nav > li > a:hover {
  background: #f7f9fb none repeat scroll 0 0;
}
table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc {
  background: #f7f9fb none repeat scroll 0 0;
}
.btn-primary {
  background-color: #3e6cc9;
  background-image: -moz-linear-gradient(center top , #3e6cc9, #2e51b6);
}
.btn-danger {
  background: #d14836 -moz-linear-gradient(center top , #dd4b39, #d14836) repeat scroll 0 0;
}
.btn-warning {
  background: #ffc107 -moz-linear-gradient(center top , #ffc107, #c29306) repeat scroll 0 0;
}
.smart-style-7 a {
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s !important;
}
.smart-style-7 body.container {
  border-left: 1px solid rgba(34, 38, 46, 0.4);
  border-right: 1px solid rgba(34, 38, 46, 0.4);
}
body.smart-style-7 {
  background: white none repeat scroll 0 0 !important;
}
.smart-style-7 #header {
  background: #1a3047;
  box-shadow: 0 -1px 4px 2px rgba(0, 0, 0, 0.7);
}
.smart-style-7 .project-context > *:first-child {
  color: #697b92;
  text-shadow: 0 0 1px #111318;
}
.smart-style-7 #ribbon {
  background: #f7f9fb none repeat scroll 0 0;
}
.smart-style-7 .breadcrumb > li + li::before {
  color: #646464;
}
.smart-style-7 .project-selector {
  color: #b9b9b9;
}
.smart-style-7 .btn.btn-ribbon {
  background-color: #697486;
  background-image: linear-gradient(to bottom, #6f7d94, #697486);
}
.smart-style-7 #logo-group {
  background: transparent none repeat scroll 0 0;
}
.smart-style-7 #logo-group span#activity {
  background: #0d0f12 none repeat scroll 0 0;
  border: 1px solid #0d0f12;
  color: #fff;
  cursor: pointer;
}
.smart-style-7 #logo-group > span .badge {
  background: #0aa699 none repeat scroll 0 0;
}
.smart-style-7 .btn-header > *:first-child > a {
  background: #fb804b none repeat scroll 0 0;
  border: 1px solid #fb804b;
  color: #fff !important;
  cursor: pointer !important;
}
.smart-style-7 .btn-header > *:first-child > a:hover {
  opacity: 0.9;
}
.smart-style-7 #cancel-search-js {
  background: #fb3c4a none repeat scroll 0 0;
  line-height: 29px !important;
}
.smart-style-7 .MsgTitle .txt-color-orangeDark {
  color: #fb3c4a !important;
}
.smart-style-7 .minifyme {
  background: #4497cd none repeat scroll 0 0;
  border-bottom: 1px solid #2f698f;
  color: #fff;
}
.smart-style-7 .minifyme:hover {
  background: #4ba6e2 none repeat scroll 0 0;
}
.smart-style-7 #show-shortcut:hover > i {
  color: #fff;
}
.smart-style-7 .superbox-list.active::before {
  color: #1b1e24;
}
.smart-style-7 nav ul b {
  font-size: 14px;
  margin-top: 0;
}
.smart-style-7 nav ul b .fa-plus-square-o::before {
  content: "";
}
.smart-style-7 nav ul b .fa-minus-square-o::before {
  content: "";
}
.smart-style-7 nav ul ul {
  background: #22262e none repeat scroll 0 0;
}
.smart-style-7 nav ul ul li > a {
  color: #e1eaf1;
  display: block;
  font-size: 13px;
  font-weight: 300;
  overflow: hidden;
  padding-bottom: 6px !important;
  padding-left: 43px;
  padding-top: 6px !important;
  text-shadow: 0 1px 1px #000;
}
.smart-style-7 nav ul ul li > a:hover {
  background: #1b1e24 none repeat scroll 0 0 !important;
}
.smart-style-7 nav ul ul ul li a {
  padding: 8px 17px 8px 54px !important;
}
.smart-style-7 nav ul ul ul ul li a {
  padding-left: 72px !important;
}
.smart-style-7 nav ul ul ul ul ul li a {
  padding-left: 90px !important;
}
.smart-style-7 nav ul ul ul ul ul ul li a {
  padding-left: 108px !important;
}
.smart-style-7 nav ul li a:active {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.smart-style-7 nav ul li a:hover {
  color: #94bddf;
}
.smart-style-7 nav ul li a {
  padding: 12px 17px 12px 16px;
}
.smart-style-7 nav > ul > li > a > i {
  font-size: 17px;
  vertical-align: 0;
}
.smart-style-7 nav > ul > li > a b {
  right: 17px;
  top: 12px;
}
.smart-style-7 nav > ul > li > a > i::after {
  border: 1px solid #fff;
}
.smart-style-7 nav > ul > li > a:hover i {
  animation-name: none;
}
.smart-style-7 .header-search > input[type="text"] {
  border-color: #fff !important;
  border-radius: 2px;
}
.smart-style-7 .header-dropdown-list a.dropdown-toggle {
  color: #fff;
  text-decoration: none;
}
.smart-style-7 .login-info {
  box-shadow: 0 0.5px 0 white;
  height: auto;
}
.smart-style-7 .login-info > span {
  padding: 5px 10px;
}
.smart-style-7 .login-info img {
  border-radius: 50%;
  width: 35px;
}
.smart-style-7 .login-info a {
  margin-top: 2px;
}
.smart-style-7 .login-info a span {
  max-width: 136px;
}
.smart-style-7 .login-info a:hover {
  color: #fff;
}
.smart-style-7 #activity.active .badge {
  background: #0aa699 none repeat scroll 0 0 !important;
}
.smart-style-7 .ajax-dropdown {
  background: #e2e8f1 none repeat scroll 0 0;
}
.smart-style-7 .ajax-notifications {
  background: #fff none repeat scroll 0 0;
}
.smart-style-7 img.online {
  border-left-color: #0aa699 !important;
}
.smart-style-7 .onoffswitch-inner::before {
  background-color: #36aecc !important;
}
.smart-style-7 .bg-color-red {
  background-color: #fb3c4a !important;
}
.smart-style-7 .jarviswidget-color-darken > header {
  background: #1b1e24 none repeat scroll 0 0 !important;
  border-color: #1b1e24 !important;
}
.smart-style-7 .jarviswidget-color-blueDark > header {
  background: #353d4b none repeat scroll 0 0 !important;
  border-color: #353d4b !important;
}
.smart-style-7 .jarviswidget-color-blue > header {
  background: #688f9e none repeat scroll 0 0;
  border-color: #6a838d !important;
}
.smart-style-7 .jarviswidget-color-purple > header {
  background: #736086 none repeat scroll 0 0;
}
.smart-style-7 .jarviswidget-color-red > header {
  background: #c02631 none repeat scroll 0 0;
  border-color: #8f2129 !important;
}
.smart-style-7 .jarviswidget .bg-color-red {
  background: #c02631 none repeat scroll 0 0 !important;
}
.smart-style-7 .ui-chatbox-titlebar {
  background: #3e4553 none repeat scroll 0 0 !important;
}
.smart-style-7 .ui-chatbox-titlebar.ui-state-focus {
  background: #1b1f27 none repeat scroll 0 0 !important;
}
.smart-style-7 #ribbon .breadcrumb li:last-child, .smart-style-7 #ribbon .breadcrumb > .active {
  color: #868686;
}
.smart-style-7 #ribbon .breadcrumb, .smart-style-7 #ribbon .breadcrumb a {
  color: #747474 !important;
}
.smart-style-7 .dropdown-menu, .smart-style-7 .open > .dropdown-menu {
  padding: 4px;
}
.smart-style-7 .dropdown-menu > li > a {
  border-radius: 4px;
  margin: 3px 0;
}
.smart-style-7 .page-footer, .smart-style-7 .superbox-show, .smart-style-7 aside {
  background: #1a3047 none repeat scroll 0 0;
  width: 150px;
}
.smart-style-7 .page-footer {
  width: 100%;
}
.smart-style-7 .login-info, .smart-style-7 .login-info span {
  border-bottom: medium none;
}
.smart-style-7 nav > ul ul li::before, .smart-style-7 nav > ul > li > ul::before {
  border: medium none !important;
}
.smart-style-7 .login-info a, .smart-style-7 .login-info strong, .smart-style-7 nav ul li a {
  color: white;
  font-family: "Lucida Grande";
  font-weight: lighter;
}
.smart-style-7 nav ul li.active a {
  color: #ffffff !important;
}
.smart-style-7 nav ul li.active > a::before {
  color: #ffffff;
}
.smart-style-7 .pagination > .active > a, .smart-style-7 .pagination > .active > a:focus, .smart-style-7 .pagination > .active > a:hover, .smart-style-7 .pagination > .active > span, .smart-style-7 .pagination > .active > span:focus, .smart-style-7 .pagination > .active > span:hover {
  background-color: #36aecc;
  border-color: #36aecc;
}
.smart-style-7.minified .login-info a {
  margin-top: 6px;
}
.smart-style-7.minified .login-info img {
  width: 30px !important;
}
.smart-style-7.minified .login-info span {
  padding: 0 5px !important;
}
.smart-style-7.minified nav ul li a {
  padding: 12px 17px 12px 14px;
}
.smart-style-7.minified nav ul ul li > a:hover {
  background: #30343d none repeat scroll 0 0 !important;
}
.smart-style-7.minified nav ul ul li > a {
  padding-left: 13px;
  padding-right: 13px !important;
}
.smart-style-7.minified nav ul ul ul li a {
  padding-left: 33px !important;
  padding-right: 13px !important;
}
.smart-style-7.minified nav ul ul ul ul li a {
  padding-left: 43px !important;
  padding-right: 13px !important;
}
.smart-style-7.minified nav ul ul ul ul ul li a {
  padding-left: 53px !important;
  padding-right: 13px !important;
}
.smart-style-7.minified nav ul ul ul ul ul ul li a {
  padding-left: 63px !important;
  padding-right: 13px !important;
}
.smart-style-7.minified nav ul > li > ul > li > ul {
  background: #1b1e24 none repeat scroll 0 0;
}
.smart-style-7.minified nav > ul > li {
  border-bottom: 1px solid #131416;
  border-top: 1px solid #303031;
}
.smart-style-7.minified nav > ul > li > a > i {
  font-size: 18px;
}
.smart-style-7.minified nav > ul > li > ul {
  background: #1b1e24 none repeat scroll 0 0;
}
.smart-style-7.minified nav > ul > li > ul > li {
  background: #22262e none repeat scroll 0 0;
}
.smart-style-7.minified nav > ul > li > ul > li > ul > li {
  background: #1b1e24 none repeat scroll 0 0;
}
.smart-style-7 .jarviswidget .bg-color-greenLight, .smart-style-7 .jarviswidget-color-greenLight > header {
  background: #96b447 none repeat scroll 0 0 !important;
  border-color: #96b447 !important;
}
.smart-style-7 .jarviswidget .bg-color-yellow, .smart-style-7 .jarviswidget-color-yellow > header {
  background: #fdd01c none repeat scroll 0 0 !important;
  border-color: #dbb727 !important;
  color: #25241f;
}
.smart-style-7 .jarviswidget .bg-color-pink, .smart-style-7 .jarviswidget-color-pink > header {
  background: #db8ebb none repeat scroll 0 0 !important;
}
.smart-style-7.menu-on-top nav ul ul li > a {
  color: #646e75;
  text-shadow: none !important;
}
.smart-style-7.menu-on-top nav ul ul li a {
  font-size: 13px;
  padding-left: 10px !important;
}
.smart-style-7.menu-on-top nav ul ul li:hover > a {
  background-color: #1b1e24;
  color: #fff;
}
.smart-style-7.menu-on-top nav ul ul .active > a {
  color: #fff !important;
}
.smart-style-7.menu-on-top nav > ul ul ul {
  border-top: 1px solid #c7c7c7 !important;
}
.smart-style-7.menu-on-top nav > ul ul li:hover > ul {
  background: #333 none repeat scroll 0 0;
}
.smart-style-7.menu-on-top nav > ul > li > a::after {
  color: #8aa1b3 !important;
}
.smart-style-7.menu-on-top aside {
  background: #14161b none repeat scroll 0 0;
}
.smart-style-7.menu-on-top aside#left-panel {
  border-bottom: 1px solid #222;
  border-top: 1px solid #333;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
}
.smart-style-7.menu-on-top aside#left-panel nav > ul > li {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}
.smart-style-7.menu-on-top aside#left-panel nav > ul > li > a {
  font-size: 13px;
  padding: 10px 9px !important;
  text-shadow: none !important;
}
.smart-style-7.menu-on-top aside#left-panel nav > ul > li > ul {
  background: #3a3633 none repeat scroll 0 0;
}
.smart-style-7.menu-on-top aside#left-panel nav > ul > li:hover {
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #04070c, #2e3e57 66%) repeat scroll 0 0;
  border-left-color: #333;
  border-right-color: #333;
}
.smart-style-7.menu-on-top aside#left-panel nav > ul > li:hover > a {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  color: #f1f1f1 !important;
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.smart-style-7.menu-on-top nav ul ul li a, .smart-style-7.menu-on-top nav ul ul ul li a {
  color: #d8dee5;
}
.smart-style-7.menu-on-top nav ul ul li a:hover, .smart-style-7.menu-on-top nav ul ul ul li a:hover {
  background-color: #1b1e24 !important;
  color: #fff;
}
.smart-style-7.menu-on-top nav ul ul, .smart-style-7.menu-on-top nav ul ul ul {
  background: #2e3e57 none repeat scroll 0 0 !important;
  border: 1px solid transparent;
  padding: 0;
}
.smart-style-7.menu-on-top nav ul ul li:hover > a::after, .smart-style-7.menu-on-top nav > ul ul > li a::after, .smart-style-7.menu-on-top nav > ul ul > li a:hover::after, .smart-style-7.menu-on-top nav > ul > li > a::after {
  color: #d5d5d5;
}
.smart-style-7.menu-on-top nav ul ul li:hover > a::after, .smart-style-7.menu-on-top nav > ul ul > li a:hover::after {
  color: #fff;
}
.smart-style-7.menu-on-top nav > ul ul > li a:only-child::after, .smart-style-7.menu-on-top nav > ul > li > a:only-child::after {
  content: "" !important;
}
.smart-style-7.menu-on-top nav ul ul li.active:hover > a, .smart-style-7.menu-on-top nav ul ul li.active > a:hover {
  color: #fff !important;
}
@media (max-width: 979px) and (min-width: 768px) {
  .smart-style-7 #hide-menu i {
    color: #fff !important;
  }
}
@media (max-width: 767px) {
  .smart-style-7 #hide-menu i {
    color: #fff !important;
  }
}
@media only screen and (max-width: 679px) and (min-width: 0px) {
  .smart-style-7 #hide-menu i {
    color: #fff !important;
  }
}
@media only screen and (max-width: 479px) and (min-width: 320px) {
  .smart-style-7 #sparks {
    background: #fff none repeat scroll 0 0;
  }
  .smart-style-7 #cancel-search-js, .smart-style-7 .search-mobile .header-search > button {
    border-radius: 3px;
  }
}























