
.border {
  border: 2px solid red;
}
.border1 {
  border: 2px solid #1da3fc;
}
.border2 {
  border: 2px solid blue;
}
.border3 {
  border: 2px solid #ef2268;
}
.border4 {
  border: 2px solid #35d6a7;
}
.border5 {
  border: 2px solid #fed368;
}
.demo {
}
.bg-white {
  background: white none repeat scroll 0 0;
}
.bg-gray {
  background: #f4f4f4 none repeat scroll 0 0;
}
.white-shadow {
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px #ececec;
}
.bg-black {
  background: black none repeat scroll 0 0;
}
.old-gray {
  background: white none repeat scroll 0 0;
  border: 1px solid #ddd;
}
.old-red {
  background: rgba(255, 122, 122, 0.3) none repeat scroll 0 0 !important;
  border: 1px solid #ff7a7a;
}
.old-yellow {
  background: rgba(224, 219, 10, 0.3) none repeat scroll 0 0 !important;
  border: 1px solid #e0db0a;
}
.old-green {
  background: rgba(144, 224, 107, 0.3) none repeat scroll 0 0 !important;
  border: 1px solid #90e06b;
}
.old {
  background: rgba(250, 251, 252, 0.3) none repeat scroll 0 0 !important;
  border: 2px solid #fafbfc;
}
#logo {
  margin-top: 5px;
}
.anim {
  transition: all 0.7s ease 0s;
}
.cursor-pointer {
  cursor: pointer !important;
}
.header-dropdown-list {
  display: none;
}
.display-none {
  display: none;
}
.no-display {
  display: none;
}
.m-r-lg {
  margin-right: 15px;
}
.m-l-sm {
  margin-left: 5px;
}
.m-l-lg {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 10px;
}
.m-b-lg {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 10px;
}
.m-b-sm {
  margin-bottom: 5px;
}
.m-t-lg {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 10px;
}
.m-r-sm {
  margin-right: 5px;
}
.m-t-sm {
  margin-top: 5px;
}
.b-b-ddd {
  border-bottom: 1px solid #ddd;
}
.b-t-ddd {
  border-top: 1px solid #ddd;
}
.p-t-lg {
  padding-top: 15px;
}
.p-l-md {
  padding-left: 10px;
}
.p-b-lg {
  padding-bottom: 15px;
}
.p-b-md {
  padding-bottom: 10px;
}
.p-b-sm {
  padding-bottom: 5px;
}
.p-r-lg {
  padding-right: 15px;
}
.p-l-lg {
  padding-left: 15px;
}
.size-50 {
  width: 50%;
}
.size-100 {
  width: 100%;
}
.capital-first::first-letter {
  text-transform: uppercase;
}
.caps {
  text-transform: uppercase;
}
.no-b-tbl {
  border-bottom: medium none;
  border-left: medium none;
  border-top: medium none;
}
.no-padding-sides {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.bold-type {
  font-weight: bold;
}
.no-border {
  border: medium none !important;
}
.text-center {
  text-align: center;
}
.b-r-ddd {
  border-right: 1px solid #ddd;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.loading-anim {
  animation: 2s linear 0s normal none infinite running fa-spin;
}
.f-size-25 {
  font-size: 25px;
}
.f-size-17 {
  font-size: 17px;
}
.label-form-align {
  position: relative;
  top: 7px;
}
.content-column-left {
  float: left;
  height: 100%;
  min-height: 500px;
  width: 20%;
}
.content-column-right {
  float: right;
  width: 80%;
}
.ccl-small {
  background: #fafafa none repeat scroll 0 0;
  width: 5%;
}
.ccr-small {
  width: 95%;
}
.left-column-arrow {
  color: #aaa;
  display: block;
  font-size: 22px;
  max-height: 31px;
  padding: 5px 15px !important;
  position: relative;
}
.left-column-arrow i {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}
.left-column-arrow:hover {
  background: #eeeeee none repeat scroll 0 0;
}
.plus-cross {
  transform: rotate(45deg);
}
.search-content {
  float: left;
  position: relative;
  width: 100%;
}
.search-result {
  background: white none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 0 0 3px 3px;
  margin-bottom: 15px;
  max-height: 650px;
  overflow: auto;
  padding-top: 10px;
  width: 100%;
}
.search-result i {
}
.search-content .input-search {
  background: white none repeat scroll 0 0;
  border: medium none !important;
  border-radius: 0;
  box-shadow: none !important;
  margin: 0 0 3px;
  padding: 5px 10px;
  position: relative;
  width: 100%;
}
.search-content .is-lupa {
  border-right: 1px solid #ddd;
  color: #ddd;
  cursor: text;
  font-size: 18px;
  height: 26px;
  padding-right: 8px;
  padding-top: 4px;
  position: absolute;
  right: 25px;
  text-align: center;
  top: 0;
  width: 25px;
}
Osk .new-form-blocks {
  float: left;
  margin: 0 0 15px;
  width: 50%;
}
.new-form-blocks input {
  width: 95%;
}
.new-form-fields {
  padding: 3px;
  width: 50%;
}
.new-form-select {
}
.new-form-textarea {
  border: 1px solid #ddd;
  max-height: 150px;
  max-width: 100%;
  min-height: 50px;
  min-width: 100%;
  width: 100%;
}
.panel-darken > .panel-heading h3 {
  color: #3c92c9;
  text-align: center;
}
.panel-darken > .panel-heading h3 span {
  color: white;
}
#new-ct-form textarea {
  max-height: 400px;
  max-width: 100%;
  min-height: 100px;
  padding: 5px;
}
.ticket-comment-pop {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  border-image: none;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  color: #333;
  font-size: 11px;
  height: auto;
  left: 10%;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2% 4%;
  position: absolute;
  text-align: left;
  top: 0;
  width: 80%;
  z-index: 10;
}
.tickets-history-table {
}
.support-table .dataTables_length, .support-table .dataTables_filter, .tickets-history-table .dataTables_length, .tickets-history-table .dataTables_filter, .billing-history-table .dataTables_length, .billing-history-table .dataTables_filter {
  width: 50%;
}
.support-table {
}
.invoice-logo {
  float: left;
  position: relative;
  top: -10px;
  width: 70%;
}
.billing-history-table tbody tr td:last-child {
  cursor: pointer;
}
.customer-result-container .valu.color-text {
  background: #ddd none repeat scroll 0 0;
  color: #0462b0;
}
.customer-result-container .valu.color-text.ct-code {
  background: #0462b0 none repeat scroll 0 0;
  color: white;
  font-weight: bold;
  text-align: center;
}
.customer-result-container .valu.color-text.ct-status {
  background: #fb3c4a none repeat scroll 0 0;
  color: white;
  text-align: center;
}
.modal-ticket-size {
}
.thistory-container {
  max-height: 350px;
  overflow: auto;
}
.thistory-container .th-comment {
  display: block;
  font-size: 11px;
  height: auto;
  max-height: 150px;
  max-width: 400px;
  overflow: auto;
}
table.dataTable tbody tr.customer-new-updated {
  font-weight: bold;
}
table.dataTable tbody tr.customer-new-updated td:first-child {
  border-left: 2px solid red;
}
table.dataTable tbody tr {
  background: #f4f4f4 none repeat scroll 0 0;
}
.first-td {
  background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.6px;
}
.first-td:hover {
  opacity: 0.7;
}
.thistory-form-2 {
  border: 1px solid #ddd;
  height: 100px;
  max-height: 100px;
  max-width: 100%;
  min-height: 100px;
  min-width: 100%;
  width: 100%;
}
.suhs {
  margin-bottom: 5px;
}
.suhs label {
  float: left;
  padding-right: 10px;
}
.suhs .suhs-label {
  padding-left: 10px;
}
.suhs input {
  float: left;
}
.update-btn-ticket {
  float: right;
}
.update-btn-ticket button {
}
.profile-css {
  padding-bottom: 30px;
  padding-top: 25px;
}
.profile-css div {
  font-size: 16px;
}
.profile-css h2 {
  margin-bottom: 25px;
  text-align: center;
}
.profile-css .img {
  padding-top: 15px;
}
.profile-css img {
  width: 100%;
}
.profile-css p {
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  font-weight: bold;
}
.profile-css p label {
}
.profile-css label {
  font-weight: normal;
}
.profile-password {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: white none repeat scroll 0 0;
  border-image: none;
  border-radius: 3px;
  border-style: none none solid;
  border-width: medium medium 1px;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  padding: 5px;
  width: 100%;
}
.set-psw {
  border-bottom: 1px solid #ddd;
  padding-bottom: 25px;
}
.bton {
  display: none;
}
.main-search {
  padding-top: 10px;
  width: 18%;
}
.search-content-close {
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  padding-top: 1px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 26px;
}
.search-content-close:hover {
  opacity: 0.7;
}
.main-search-result-container {
  border-bottom: 1px solid #ddd;
  color: #333;
  cursor: pointer;
  float: left;
  max-height: 130px;
  min-height: 100px;
  overflow: hidden;
  padding: 15px 0;
  width: 100%;
}
.main-search-result-container:hover {
  background: #f4f4f4 none repeat scroll 0 0;
}
.tmp-container-search {
  min-height: 20px;
  padding: 3px 0;
}
.status-type-1 {
  color: #00c853;
}
.status-type-2 {
  color: #e8e8e8;
}
.status-type-3 {
  color: #ff6d00;
}
.status-type-4 {
  color: #ffd600;
}
.status-type-5 {
  color: #0086ff;
}
.vip-class i {
  color: #fcc515;
  font-size: 17px;
  position: relative;
  top: -1px;
}
.sm-view-action-btn {
  background: #fed368 none repeat scroll 0 0;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3) inset;
  color: white;
  cursor: pointer;
  padding: 1px 8px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.sm-view-action-btn:hover {
  background: #fcc441 none repeat scroll 0 0;
}
.cus-add-mod .dataTables_length {
  display: none;
}
.addr-th {
  width: 100px;
}
.right-side-invoice {
  position: relative;
  top: -5px;
}
#c-fixed-content {
}
.select-control {
  padding: 3px 0;
  width: 100%;
}
.block-table-inline {
  border-right: 2px none;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  height: 35px;
  vertical-align: middle;
}
.ticket-search-table {
  position: relative;
}
.ticket-search-table label {
  position: relative;
  width: 30%;
}
.ticket-search-table label input {
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 33px;
  padding: 0 5px;
  width: 100%;
}
.ticket-search-table label i {
  color: #ddd;
  font-size: 20px;
  position: absolute;
  right: 7px;
  top: 5px;
}
.ticket-timing-results {
  margin-left: 100px;
  width: 30%;
}
.ticket-timing-results .ttr-container {
  float: left;
  height: 100%;
  width: 100%;
}
.ticket-timing-results .ttr-container label {
  width: 20%;
}
.ticket-timing-results .ttr-container div {
  font-weight: bold;
  height: 100%;
  padding-top: 8px;
  text-align: center;
  width: 25%;
}
.ticket-timing-results .ttr-container div label {
  font-weight: normal;
  width: auto;
}
.ticket-timing-results .ttr-container div label b {
}
.vip-class {
  position: relative;
  top: -3px;
}
.vip-class label {
  background: crimson none repeat scroll 0 0;
  border-radius: 3px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 2px 5px 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.vip-class span {
  font-size: 16px;
}
.bg-status-active:last-child {
  border-bottom: 2px solid #333;
}
.bg-status-disabled {
  color: rgba(0, 0, 0, 0.4);
}
.bg-payment-debt {
  border: 2px solid crimson;
}
.bg-payment-no-debt {
}
.display-service-status-active {
}
.display-service-status-disabled {
  position: relative;
}
.label-data-service {
  font-size: 16px;
}
.block-a-label::first-letter {
  text-transform: uppercase;
}
.default-priority-1 {
  border-left: 2px solid #4caf50;
}
.cnf-comment {
}
.cnf-comment p {
}
.cnf-comment textarea {
  border: 1px solid #ddd;
  margin-bottom: 15px;
  max-height: 200px;
  max-width: 100%;
  min-height: 100px;
  min-width: 100%;
  padding: 5px 10px;
  width: 100%;
}
.cnf-comment button {
}
.notes-list {
  margin-top: 15px;
  overflow: auto;
}
.notes-list p {
}
.dc-show-menos::before {
  color: #a90329;
  content: "ÔÅñ";
  cursor: pointer;
  display: block;
  font-family: FontAwesome;
  font-size: 1.4em;
  text-align: center;
  vertical-align: middle;
}
.easy-links {
}
.easy-links p {
  border-right: 1px solid #ddd;
  padding: 0 10px;
  text-align: center;
  width: auto;
}
.easy-links a {
  font-weight: inherit;
}
.focus-index-focus {
  background: #0f94f6 none repeat scroll 0 0;
}
.focus-index-focus a {
  color: white;
}
.editing {
}
.admin-edit-container {
}
.admin-edit-container select {
  padding: 2px 3px;
}
.admin-edit-container select option {
  margin-bottom: 4px;
}
.admin-edit-container input {
  background: rgba(0, 0, 0, 0) linear-gradient(#f0f0f0, #f5f5f5) repeat scroll 0 0;
  border: 1px solid #d6d3ce;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12) inset;
  box-sizing: border-box;
  color: #333;
  font-size: 14px;
  padding: 7px;
  width: 100%;
}
#admin-app-id {
  border-bottom: 1px solid #ddd;
  margin-bottom: 25px;
}
#warpol-app-id {
  border-top: 1px solid #ddd;
  margin-top: 25px;
}
.admin-app .dataTables_length {
}
.admin-app .dataTables_filter {
  width: 50%;
}
.admin-app img{
  max-height: 220px;
}
.stc-search {
  border: 1px solid #ddd;
  float: left;
  margin-top: 10px;
  padding: 0;
  width: 100%;
}
.stcu-p {
  background: rgba(0, 0, 0, 0.04) none repeat scroll 0 0;
  float: left;
  margin-top: 5px;
  padding: 3px;
  width: 100%;
}
.support-active {
  background: rgba(0, 0, 0, 0) linear-gradient(#afafaf, #a8a8a8) repeat scroll 0 0;
}
.errormsg-payment {
  color: crimson;
  float: left;
  font-size: 14px;
  margin-top: 21px;
  max-width: 70%;
}
#buildingContacts-gTools .new-contact-form {
  float: left;
  width: 100%;
}
#buildingContacts-gTools .form-actions {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  margin-left: 0;
  margin-right: 0;
}
.ticket-search-table-results {
  position: absolute;
  width: 30%;
  z-index: 10;
}
.ticket-search-table-results div {
}
.ticket-search-table-results div p {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding: 3px 10px;
}
.ticket-search-table-results div p:hover {
  background: #f4f4f4 none repeat scroll 0 0;
}
.ticket-search-table-results div p:last-child {
  border: medium none;
}
.building-list-side {
  border-top: 1px solid #ddd;
  max-height: 1040px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px 10px;
  width: 100%;
}
.building-list-side .bld-list-side {
  border-bottom: 1px solid #ddd;
  color: #3276b1;
  line-height: 150%;
  padding: 5px 10px;
}
.building-list-side .bld-list-side p{
  position: relative;
  width: 300px;
}
.building-list-side .bld-list-side p:after{
  /*position: absolute;*/
  /*background: linear-gradient(to right, rgba(255,255,255,.4) , white);*/
  /*width: 30px;*/
  /*height: 17px;*/
  /*content: ' ';*/
  /*right: 135px;*/
  /*top: 0;*/
}
.building-list-side .bld-list-side:hover {
  background: #f3f8fe none repeat scroll 0 0;
  cursor: pointer;
}
.sub-nav-active {
  width: calc(100% - 200px);
}
.bld-workspace {
}
.bld-sub-nav {
  background: white none repeat scroll 0 0;
  margin-bottom: 0;
  margin-left: -14px;
  margin-right: -15px;
  padding-top: 0;
  width: 200px;
}
.bld-workspace article {
}
.bld-filters-sub-nav {
  background: #f8f8f8 none repeat scroll 0 0;
  padding: 0 5px 5px;
}
.search-subnav-bld {
  margin-bottom: 15px;
  margin-left: 10px;
  width: 155px;
}
.search-subnav-bld input {
  width: 100%;
}
.filter-subnav-bld {
  margin-bottom: 15px;
  margin-left: 10px;
  width: 155px;
}
.filter-subnav-bld select {
  width: 100%;
}
.filter-subnav-bld select option {
  padding: 3px 5px;
}
.product-image{
  max-height: 300px;
}
.product-image img{
  max-width: 100%;
}

.sub-nav {
  height: 100%;
  min-height: 100%;
  position: fixed;
  width: 200px;
}
.sub-nav .admin-sub-nav {
  padding: 10px;
}
.sub-nav .admin-sub-nav p {
  border-bottom: 1px solid #ddd;
  color: #3276b1;
  cursor: pointer;
  padding: 10px;
}
.sub-nav .admin-sub-nav p:hover {
  background: #f3f8fe;
}
.workspace {
  height: auto;
  left: 200px;
  padding-bottom: 50px;
  position: relative;
  width: calc(100% - 200px);
}

#profile-table_length, #profile-table_filter{
  display: none ;
}
.admin-workspace{}
.icon-preview{
  color: #333;
  font-size: 20px;
  position: relative;
  top: -6px;
}