#mobile-header{
  display: none;
}
.border {
  border: 2px solid red;
}
.border1 {
  border: 2px solid #1da3fc;
}
.border2 {
  border: 2px solid blue;
}
.border3 {
  border: 2px solid #ef2268;
}
.border4 {
  border: 2px solid #35d6a7;
}
.border5 {
  border: 2px solid #fed368;
}
.demo {
}
.avenir-font{
  font-family: Avenir;
}
.color-white{
  color: white;
}
.color-ddd{
  color: #ddd;
}
.bg-white {
  background: white none repeat scroll 0 0;
}
.bg-royal {
  background: royalblue none repeat scroll 0 0;
}
.bg-violet {
  background: violet none repeat scroll 0 0;
}
.bg-silverip{
  background: #0f94f6;
}
.transparent{
  color: transparent;
}
.bg-gray {
  background: #f4f4f4 none repeat scroll 0 0;
}
.white-shadow {
  border: 1px solid #ddd;
  box-shadow: 0 1px 1px #ececec;
}
.bg-black {
  background: black none repeat scroll 0 0;
}
.old-gray {
  background: white none repeat scroll 0 0;
  border: 1px solid #ddd;
}
.old-red {
  background: rgba(255, 122, 122, 0.3) none repeat scroll 0 0 !important;
  border: 1px solid #ff7a7a;
}
.old-yellow{
  background: rgba(224, 219, 10, 0.3) none repeat scroll 0 0 !important;
  border: 1px solid #e0db0a;
}
.old-green {
  background: rgba(144, 224, 107, 0.3) none repeat scroll 0 0 !important;
  border: 1px solid #90e06b;
}
.old {
  background: rgba(250, 251, 252, 0.3) none repeat scroll 0 0 !important;
  border: 2px solid #fafbfc;
}
#logo {
  margin-top: 5px;
}
.anim {
  transition: all 0.7s ease 0s;
}
.cursor-pointer {
  cursor: pointer !important;
}
.header-dropdown-list {
  display: none;
}
.relative{
  position:relative;
}
.absolute{
  position:absolute;
}
.display-none {
  display: none;
}
.overflow-hidden{
  overflow: hidden;
}
.no-display {
  display: none;
}
.m-r-lg {
  margin-right: 15px;
}
.m-l-sm {
  margin-left: 5px;
}
.m-l-lg {
  margin-left: 15px;
}
.m-l-md {
  margin-left: 10px;
}
.m-b-lg {
  margin-bottom: 15px;
}
.m-b-md {
  margin-bottom: 10px;
}
.m-b-sm {
  margin-bottom: 5px;
}
.m-t-lg {
  margin-top: 15px;
}
.m-t-md {
  margin-top: 10px;
}
.m-r-md {
  margin-right: 10px;
}
.m-r-sm {
  margin-right: 5px;
}
.m-t-sm {
  margin-top: 5px;
}
.b-b-ddd {
  border-bottom: 1px solid #ddd;
}
.b-t-ddd {
  border-top: 1px solid #ddd;
}
.b-r-ddd {
  border-right: 1px solid #ddd;
}
.p-t-lg {
  padding-top: 15px;
}
.text-black{
  color: #000;
}
.p-t-md {
  padding-top: 10px;
}
.p-t-sm {
  padding-top: 5px;
}
.p-t-xs {
  padding-top: 2.5px;
}
.p-l-md {
  padding-left: 10px;
}
.p-b-lg {
  padding-bottom: 15px;
}
.p-b-md {
  padding-bottom: 10px;
}
.p-b-sm {
  padding-bottom: 5px;
}
.p-b-xs {
  padding-bottom: 2.5px;
}
.p-r-lg {
  padding-right: 15px;
}
.p-r-md {
  padding-right: 10px;
}
.p-r-sm {
  padding-right: 5px;
}
.p-l-lg {
  padding-left: 15px;
}
.p-l-md {
  padding-left: 10px;
}
.p-l-sm {
  padding-left: 5px;
}
.capitals{
  text-transform: uppercase;
}
.ddd{
  border:1px dotted silver
}
.size-100px{
  width: 100px;
}
.size-50 {
  width: 50%;
}
.size-100 {
  width: 100%;
}
.size-80 {
  width: 80%;
}
.size-85 {
  width: 85% !important;
}
.capital-first::first-letter {
  text-transform: uppercase;
}
.caps {
  text-transform: uppercase;
}
.desactivado{
  opacity: .5;
}
.silver-magnus-label{
  position: absolute;
  bottom: 3px;
  width: 100%;
  border-radius: 0px;
  font-size: 10px;
  text-align: center;
  color: #6f6f6f;
}
.btn-slim{
  padding:0;
}
.no-b-tbl {
  border-bottom: medium none;
  border-left: medium none;
  border-top: medium none;
}
.no-margin-sides{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.no-padding-sides {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no-padding-right {
  padding-right: 0;
}
.no-padding-left {
  padding-left: 0;
}
.bold-type {
  font-weight: bold;
}
.no-border {
  border: medium none !important;
}
.text-center {
  text-align: center;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.loading-anim {
  animation: 2s linear 0s normal none infinite running fa-spin;
}
.f-size-25 {
  font-size: 25px;
}
.f-size-17 {
  font-size: 17px;
}
.label-form-align {
  position: relative;
  top: 7px;
}
.content-column-left {
  float: left;
  height: 100%;
  min-height: 500px;
  width: 20%;
}
.content-column-right {
  float: right;
  width: 80%;
}
.ccl-small {
  background: #fafafa none repeat scroll 0 0;
  width: 5%;
}
.ccr-small {
  width: 95%;
}
.left-column-arrow {
  color: #aaa;
  display: block;
  font-size: 22px;
  max-height: 31px;
  padding: 5px 15px !important;
  position: relative;
}
.left-column-arrow i {
  display: block;
  margin: 0 !important;
  padding: 0 !important;
}
.left-column-arrow:hover {
  background: #eeeeee none repeat scroll 0 0;
}
.plus-cross {
  transform: rotate(45deg);
}
.search-content {
  float: left;
  position: relative;
  width: 100%;
}
.search-result {
  background: white none repeat scroll 0 0;
  border: 1px solid #ddd;
  border-radius: 0 0 3px 3px;
  margin-bottom: 15px;
  max-height: 650px;
  overflow: auto;
  padding-top: 10px;
  width: 100%;
}
.search-result i {
}
.search-content .input-search {
  background: white none repeat scroll 0 0;
  border: medium none !important;
  border-radius: 0;
  box-shadow: none !important;
  margin: 0 0 3px;
  padding: 5px 10px;
  position: relative;
  width: 100%;
}
.search-content .is-lupa {
  border-right: 1px solid #ddd;
  color: #ddd;
  cursor: text;
  font-size: 18px;
  height: 26px;
  padding-right: 8px;
  padding-top: 4px;
  position: absolute;
  right: 25px;
  text-align: center;
  top: 0;
  width: 25px;
}
Osk .new-form-blocks {
  float: left;
  margin: 0 0 15px;
  width: 50%;
}
.new-form-blocks input {
  width: 95%;
}
.new-form-fields {
  padding: 3px;
  width: 50%;
}
.new-form-select {
}
.new-form-textarea {
  border: 1px solid #ddd;
  max-height: 150px;
  max-width: 100%;
  min-height: 50px;
  min-width: 100%;
  width: 100%;
}
.panel-darken > .panel-heading h3 {
  color: #3c92c9;
  text-align: center;
}
.panel-darken > .panel-heading h3 span {
  color: white;
}
#new-ct-form textarea {
  max-height: 400px;
  max-width: 100%;
  min-height: 100px;
  padding: 5px;
}
.ticket-comment-pop {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: rgb(255, 255, 255) none repeat scroll 0 0;
  border-image: none;
  border-style: none solid solid;
  border-width: medium 1px 1px;
  color: #333;
  font-size: 11px;
  height: auto;
  left: 10%;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 2% 4%;
  position: absolute;
  text-align: left;
  top: 0;
  width: 80%;
  z-index: 10;
}
.tickets-history-table {
}
.filters-fixed-size .dataTables_length, .filters-fixed-size .dataTables_filter, .support-table .dataTables_length, .support-table .dataTables_filter, .tickets-history-table .dataTables_length, .tickets-history-table .dataTables_filter, .billing-history-table .dataTables_length, .billing-history-table .dataTables_filter {
  width: 50%;
}
.hide-filter-show .dataTables_length {
  display: none;
}
.invoice-logo {
  float: left;
  position: relative;
  top: -10px;
  width: 70%;
}
.billing-history-table tbody tr td:last-child {
  cursor: pointer;
}
.customer-result-container .valu.color-text {
  background: #ddd none repeat scroll 0 0;
  color: #0462b0;
}
.customer-result-container .valu.color-text.ct-code {
  background: #0462b0 none repeat scroll 0 0;
  color: white;
  font-weight: bold;
  text-align: center;
}
.customer-result-container .valu.color-text.ct-status {
  background: #fb3c4a none repeat scroll 0 0;
  color: white;
  text-align: center;
}
.modal-cor-stats-size {
  width: 50%;
}
.thistory-container {
  max-height: 350px;
  overflow: auto;
}
.thistory-container .th-comment {
  max-width: 330px;
}
table.dataTable tbody tr.customer-new-updated {
  font-weight: bold;
}
table.dataTable tbody tr.customer-new-updated td:first-child {
  border-left: 8px solid red;
}
table.dataTable tbody tr {
  background: #f4f4f4 none repeat scroll 0 0;
}
.first-td {
  background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.6px;
}
.first-td:hover {
  opacity: 0.7;
}
.thistory-form-2 {
  border: 1px solid #ddd;
  height: 100px;
  max-height: 100px;
  max-width: 100%;
  min-height: 100px;
  min-width: 100%;
  width: 100%;
}
.suhs {
  margin-bottom: 5px;
}
.suhs label {
  float: left;
  padding-right: 10px;
}
.suhs .suhs-label {
  padding-left: 10px;
}
.suhs input {
  float: left;
}
.update-btn-ticket {
  float: right;
}
.update-btn-ticket button {
}
.profile-css {
  padding-bottom: 30px;
  padding-top: 25px;
}
.profile-css div {
  font-size: 16px;
}
.profile-css h2 {
  margin-bottom: 25px;
  text-align: center;
}
.profile-css .img {
  padding-top: 15px;
}
.profile-css img {
  width: 100%;
}
.profile-css p {
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  font-weight: bold;
}
.profile-css p label {
}
.profile-css label {
  font-weight: normal;
}
.profile-password {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: white none repeat scroll 0 0;
  border-image: none;
  border-radius: 3px;
  border-style: none none solid;
  border-width: medium medium 1px;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  padding: 5px;
  width: 100%;
}
.set-psw {
  border-bottom: 1px solid #ddd;
  padding-bottom: 25px;
}
.bton {
  display: none;
}
.main-search {
  padding-top: 10px;
  width: 18%;
}
.search-content-close {
  cursor: pointer;
  font-size: 20px;
  font-weight: normal;
  padding-top: 1px;
  position: absolute;
  right: 0;
  text-align: center;
  width: 26px;
}
.search-content-close:hover {
  opacity: 0.7;
}
.main-search-result-container {
  border-bottom: 1px solid #ddd;
  color: #333;
  cursor: pointer;
  float: left;
  max-height: 130px;
  min-height: 100px;
  overflow: hidden;
  padding: 15px 0;
  width: 100%;
}
.main-search-result-container:hover {
  background: #f4f4f4 none repeat scroll 0 0;
}
.tmp-container-search {
  min-height: 20px;
  padding: 3px 0;
}
.status-type-1 {
  color: #00c853;
}
.status-type-2 {
  color: #e8e8e8;
}
.status-type-3 {
  color: #ff6d00;
}
.status-type-4 {
  color: #ffd600;
}
.status-type-5 {
  color: #0086ff;
}
.status-dash-type-1{
  background: #dff0d8 !important;
}
.status-dash-type-2{
  /*background: #E8E8E8 !important;*/
}
.status-dash-type-3{
  background: #f2dede !important;
}
.status-dash-type-4{
  background: #fcf8e3 !important;
}
.status-dash-type-5{
  background: rgba(0, 134, 255, 0.45) !important;
}
.status-dash-type-1 td:first-child,
.status-dash-type-2 td:first-child,
.status-dash-type-3 td:first-child,
.status-dash-type-4 td:first-child,
.status-dash-type-5 td:first-child{
  background: rgb(245, 245, 245);
}
.vip-class i {
  color: #fcc515;
  font-size: 17px;
  position: relative;
  top: -1px;
}
.sm-view-action-btn {
  background: #fed368 none repeat scroll 0 0;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3) inset;
  color: white;
  cursor: pointer;
  padding: 1px 8px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.sm-view-action-btn:hover {
  background: #fcc441 none repeat scroll 0 0;
}
.cus-add-mod .dataTables_length {
  display: none;
}
.addr-th {
  width: 100px;
}
.right-side-invoice {
  position: relative;
  top: -5px;
}
#c-fixed-content {
}
.select-control {
  padding: 3px 0;
  width: 100%;
}
.block-table-inline {
  border-right: 2px none;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  height: 35px;
  vertical-align: middle;
}
.ticket-search-table {
  position: relative;
}
.ticket-search-table label {
  position: relative;
  width: 30%;
}
.ticket-search-table label input {
  border: 1px solid #ddd;
  border-radius: 2px;
  height: 33px;
  padding: 0 5px;
  width: 100%;
}
.ticket-search-table label i {
  color: #ddd;
  font-size: 20px;
  position: absolute;
  right: 7px;
  top: 5px;
}
.ticket-timing-results {
  margin-left: 100px;
  width: 30%;
}
.ticket-timing-results .ttr-container {
  float: left;
  height: 100%;
  width: 100%;
}
.ticket-timing-results .ttr-container label {
  width: 20%;
}
.ticket-timing-results .ttr-container div {
  font-weight: bold;
  height: 100%;
  padding-top: 8px;
  text-align: center;
  width: 25%;
}
.ticket-timing-results .ttr-container div label {
  font-weight: normal;
  width: auto;
}
.ticket-timing-results .ttr-container div label b {
}
.vip-class {
  position: relative;
  top: -3px;
}
.vip-class label, .vip-class a{
  background: crimson none repeat scroll 0 0;
  border-radius: 3px;
  color: white !important;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 2px 5px 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.no-vip-class a{
  /*background: #a2a2a2;*/
  border-radius: 3px;
  color: #5d5d5d;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 2px 5px 0;

}
.vip-class span {
  font-size: 16px;
}
.bg-status-active:last-child {
  border-bottom: 2px solid #333;
}
.bg-status-disabled {
  color: rgba(0, 0, 0, 0.4);
}
.bg-payment-debt {
  border: 2px solid crimson;
}
.bg-declined-payment{
  /*background: rgba(220,20,60,.6) !important;*/
  box-shadow: 0 0 0 1.5px crimson inset;
}
.bg-payment-no-debt {
}
.display-service-status-active {
}
.display-service-status-disabled {
  position: relative;
}
.label-data-service {
  font-size: 16px;
}
.block-a-label::first-letter {
  text-transform: uppercase;
}
.default-priority-1 {
  border-left: 2px solid #4caf50;
}
.cnf-comment {
}
.cnf-comment p {
}
.cnf-comment textarea {
  border: 1px solid #ddd;
  margin-bottom: 15px;
  max-height: 200px;
  max-width: 100%;
  min-height: 100px;
  min-width: 100%;
  padding: 5px 10px;
  width: 100%;
}
.cnf-comment button {
}
.notes-list {
  margin-top: 15px;
  overflow: auto;
}
.notes-list p {
}
.dc-show-menos::before {
  color: #a90329;
  content: "";
  cursor: pointer;
  display: block;
  font-family: FontAwesome;
  font-size: 1.4em;
  text-align: center;
  vertical-align: middle;
}
.easy-links {
}
.easy-links p {
  border-right: 1px solid #ddd;
  padding: 0 10px;
  text-align: center;
  width: auto;
}
.easy-links a {
  font-weight: inherit;
}
.focus-index-focus {
  background: #0f94f6 none repeat scroll 0 0;
}
.focus-index-focus a {
  color: white;
}
.editing {
}
.admin-edit-container {
}
.admin-edit-container select {
  padding: 2px 3px;
}
.admin-edit-container select option {
  margin-bottom: 4px;
}
.admin-edit-container input {
  background: rgba(0, 0, 0, 0) linear-gradient(#f0f0f0, #f5f5f5) repeat scroll 0 0;
  border: 1px solid #d6d3ce;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.12) inset;
  box-sizing: border-box;
  color: #333;
  font-size: 14px;
  padding: 7px;
  width: 100%;
}
#admin-app-id {
  border-bottom: 1px solid #ddd;
  margin-bottom: 25px;
}
#warpol-app-id {
  border-top: 1px solid #ddd;
  margin-top: 25px;
}
.admin-app .dataTables_length {
}
.admin-app .dataTables_filter {
  width: 50%;
}
.admin-app img{
  max-height: 220px;
}
.stc-search {
  border: 1px solid #ddd;
  float: left;
  margin-top: 10px;
  padding: 0;
  width: 100%;
}
.stcu-p {
  background: rgba(0, 0, 0, 0.04) none repeat scroll 0 0;
  float: left;
  margin-top: 5px;
  padding: 3px;
  width: 100%;
}
.support-active {
  background: rgba(0, 0, 0, 0) linear-gradient(#afafaf, #a8a8a8) repeat scroll 0 0;
}
.errormsg-payment {
  color: crimson;
  float: left;
  font-size: 14px;
  margin-top: 21px;
  max-width: 70%;
}
#buildingContacts-gTools .new-contact-form {
  float: left;
  width: 100%;
}
#buildingContacts-gTools .form-actions {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  margin-left: 0;
  margin-right: 0;
}
.ticket-search-table-results {
  position: absolute;
  width: 30%;
  z-index: 10;
}
.ticket-search-table-results div {
}
.ticket-search-table-results div p {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  padding: 3px 10px;
}
.ticket-search-table-results div p:hover {
  background: #f4f4f4 none repeat scroll 0 0;
}
.ticket-search-table-results div p:last-child {
  border: medium none;
}
.building-list-side {
  border-top: 1px solid #ddd;
  max-height: 1040px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 5px 10px;
  width: 100%;
}
.building-list-side .bld-list-side {
  border-bottom: 1px solid #ddd;
  color: #3276b1;
  line-height: 150%;
  padding: 5px 10px;
}
.building-list-side .bld-list-side p{
  position: relative;
  width: 300px;
}
.building-list-side .bld-list-side p:after{
  /*position: absolute;*/
  /*background: linear-gradient(to right, rgba(255,255,255,.4) , white);*/
  /*width: 30px;*/
  /*height: 17px;*/
  /*content: ' ';*/
  /*right: 135px;*/
  /*top: 0;*/
}
.building-list-side .bld-list-side:hover {
  background: #f3f8fe none repeat scroll 0 0;
  cursor: pointer;
}
.sub-nav-active {
  width: calc(100% - 200px);
}
.bld-workspace {
}
.bld-sub-nav {
  margin-bottom: 0;
  width: 200px;
  overflow: hidden;
}
.bld-workspace article {
}
.bld-filters-sub-nav {
  background: #f8f8f8 none repeat scroll 0 0;
  padding: 20px 5px 5px;
}
.search-subnav-bld {
  margin-bottom: 15px;
  margin-left: 10px;
  width: 155px;
}
.search-subnav-bld input {
  width: 100%;
}
.filter-subnav-bld {
  margin-bottom: 15px;
  margin-left: 10px;
  width: 155px;
}
.filter-subnav-bld select {
  width: 100%;
}
.filter-subnav-bld select option {
  padding: 3px 5px;
}
.product-image{
  max-height: 300px;
}
.product-image img{
  max-width: 100%;
}

.sub-nav {
  height: 100%;
  min-height: 100%;
  position: fixed;
  width: 200px;
  /*border-right:1px solid #ddd;*/
}
.sub-nav .admin-sub-nav {
  padding: 10px;
}
.sub-nav .admin-sub-nav p {
  border-bottom: 1px solid #ddd;
  color: #3276b1;
  cursor: pointer;
  padding: 10px;
}
.sub-nav .admin-sub-nav p:hover {
  background: #f3f8fe;
}
.workspace {
  height: auto;
  left: 200px;
  padding-bottom: 50px;
  position: relative;
  width: calc(100% - 200px);
}

#profile-table_length, #profile-table_filter{
  display: none ;
}
.admin-workspace{}
.icon-preview{
  color: #333;
  font-size: 20px;
  position: relative;
  top: -6px;
}
.customer-record:hover{

  opacity: .7;
}
.summary-ticket-container{
  background: #f4f4f4 none repeat scroll 0 0;
  margin-bottom: 15px;
}
.summary-ticket-container .comment-content{
  background: white none repeat scroll 0 0;
  margin-top: 5px;
  max-height: 200px;
  overflow: auto;
  padding-top: 10px;
}


.units-overflow{
  max-height: 350px;
  overflow: auto;
}

.squaredOne {
  height: 100%;
  position: relative;
  width: 100%;
  border-radius: 2px;
  transition: all .7s ease 0s;
}
.squaredOne:hover {
  box-shadow: 1px 1px 2px rgba(0,0,0,.5) inset;
}
.squaredOne label {
  cursor: pointer;
  height: 100%;
  left: 0;
  padding-top: 2px;
  position: absolute;
  top: 0;
  width: 100%;
}
.squaredOne label::after {
  content: "";
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
}
.squaredOne label:hover::after {
  opacity: 0.3;
}
.squaredOne input[type="checkbox"] {
  visibility: hidden;
}
.squaredOne input[type="checkbox"]:checked + label {
  background: rgba(144, 224, 107, 0.3) none repeat scroll 0 0;
  border-left: 2px solid green;
  opacity: 1;
}





.hotline{
  border-top:2px solid crimson;
  min-height: 60px;
  max-height: 60px;
}
.hotline p i{
  color: #0f94f6;
  font-size: 22px;
}
.regular-contact{
  border-top:2px solid #0f94f6;
}
.bld-contacts{}
.bld-contacts div{}

/*DropZone*/
.one {
  cursor: pointer;
  overflow: hidden;
  display: block;
  position: relative;
  width: 100%;
  height: 70px;
  background: whitesmoke;
  border-radius: 4px;
  font: caption;
  text-align: center;
  border: 1px dotted silver;
  box-sizing: border-box;
}
.one:hover{
  /*border: 2px dotted #1da3fc;*/
}
.one p {
  padding-top: 16px;
  font-size: 16px;
}
.one span {
  display: block;
  font-size: 10px;
}
.one img {
  width: 15px;
  position: relative;
  top: 5px;
  right: 1px;
}
.one input {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 9999px;
  opacity: 0;
  cursor: pointer;
}

.two {
  display: block;
  margin: 30px;
}
.two span {
  display: none;
}
.two.drop-zone span {
  display: block;
  font-size: 10px;
}


.preview-images {
}
.preview-images .img-box {
  float: left;
  /*height: 100px;*/
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 10%;
}
.preview-images .img-box img {
  max-height: 200px;
  max-width: 300px;
}
.preview-images .img-box div.remove-act {
  background: rgba(237, 20, 61, 0.85);
  top: 0;
  color: white;
  cursor: pointer;
  font-size: 25px;
  font-weight: lighter;
  width: 40px;
  z-index: 10;
  margin: 0 auto;
  height: 40px;
  position: absolute;
  text-align: center;
  right: 0;
}
.preview-images .img-box div.remove-act:hover {
  opacity: 0.6;
}
.preview-images .img-box div.texto {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 0;
  background: white;
}
.preview-images .img-box div.texto textarea {
  width: 100%;
  resize: none;
  border: none;
  border-radius: 0px;
  padding: 10px 15px;
  border-top: 1px solid #ddd;
  min-height: 70px;
  margin: 0;
  border-radius: 0px;
  box-shadow: none;
}

.style-refund{
  border-left:2px solid #0086ff;
}
.style-charge{
  border-left:2px solid #ffce54;
}
.cbox-containter textarea{
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 4px;
  width: 65%;
  max-width: 65%;
  min-width: 65%;
  max-height: 150px;
  min-height: 50px;
}
.label-refund, .label-charge{
  position: absolute;
  top:-20px;
  left:0;
}

.ch-border{
  border:2px solid red;
  border-top:none;
  border-bottom:none;
  border-left:1px solid transparent;
  border-right:1px solid transparent;
}
.ch-border-1{
  border-left:3px solid;
}
.ch-pending, .ch-1{
  /*background: rgba(224, 219, 10, 0.3) none repeat scroll 0 0 !important;*/
  border-color: #e0db0a;
}
.ch-invoiced, .ch-2{
  /*background: rgba(144, 224, 107, 0.3) none repeat scroll 0 0 !important;*/
  border-color: #0086ff;
}
.ch-paid, .ch-3{
  /*background: rgba(0, 134, 255, 0.3) none repeat scroll 0 0 !important;*/
  border-color: #90e06b;
}
.ch-failed, .ch-4{
  /*background: rgba(255, 122, 122, 0.3) none repeat scroll 0 0 !important;*/
  border-color: #ff7a7a;
}
.ch-disabled, .ch-5{
  /*background: rgba(250, 251, 252, 0.3) none repeat scroll 0 0 !important;*/
  border-color: #ddd;
}
.ch-pending-Approval, .ch-6{
  /*background: rgba(255, 214, 0, 0.3) none repeat scroll 0 0 !important;*/
  border-color: #ffd600;
}
.ch-denied, .ch-7{
  /*background: rgba(255, 109, 0, 0.3) none repeat scroll 0 0 !important;*/
  border-color: #ff6d00;
}
.ch-active-month{
  border-bottom: 3px solid #0086ff;
}
.ch-active-year{
  border-bottom: 3px solid #00c853;
}
.months-select-style{

}
.months-select-style:hover{
  background: rgba(0, 134, 255, 0.17);
}
.align-smart-form-check{
  display: inline-block;
  top: -10px;
  left: 15px;
}
.transaction-result-box{
  clear: both;
}

.cn-customer {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.cn-customer .container {
  background: white none repeat scroll 0 0;
  padding-top: 20px;
  position: relative;
}
.cn-customer .cn-title {
  border-bottom: 1px solid #ddd;
  color: #babbbd;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 35px;
  width: 100%;
}
.cn-customer .cn-containers {
  height: 70px;
}
.cn-customer .cn-spacer-containers {
  height: 20px;
}
.cn-customer .cn-containers label {
  color: #7d7d7d;
  font-size: 14px;
  font-weight: inherit;
  margin-bottom: 10px;
}
.cn-customer .cn-containers input {
  border:none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
  width: 100%;
  color: #006eb9;
}
.cn-customer .cn-containers input::placeholder,
.preview-images .img-box div.texto textarea::placeholder,
.search-subnav-nc input::placeholder{
  color: #bfbfbf;
}
.cn-customer .cn-containers select {

}
#cn-address {
  border:none !important;
  margin-bottom: 1px;
  font-size: 14px;
}
.cn-customer .cn-containers label.address-label {
  margin-bottom: 1px;
}
#cn-city-state-zip {
  border:none !important;
  font-size: 14px;
  padding-bottom: 30px;
}
#img-displayed img{
  max-height: 150px;
}
.color-click{
  color: #3276b1;
}
.clip-style:hover{
  opacity:.7;
}
.search-subnav-nc{
  margin-bottom: 10px;
  position: relative;
}
.search-subnav-nc input{
  width: 100%;
  border: none;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}
.search-close-nc-address{
  position: absolute;
  top: 0px;
  right: 10px;
  width: 15px;
  font-size: 16px;
  color: #ddd;
}
.search-close-nc-address .nc-lupa{
  color: #ddd;
}
.search-close-nc-address .nc-no-lupa{
  color: crimson;
}

.filter-bld-nc{
  max-height: 150px;
  overflow: auto;
  color: #3276b1;
  position: absolute;
  background: white;
  width: 100%;
}
.filter-bld-nc div{
  cursor: pointer;
  padding: 2px 0px;
  border-bottom: 1px solid rgba(0,0,0,.02);
}
.filter-bld-nc div:hover{
  opacity: .7;
}
.switches-list, .products-list{
  font-size: 13px;
  padding: 2px 0;
}
.products-list{
  border-bottom: 1px dotted #ddd;
}
.switches-list div, .products-list div, init-ports{
  cursor: pointer;
}
.switches-list div:hover, .products-list div:hover, init-ports:hover{
  opacity: .7;
}
.unfocus-switch, .unfocus-service, .unfocus-ports{
  opacity: .7;
}
.selected-switch, .selected-service, .selected-port{
  font-weight: bold;
}
.header-title{
  font-size: 15px;
  font-weight: bold;
  background: rgba(0,0,0,.04);
  margin-bottom: 5px;
  padding: 3px 13px;
}
.ports-list-format{
  margin-bottom: 10px;
}
.selected-service-display{
  border-bottom: 1px solid green;
  font-size: 16px;
  margin-top: 20px;
  text-align: center;
}
.verify-info-container {
}
.verify-info-container input {
}
.verify-info-container .bloque-a {
  border-right: 1px dotted gray;
  height: 230px;
  margin-bottom: 20px;
}
.verify-info-container .bloque-a label {
  color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  font-size: 14px;
  width: 20%;
}
.verify-info-container .bloque-a span {
  border-left: medium none;
  border-right: medium none;
  border-top: medium none;
  color: #333;
  font-size: 14px;
  padding: 0 5px 0 0;
}
.verify-info-container .bloque-a span.up-status{
  color: #00c853;
}
.verify-info-container .bloque-b {
  border-right: 1px dotted gray;
  height: 230px;
  margin-bottom: 20px;
}
.verify-info-container .bloque-b label {
  color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  font-size: 14px;
  width: 30%;
}
.verify-info-container .bloque-b span {
  color: #333;
  display: inline-block;
  font-size: 14px;
  padding: 0 5px 0 0;
  width: auto;
}
.verify-info-container .bloque-b .img-cont {
  margin-top: 20px;
  text-align: center;
}
.verify-info-container .bloque-b .img-cont img {
}
.verify-info-container .bloque-c {
  height: 230px;
  margin-bottom: 20px;
}
.verify-info-container .bloque-c label {
  color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  font-size: 14px;
  width: 20%;
}
.verify-info-container .bloque-c div span {
}
.form-status-ok {
  border-bottom: 1px solid rgb(0, 200, 83);
}
.form-status-nook {
  border-bottom: 1px solid crimson;
}
.verify-info-container .bloque-a .nc-name {
  display: inline-block;
  width: auto;
}
.verify-info-container .bloque-b .nc-csz {
  display: inline-block;
  width: auto;
}
.verify-info-container .bloque-c span {
  color: #333;
  display: inline-block;
  font-size: 14px;
  padding: 0 5px 0 0;
  width: auto;
}
.verify-info-container .bloque-c .nc-serv {
  float: right;
  width: 80%;
}
.req-div{
  color: crimson;
  font-size: 14px;
  font-weight: bold;
}
.required-fields-p{
  line-height: 0px;
  color: #888;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.loading-bg{
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.7);
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: all .7s ease 0s;
  text-align: center;
}
.loading-bg img{
  position: relative;
  top: 50%;
}
.error-message p {
  color: black;
  padding: 10px 0;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  transition: all .7s ease 0s;
}
.admin-id-search input{
  padding-left: 40px !important;
}
.admin-id-search:before{
  color: #0f94f6;
  content: "id:";
  font-size: 15px;
  left: 0;
  padding-left: 15px;
  padding-top: 4px;
  position: absolute;
  width: 40px;
}
.admin-id-search{
  width: 25%;
}
.product-list-result:nth-child(odd){
  background: #f8f8f8;
}
.product-list-result:hover{
  opacity:.7;
}
.product-list-result:hover label{
  font-weight: bold;
}

.selected-product-active label{
  font-weight: bold;
}
.selected-product-active i{
  display: block;
  position: relative;
  top:5px;
}
.hoverinfo{
  position: absolute;
  font-size: 14px;
  color: rgba(51, 51, 51, 0.54);
  top: 8px;
  font-style: italic;
  right: 20px;
}
.fixed-checkout-products-list{
  min-height: 460px;
  overflow: auto;
  max-height: 460px;
  margin-bottom: 10px;
}
.showing-paginate-label{
  font-size: 14px;
  color: rgba(51, 51, 51, 0.54);
  font-style: italic;
}
.fixed-location-chargesandinvoices{

}
.check-status-action{
  float: right;
  width: 19px;
  height: 22px;
  position: absolute;
  left: 0px;
  top: -3px;
}
.set-title-p{
  position: relative;
  top:10px;
}
.p-title-status{
  /*padding-left: 25px;*/
}

.close-tab-cross{
  text-align: center;
  display: inline-block;
  padding: 0px 4px;
}
.close-tab-cross:hover{
  opacity: .6;
  background: rgba(0,0,0,.3);
}
.style-form{}
.style-form div{
  margin-bottom: 5px;
}
.style-form div label{
  color: #7d7d7d;
}
.style-form div input{
  color: #006eb9;
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #ddd;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
  border-radius: 0px;
}
.style-form div input::placeholder{
  color: #bfbfbf;
}
.style-form div textarea{
  width:100%;
}
.drop-zone-box{
  font-family:"Lato",sans-serif;
}
.follow-drop-box{
  height: 50px;
  background: #0f94f6;
  width: 50px;
  border-radius: 50%;
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
  position: fixed;
  z-index: 100;
  right: 10px;
  bottom: 50px;
  /*animation: bounce 5s infinite;*/
  font-size: 16px;
  border: none;
  padding-top: 11px;
}
.follow-drop-box:hover{
  /*-webkit-filter: blur(1px);*/
  /*filter: blur(1px);*/
}
.bld-actions{
  box-shadow: none;
  border-radius: 0px;
  background: none;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0px;
}
.al-tab-view #activity-log{
  background: white;
  box-shadow: none;
  border-radius: 0px;
}
.al-tab-view #activity-log .al-box .al-type-title{
  display: none;
}
.al-tab-view #activity-log .al-box .al-box-container{
  background: none;
}
.al-tab-view .panel-body{
  overflow: auto;
  max-height: 300px;
}
.notification-container{
  float: right;
  margin-right: 10px;
}
.reset-form-ncustomer{  }

.reset-form-ncustomer:hover{
  opacity: .5;
}
.prevent-loading{
  position: absolute;
  background: rgba(255,255,255,.7);
  width: 100%;
  height: calc(100% - 200px);
  z-index: 10;
  margin-top: 34px;
}
.invoice-skin{  }
.invoice-skin thead tr{
  background: none;
 }
.invoice-skin thead tr th, .invoice-skin tbody tr td{
  border: none;
 }
.no-vip-class a.editable{
  color: #ddd;}

pre {
  font-size: 10px;
  margin: 30px;
}