<div  class="building-list-side">
  <!--<div data-smart-jqui-accordion>-->
    <!--<div>-->
      <!--<h4>Buildings</h4>-->

      <div class="padding-10">
        <div ng-repeat="building in bldListResult" class="bld-list-side">
          <a href="#/buildings?id={{building.id}}">
            {{building.id}} : {{building.code}} : {{building.name}}
            <br>
            {{building.name}}
          </a>
        </div>
      </div>
      <!---->
    <!--</div>-->

  <!--</div>-->

</div>
<hr>
<hr>
<hr>

<!--<div ng-repeat="building in bldListResult">-->
  <!--{{building.id}} : {{building.code}} : {{building.name}}-->
<!--</div>-->
