<div class="col-lg-12 no-padding-sides">
    <div class="col-lg-1 b-r-ddd btn months-select-style  {{(month == chargesAndInvoicesMonth || ($index+1) == chargesAndInvoicesMonth) ? 'ch-active-month' : 'regular-month'}}"
         ng-repeat="month in allMonths"
         ng-click="getDataByMonth()">
        {{month}}
    </div>
    <div class="col-lg-12 b-t-ddd"></div>
    <div class="col-lg-1 b-r-ddd btn months-select-style  {{year == chargesAndInvoicesYear ? 'ch-active-year' : 'regular-year'}}"
         ng-repeat="year in allYears"
         ng-click="getDataByYear()">
        {{year}}
    </div>
</div>

<div class="col-lg-12 p-t-lg p-b-lg bg-white white-shadow filters-fixed-size m-t-lg">
    <form id="charges-filter-form-container">
        <div class="col-lg-3">
            <button class="btn btn-primary m-r-lg" ng-click="getCharges('empty')">Reset Filter</button>
            <select name=""
                    id=""
                    ng-options="item as item.label for item in statusLabelArr track by item.id"
                    ng-model="billingFilterStatus"
                    ng-change="getCharges('status')"
                    class="size-50">
                <option value="">Select Status</option>
            </select>
        </div>
        <div class="col-lg-3">
            <div class="input-group input-group-sm ">
                <input type="text" placeholder="Amount" class="form-control input-sm" enter-action="getCharges('amount')" ng-model="billingFilterAmount">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary" ng-click="getCharges('amount')">
                        <i class="fa fa-fw fa-filter fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group input-group-sm ">
                <input type="text" placeholder="Building" class="form-control input-sm" enter-action="getCharges('code')" ng-model="billingFilterCode">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary" ng-click="getCharges('code')">
                        <i class="fa fa-fw fa-filter fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="input-group input-group-sm ">
                <input type="text" placeholder="Unit" class="form-control input-sm" enter-action="getCharges('unit')" ng-model="billingFilterUnit">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary" ng-click="getCharges('unit')">
                        <i class="fa fa-fw fa-filter fa-lg"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="col-lg-12 m-b-lg">
        <hr>
        <div class="showing-paginate-label">Showing: {{fullResponse.charges.from}} to {{fullResponse.charges.to}} of {{fullResponse.charges.total}}</div>
    </div>


    <table id="myTable" class="tablesorter table table-striped" datatable="ng" dt-options="dtOptions">
        <thead>
        <tr>
            <!--<th>ID</th>-->
            <th>Type</th>
            <th>Customer</th>
            <th>Amount</th>
            <th>Quantity</th>
            <th>Details</th>
            <th>Invoice</th>
            <th>Status</th>
            <th>Description</th>
            <th>Comment</th>
            <th>Period</th>
            <th>Due On</th>
            <th>Added</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="charge in chargesAndInvoices">

            <!--<td>{{charge.id}}</td>-->
            <td class="capital-first ch-{{charge.status}} " ng-if="charge.type == 'credit'"><b><i>{{charge.type}}</i></b></td>
            <td class="capital-first ch-{{charge.status}} " ng-if="charge.type != 'credit'">{{charge.type}}</td>

            <td><a href="#/customers?id={{charge.customer.id}}">{{charge.customer.first_name + ' ' + charge.customer.last_name}}<br>{{charge.address.code}} #{{charge.address.unit}}</a></td>

            <td>${{charge.amount}}</td>

            <td>{{charge.qty}}</td>

            <td ng-if="!charge.id_customer_products">N/A</td>
            <td ng-if="charge.id_customer_products"><i class="btn btn-primary fa fa-eye" ng-click="showProductDetail()" data-toggle="modal" data-target="#chandin-product"></i></td>

            <td ng-if="!charge.id_invoices">N/A</td>
            <td ng-if="charge.id_invoices"><i class="btn btn-warning fa fa-file-pdf-o" ng-click="showInvoiceDetail()" data-toggle="modal" data-target="#chandin-invoice"></i></td>

            <td ng-init="statLabel = statusLabel(charge.status)" class="ch-{{statLabel}} capital-first ch-border-1 ch-{{charge.status}}">{{statLabel}}</td>

            <td>{{charge.description}}</td>
            <td>{{charge.comment ? charge.comment : 'No Comments'}}</td>

            <td>
                <label ng-init="resultDateSD = convertDate(charge.start_date)">{{ resultDateSD | date : "MMM d" }}</label> <b> - </b>
                <label ng-init="resultDateED = convertDate(charge.end_date)"> {{ resultDateED | date : "MMM d" }}</label>
            </td>

            <td ng-init="resultDateDD = convertDate(charge.due_date)"><b> {{ resultDateDD | date : "shortDate" }}</b></td>
            <td ng-init="resultDateCA = convertDate(charge.created_at)"><b>{{ resultDateCA | date : "shortDate" }}</b></td>


        </tr>
        </tbody>
    </table>

    <div>
        <button class="btn btn-warning " ng-if="!fullResponse.charges.prev_page_url" disabled><i class="fa fa-arrow-left"></i> Prev</button>
        <button class="btn btn-danger " ng-if="!fullResponse.charges.next_page_url" disabled>Next <i class="fa fa-arrow-right"></i></button>

        <button class="btn btn-warning " ng-if="fullResponse.charges.prev_page_url" ng-click="getCharges(fullResponse.charges.prev_page_url)"><i class="fa fa-arrow-left"></i> Prev</button>
        <button class="btn btn-danger " ng-if="fullResponse.charges.next_page_url" ng-click="getCharges(fullResponse.charges.next_page_url)">Next <i class="fa fa-arrow-right"></i></button>
    </div>
</div>


<!--Modal 1 = ProductDetails -->
<div class="modal fade" id="chandin-product" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-ticket-size">
        <div class="modal-content">
            <div class="modal-body">
                <div class="wrapper-sm">
                    <div class="row">
                        <div class="col-lg-12 b-b-ddd m-b-lg p-b-md">
                            <small>Product Detail :</small>
                            <label class="label-data-service">{{showProductDetails.product.name}}</label>
                        </div>
                        <div class="col-lg-6">
                            <label class="bold-type col-lg-3">Amount</label>
                            <label class="col-lg-3 block-a-label">{{('$' + showProductDetails.product.amount + '.00')}}</label>
                            <label class="bold-type col-lg-3">Cycle</label>
                            <label class="col-lg-3 block-a-label">{{showProductDetails.product.frequency}}</label>
                            <label class="bold-type col-lg-3">Status</label>
                            <label class="col-lg-3 block-a-label">{{showProductDetails.id_status}}</label>
                        </div>
                        <div class="col-lg-6">
                            <label class="bold-type col-lg-5">Signed Up</label>
                            <label class="col-lg-7 block-a-label" ng-init="resultDatePSUP = convertDate(showProductDetails.signed_up)" ng-if="showProductDetails.signed_up">
                                {{ resultDatePSUP | date : "MMM d, y h:mm a"}}
                            </label>
                            <label class="bold-type col-lg-5">Expires</label>
                            <label class="col-lg-7 block-a-label" ng-init="resultDatePEX = convertDate(showProductDetails.expires)" ng-if="showProductDetails.expires">
                                {{resultDatePEX | date : "MMM d, y h:mm a"}}
                            </label>
                            <label class="bold-type col-lg-5">Last Updated</label>
                            <label class="col-lg-7 block-a-label" ng-init="resultDatePUAT = convertDate(showProductDetails.updated_at)" ng-if="showProductDetails.updated_at">
                                {{resultDatePUAT | date : "MMM d, y h:mm a"}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!--END Modal 1 = ProductDetails -->

<!--Modal 2 = InvoiceDetails -->
<div class="modal fade" id="chandin-invoice" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-body">
                <div class="wrapper-sm">
                    <div>
                        <a href class="btn btn-success pull-right" onClick="alert('sending copy to customer')">Send to Customer</a>
                        <div class="invoice-logo "><img src="/img/silverip-logo-100px.png" alt="SilverIp"/></div>
                        <div class="row">

                            <div class="col-xs-6">
                                <p>{{showInvoiceDetails.invoices.address}}</p>
                                <p>Contact: {{showInvoiceDetails.customer.email}}</p>
                            </div>

                            <div class="col-xs-6 text-right right-side-invoice">
                                <p class="f-size-17"># {{showInvoiceDetails.invoices.id}}</p>
                                <p class="f-size-17"
                                   ng-init="dueDate = convertDate(showInvoiceDetails.invoices.due_date)"
                                   ng-if="showInvoiceDetails.invoices.due_date">
                                    Due date: {{dueDate | date : "MMM d, y h:mm a" }}
                                </p>
                            </div>

                        </div>
                        <hr>

                        <p class="m-b-lg"
                           ng-init="invoDate = convertDate(showInvoiceDetails.invoices.created_at)"
                           ng-if="showInvoiceDetails.invoices.created_at">
                            Invoice date: <strong>{{invoDate | date : "MMM d, y h:mm a" }}</strong><br>
                            Status: <span class="label cdg-color-up caps">{{showInvoiceDetails.invoices.status}}</span><br>
                            ID: <strong> # {{showInvoiceDetails.invoices.id}}</strong>
                        </p>

                        <div class="line"></div>

                        <table class="table table-striped bg-white b-a">
                            <thead>
                            <tr>
                                <th>Product ID</th>
                                <th>Product</th>
                                <th>Frequency</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody ng-init="invoiceParsed = parJson(showInvoiceDetails.invoices.details)" ng-if="showInvoiceDetails.invoices.details">
                            <tr ng-repeat="descProd in invoiceParsed">
                                <td>{{descProd.customer_product_id}}</td>
                                <td>{{descProd.product_name}}</td>
                                <td class="capital-first">{{descProd.product_frequency}}</td>
                                <td>${{descProd.product_amount}}</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-right-invo"><strong>Tax</strong></td>
                                <td>$0.00</td>
                            </tr>
                            <tr>
                                <td colspan="3" class="text-right-invo no-border"><strong>Total</strong></td>
                                <td><strong>${{showInvoiceDetails.invoices.amount}}</strong></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!--END Modal 2 = InvoiceDetails -->



