This is the SalesT1.html
<hr>
<div>THIS IS THE END OF THE BEGINING</div>

<hr>


<div class="col-lg-6 border4">
    <div class="col-lg-8 border5">
        <div class="col-lg-12">
            <h5>Customer / Owner:</h5>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-12">Customer:</div>
            <div class="col-lg-12">Address:</div>
            <div class="col-lg-12">Telephone:</div>
            <div class="col-lg-12">Email:</div>
            <div class="col-lg-12">BillingCOntract:</div>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-12"><input type="text" placeholder="Customer"></div>
            <div class="col-lg-12"><input type="text" placeholder="Address"></div>
            <div class="col-lg-12"><input type="text" placeholder="Telephone"></div>
            <div class="col-lg-12"><input type="text" placeholder="Email"></div>
            <div class="col-lg-12"><input type="text" placeholder="Billing Contact"></div>
        </div>
    </div>
    <div class="col-lg-4 border1">
        <div class="col-lg-12">
            <h5>Operator</h5>
        </div>
        <p>SILVER IP COMMUNICATIONS <br> 150 N Michigan Ave. Suite 2800 <br>Chicago, IL 60601</p>
        <div class="col-lg-6">Sales Representative</div>
        <div class="col-lg-6">
            <input type="text" placeholder="Sales Rep.">
            <input type="text" placeholder="Contact">
            <input type="text" placeholder="Email">
        </div>
    </div>

    <div class="col-lg-12 border">
        <div class="col-lg-6">
            <div class="col-lg-6">Service Location:</div>
            <div class="col-lg-6"><input type="text" name="" id="" placeholder="Service Location"></div>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-6">Est. Service Start:</div>
            <div class="col-lg-6"><input type="text" placeholder="Est. Service Start"></div>
            <div class="col-lg-6">Demarc:</div>
            <div class="col-lg-6"><input type="text" placeholder="Demarc"></div>
        </div>
    </div>

    <div class="col-lg-12 border4">LIST OF SERVICES MAYBE CHECKBOX OR SOMETHING NICE :)</div>

    <div class="col-lg-12 border3">
        <b>Term of Service:</b> This Agreement governs the terms and conditions under which SilverIP Communications (“Operator”) provides the Services marked above (the “Services”) to the above named Customer (“Owner”). By using Services provided by Operator, Owner acknowledges and agrees to the terms and conditions of this Agreement (the “Terms”) attached to the document. This Agreement should be read in conjunction with the Service Terms and Conditions attached hereto. This Agreement shall be deemed in full force and effect from the Service Start Date listed above until three (3) year after such date unless earlier terminated by Owner or Operator pursuant to the terms of this Agreement.
    </div>
    <div class="col-lg-12 border2">
        <div class="col-lg-12">
            <h5>Notes</h5>
        </div>
        <textarea name=""  cols="30" rows="10">TEXT TEXT TEXTE...</textarea>
    </div>
    <div class="col-lg-12 border3">
        By Signing below, Customer/Owner affirms and acknowledges that it has read the entire Agreement, including the Service Terms and Conditions and agrees to be bound by the provisions thereof.
    </div>
    <div class="col-lg-6 border1">
        <div class="col-lg-12">
            <h5>CLIENT / OWNER:</h5>
        </div>
        <div class="col-lg-12">FIRMA POR AQUI</div>
        <div class="col-lg-12">Date <input type="text" placeholder="Date"></div>
        <div class="col-lg-12">
            <div class="col-lg-6">PRINTED NAME:</div>
            <div class="col-lg-6"><input type="text" placeholder="PRINTED NAME"></div>
        </div>
        <div class="col-lg-12">TITLE:<input type="text" placeholder="TITLE"></div>
    </div>
    <div class="col-lg-6 border5">
        <div class="col-lg-12">
            <h5>OPERATOR : SILVER IP COMMUNICATIONS</h5>
        </div>
        <div class="col-lg-12">FIRMA POR AQUI</div>
        <div class="col-lg-12">Date <input type="text" placeholder="Date"></div>
        <div class="col-lg-12">
            <div class="col-lg-6">PRINTED NAME:</div>
            <div class="col-lg-6"><input type="text" placeholder="PRINTED NAME"></div>
        </div>
        <div class="col-lg-12">TITLE:<input type="text" placeholder="TITLE"></div>
    </div>

</div>
<div class="col-lg-6 border2">
    <div class="col-lg-12">
        1. Payment: Owner agrees to pay the Service costs as described in the Service Agreement attached hereto. Services shall be invoiced monthly for the subsequent month’s Services and payment shall be due in full on or before the first (1st) day of the month of Services. In the event that Owner fails to pay such monthly fee prior to the tenth day of the month of Services, Owner agrees to pay a late charge equal to 2.5% of any such amount due incurred on a monthly basis on the past due amount.  In addition, Owner shall reimburse Operator for any collection costs incurred by Operator, including but not limited to reasonable attorney fees incurred by Operator in an effort to collect overdue payments. The Installation Fee (the “Initial Cost”) shall be due upon signing of this Agreement.
        2. Term of Service: This Agreement governs the Terms and Conditions under which Operator provides the Services to Owner (the “Operator’s Services”). By using Operator’s Services, Owner acknowledges and agrees to the terms and conditions of this Agreement (the “Terms”). This Agreement should be read in conjunction with the Schedules attached hereto. This Agreement shall be deemed in full force and effect from the date hereof until three (3) years after the  first day of service (the “Service Date”), unless earlier terminated by Owner or Operator pursuant to the terms hereof.
        3. No Content Liability: As used in this Agreement, “Content” means the information, software, graphics, photographs, video, speech, sounds, music, and other material and service communicated through the Operator’s Services. Operator makes no representations, warranties, or promises as to, and Owner shall bear the risk of relying on, the accuracy, completeness, or usefulness of any Content. As a matter of policy, Operator does not screen or filter any Content and has no obligation to monitor Content. Accordingly, Operator shall not have any liability whatsoever for any action or inaction by Operator with respect to Content.
        4. Content Rights: Operator reserves the right (but shall have no obligation) to monitor Content and to remove Content that Operator deems unacceptable, undesirable, or in violation of this Agreement. Operator reserves the right to disclose any Content and to identify the responsible customer as may be required by law, or to operate Operator’s Services properly, or to protect itself or its other subscribers.
        5. Security: Any information and data sent and received by Owner or Owner’s Staff / Users over Operator’s Services is sent at Owner’s sole risk, and Operator shall have no liability whatsoever for any claims, losses, actions, damages, suits, or proceedings arising out of or otherwise related to such actions including but not limited to denial of service attacks, receipt of corrupted files or viruses. Owner is responsible of securing its devices.
        6. Limited Warranty: Operator does not warrant that any data or files sent by or to Owner will be transmitted in uncorrupted form. All representations, warranties, endorsements and conditions or any kind, express or implied, including without limitation, fitness for a particular purpose, merchantability, and those arising from a course of dealing or usage of trade, are hereby excluded.

    </div>

</div>






