<div class="nav-container">
    <div class="col-xs-3  text-center h-menu-icons"><a href="#/dashboad"><i class="fa fa-reorder"></i></a></div>
    <div class="col-xs-3  text-center h-menu-icons"><a href="#/walkthrough"><i class="fa fa-paper-plane-o"></i></a></div>
    <div class="col-xs-3  text-center h-menu-icons"><a href="#/tech-appointments"><i class="fa fa-calendar"></i></a></div>
    <div class="col-xs-3  text-center h-menu-icons"><a href="#/buildings"><i class="fa fa-building"></i></a></div>
</div>

