<!--browser.mobile ======> {{mobDevice}}-->
<div class="walkthrough-mobile">


    <div class="m-b-lg  mobile-walk anim m-walk" id="mw-view-0">
        <div class="col-lg-12 col-xs-12 m-b-lg text-center bg-white p-t-md p-b-md b-b-ddd no-padding-sides"><h4>Walkthrough</h4></div>
        <div class="col-lg-12 col-xs-12  no-padding-sides" ng-controller="buildingCtl">
            <div class="col-xs-8 mw-filter-bld ">
                <input type="text" placeholder="Find Building" ng-keyup="filterBldList()" ng-model="filterBldListModel">
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-labeled btn-success" ng-click="nextPhase('mw-view-', 0)">
                    <span class="btn-label">
                        <i class="fa fa-plus"></i>
                    </span>
                    Add
                </button>
            </div>
            <div class="col-xs-12 m-t-lg">
                <div class="building-list-side">
                    <div ng-repeat="building in bldListResult"
                         class="bld-list-side"
                         ng-click="displayBldData(building.id)">
                        <p alt="{{building.name}}" title="{{building.name}}">
                            <b>{{building.code}}</b> : {{building.name}} | <b>Status or something here.</b>
                            <br>
                            {{building.type}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-b-lg  mobile-walk anim mw-1" id="mw-view-1">
        <div class="col-lg-12 col-xs-12 m-b-lg text-center bg-white p-t-md p-b-md b-b-ddd no-padding-sides">
            <span class="back-style-action cursor-pointer" ng-click="backPhase('mw-view-', 1)"><i class="fa fa-angle-left"></i>Walkthrough</span>
            <h4>Building Name</h4>
            <span class="next-style-action cursor-pointer" ng-click="nextPhase('mw-view-', 1)" ng-if="mwView1">Done</span>
            <span class="next-style-action cursor-pointer no-action" ng-if="!mwView1" >Done</span>
        </div>

        <div class="col-xs-12 col-lg-12 no-padding-sides">
            <form>
                <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                    <input type="text"
                           placeholder="Building Name Ex: Lakeside On The Park"
                           required
                           ng-keyup="verifyBldRecord()">
                </div>
                <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                    <input type="text"
                           placeholder="Building Address Ex: Lakeside On The Park"
                           required
                           ng-keyup="verifyBldRecord()">
                </div>

            </form>
        </div>

    </div>


    <div class="m-b-lg  mobile-walk anim  mw-1" id="mw-view-2">


        <div class="col-lg-12 col-xs-12 m-b-lg text-center bg-white p-t-md p-b-md b-b-ddd no-padding-sides">
            <span class="back-style-action cursor-pointer" ng-click="backPhase('mw-view-', 2)"><i class="fa fa-angle-left"></i>Back</span>
            <h4>Lakeside On The Park</h4>

            <span class="next-style-action cursor-pointer">Update</span>


        </div>


        <header role="heading" class="ui-sortable-handle tabs-style-fixed col-xs-12 col-lg-12">
            <ul id="widget-tab-1" class="nav pull-left nav-tabs size-100">
                <li class="active ">
                    <a data-toggle="tab" href="#tab-r0" aria-expanded="false">
                        <span class="">General</span>
                    </a>
                </li>
                <li class=" tabs-style-fixed">
                    <a data-toggle="tab" href="#tab-r1" aria-expanded="false">
                        <span class="">Notes</span>
                    </a>
                </li>
                <li class=" tabs-style-fixed">
                    <a data-toggle="tab" href="#tab-r2" aria-expanded="false">
                        <span class="">Images</span>
                    </a>
                </li>

            </ul>
        </header>

        <div class="col-xs-12 col-lg-12 m-t-lg no-padding-sides">
            <div class="tab-content">
                <div class="tab-pane active" id="tab-r0">

                    <div class="col-xs-12 col-lg-12 no-padding-sides">
                        <form>
                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <input type="text" placeholder="Building Name Ex: Lakeside On The Park" readonly>
                            </div>
                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <input type="text" placeholder="Building Address Ex: Lakeside On The Park" readonly>
                            </div>
                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <input type="text" placeholder="Ex: 4800C" >
                            </div>
                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <input type="text" placeholder="Ex: High-Rise" >
                            </div>
                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <input type="text" placeholder="Ex: 267" >
                            </div>
                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <input type="text" placeholder="Ex: 10" >
                            </div>

                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <select name="">
                                    <option value="">Select Neighborhood</option>
                                    <option value="item.name" ng-repeat="item in neighborhoodList">{{item.name}}</option>
                                </select>
                            </div>

                        </form>
                    </div>

                </div>
                <div class="tab-pane " id="tab-r1">

                    <div class="col-xs-12 col-lg-12 no-padding-sides">
                        <form>
                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <textarea placeholder="Notes #1" class="padding-10 areatext-m size-100"></textarea>
                            </div>
                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <textarea placeholder="Notes #2" class="padding-10 areatext-m size-100"></textarea>
                            </div>
                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <textarea placeholder="Notes #3" class="padding-10 areatext-m size-100"></textarea>
                            </div>
                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <textarea placeholder="Notes #4" class="padding-10 areatext-m size-100"></textarea>
                            </div>
                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <textarea placeholder="Notes #5" class="padding-10 areatext-m size-100"></textarea>
                            </div>
                        </form>
                    </div>

                </div>
                <div class="tab-pane " id="tab-r2">

                    <div drop-zone ng-model="app.data.upload" class="one drop-zone-box follow-drop-box " >
                        <img src="/img/+.png" alt="">
                    </div>

                    <div class="col-lg-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-12 col-xs-12">
                                <div drop-zone ng-model="app.data.upload" class="one p-t-lg  drop-zone-box">
                                    <span class="font-lg">
                                        <i class="fa fa-caret-right text-danger"></i>
                                            Drop files to upload
                                        <span>(Or Click)</span>
                                    </span>
                                </div>
                            </div>

                            <div class="col-lg-12 col-xs-12 preview-images no-padding-sides p-t-lg" ng-if="filesControl.length > 0">
                                <form id="walkthrough-form">
                                    <div ng-repeat="file in app.data.upload" ng-if="file.type.indexOf('image')!==-1" class="img-box m-t-lg">
                                        <img src="{{file.data}}" class="" ng-if="file.data"/>
                                        <div ng-click="removeImage($index)" class="remove-act"><i class="fa fa-trash-o"></i></div>
                                        <div class="texto"><textarea name="image-{{$index}}" placeholder="Add comment to Image. {{$index}}"></textarea></div>
                                    </div>
                                </form>
                            </div>


                            <!-- BOTON -->

                            <div class="col-lg-12 m-t-lg col-xs-12">
                                <button ng-click="getDataControl()" class="btn btn-default">| Tadaa : Count and Console.Log() Array of Objects : Click |</button>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
















</div>