<!--browser.mobile ======> {{mobDevice}}-->
<div class="walkthrough-mobile">

    <div class="m-b-lg  mobile-walk anim m-walk" id="mw-view-0">
        <div class="col-lg-12 col-xs-12 m-b-lg text-center bg-white p-t-md p-b-md b-b-ddd no-padding-sides"><h4>Walkthrough</h4></div>
        <div class="col-lg-12 col-xs-12  no-padding-sides" ng-controller="buildingCtl">
            <div class="col-xs-8 mw-filter-bld ">
                <input type="text" placeholder="Find Building" ng-keyup="filterBldList()" ng-model="filterBldListModel">
            </div>
            <div class="col-xs-4">
                <button type="button" class="btn btn-labeled btn-success" ng-click="nextPhase('mw-view-', 0)">
                    <span class="btn-label">
                        <i class="fa fa-plus"></i>
                    </span>
                    Add
                </button>
            </div>
            <div class="col-xs-12 m-t-lg">
                <div class="building-list-side">
                    <div ng-repeat="building in bldListResult"
                         class="bld-list-side"
                         ng-click="getWtLocation(building.id)">
                        <p alt="{{building.name}}" title="{{building.name}}">
                            <b>{{building.code}}</b> : {{building.name}} | <b>Status here.</b>
                            <br>
                            {{building.type}} | ID: ({{building.id}})
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-b-lg  mobile-walk anim mw-1 animated fade-in-left-big"   id="mw-view-1">
        <div class="col-lg-12 col-xs-12 m-b-lg text-center bg-white p-t-md p-b-md b-b-ddd no-padding-sides">
            <span class="back-style-action cursor-pointer" ng-click="backPhase('mw-view-', 1)"><i class="fa fa-angle-left"></i>Walkthrough</span>
            <h4>Building Name</h4>
            <span class="next-style-action cursor-pointer" ng-click="insertProspectBuilding()" ng-if="mwView1">Done</span>
            <span class="next-style-action cursor-pointer no-action" ng-if="!mwView1" >Done</span>
        </div>

        <div class="col-xs-12 col-lg-12 no-padding-sides">
            <form>
                <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                    <input type="text"
                           placeholder="Building Name Ex: Lakeside On The Park"
                           required
                           ng-model="verifyInfoBld"
                           ng-keyup="verifyBldRecord('building')">
                    <span class="count-result-response span-count-input"
                          ng-click="seeResults('bld')"
                          ng-if="nameVerifyData">
                            Similar names: {{nameVerifyData['count']}}
                    </span>


                </div>
                <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                    <input type="text"
                           placeholder="Building Address Ex: 41 E 8th Street"
                           required
                           ng-model="verifyInfoAdd"
                           ng-keyup="verifyBldRecord()">
                    <span class="count-result-response span-count-input"
                          ng-click="seeResults('add')"
                          ng-if="addressVerifyData">
                            Similar names: {{ addressVerifyData['count'] }}
                    </span>
                </div>

            </form>
            <div class="building-list-side" ng-if="viewResultsName">
                <div ng-repeat="building in nameVerifyData['data']"
                     class="bld-list-side"
                     ng-click="getWtLocation(building.id)">
                    <p alt="{{building.name}}" title="{{building.name}}" class="size-100">
                        <b>{{building.code}}</b> : {{building.name}} | <b>Status...</b>

                    </p>
                </div>
            </div>
            <div class="building-list-side" ng-if="viewResultsAddress">
                <div ng-repeat="building in addressVerifyData['data']"
                     class="bld-list-side"
                     ng-click="getWtLocation(building.building.id)">
                    <p alt="{{building.building.name}}" title="{{building.building.name}}" class="size-100" ng-if="building.building">
                        <b>{{building.building.code}}</b> : {{building.building.name}} | <b>Status...</b>
                    </p>
                    <p alt="{{building.building.name}}" title="{{building.building.name}}" class="size-100" ng-if="!building.building">
                        <b>No info.</b>
                    </p>
                </div>
            </div>
            <div ng-if="verifyMsgView1" class="padding-7">
                <p class="down-status text-center">This locations already exists, verify info.</p>
            </div>
        </div>

    </div>

    <div class="m-b-lg  mobile-walk anim  mw-1 animated fade-in-left-big"  id="mw-view-2">

        <div class="col-lg-12 col-xs-12 m-b-lg text-center bg-white p-t-md p-b-md b-b-ddd no-padding-sides">
            <span class="back-style-action cursor-pointer" ng-click="backPhase('mw-view-', 2)"><i class="fa fa-angle-left"></i>Back</span>
            <h4>Lakeside On The Park</h4>

            <span class="next-style-action cursor-pointer" ng-click="updateinstance()">Update</span>


        </div>

        <header role="heading" class="ui-sortable-handle tabs-style-fixed col-xs-12 col-lg-12">
            <ul id="widget-tab-1" class="nav pull-left nav-tabs size-100">
                <li class="active" ng-click="setTabFlag('general')">
                    <a data-toggle="tab" href="#tab-r0" aria-expanded="false">
                        <span class="">General</span>
                    </a>
                </li>
                <li class=" tabs-style-fixed" ng-click="setTabFlag('notes')">
                    <a data-toggle="tab" href="#tab-r1" aria-expanded="false">
                        <span class="">Notes</span>
                    </a>
                </li>
                <li class=" tabs-style-fixed" ng-click="setTabFlag('images')">
                    <a data-toggle="tab" href="#tab-r2" aria-expanded="false">
                        <span class="">Images</span>
                    </a>
                </li>

            </ul>
        </header>

        <div class="col-xs-12 col-lg-12 m-t-lg no-padding-sides">
            <div class="tab-content">
                <div class="tab-pane active" id="tab-r0">

                    <div class="col-xs-12 col-lg-12 no-padding-sides">
                        <form id="general-tab-content">
                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <input type="text"
                                       placeholder="Building Name Ex: Lakeside On The Park"
                                       readonly
                                       value="{{newDataLoaded.building.name}}">
                            </div>
                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <input type="text"
                                       placeholder="Building Address Ex: Lakeside On The Park"
                                       readonly
                                       value="{{newDataLoaded.address}}">
                            </div>

                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <input type="text" placeholder="Code Ex: 4800C" name="code" ng-keyup="setToUpdate('update-code')" ng-if="!newDataLoaded.building.code">
                                <input type="text" name="code" ng-keyup="setToUpdate('update-code')" ng-if="newDataLoaded.building.code" value="{{newDataLoaded.building.code}}">
                                <i class="fa fa-save" id="update-code" style="display: none;"></i>
                            </div>

                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <input type="text" placeholder="Type Ex: High-Rise" name="type" ng-keyup="setToUpdate('update-type')" ng-if="!newDataLoaded.building.type">
                                <input type="text" name="type" ng-keyup="setToUpdate('update-type')" ng-if="newDataLoaded.building.type" value="{{newDataLoaded.building.type}}">
                                <i class="fa fa-save" id="update-type" style="display: none;"></i>
                            </div>

                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <input type="text" placeholder="Units Ex: 267" name="units" ng-keyup="setToUpdate('update-units')" ng-if="!newDataLoaded.building.units">
                                <input type="text" name="units" ng-keyup="setToUpdate('update-units')" ng-if="newDataLoaded.building.units" value="{{newDataLoaded.building.units}}">
                                <i class="fa fa-save" id="update-units" style="display: none;"></i>
                            </div>

                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <input type="text" placeholder="Floors Ex: 10" name="floors" ng-keyup="setToUpdate('update-floors')" ng-if="!newDataLoaded.building.floors">
                                <input type="text" name="floors" ng-keyup="setToUpdate('update-floors')" ng-if="newDataLoaded.building.floors" value="{{newDataLoaded.building.floors}}">
                                <i class="fa fa-save" id="update-floors" style="display: none;"></i>
                            </div>

                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg">
                                <select name="id_neighborhoods" ng-model="neighborhood" ng-change="setToUpdate('update-neighborhood')">
                                    <option value="">Select Neighborhood</option>
                                    <option value="newDataLoaded.neighborhood.id" ng-if="newDataLoaded.neighborhood">{{newDataLoaded.neighborhood.name}}</option>
                                    <option value="{{item.id}}" ng-repeat="item in neighborhoodList">{{item.name}}</option>
                                </select>
                                <i class="fa fa-save" id="update-neighborhood" style="display: none;"></i>
                            </div>

                        </form>
                    </div>

                </div>
                <div class="tab-pane" id="tab-r1">

                    <div class="col-xs-12 col-lg-12 no-padding-sides">
                        <form id="walkthrough-form-notes">

                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg"
                                 ng-if="notesArray"
                                 ng-repeat="note in newDataLoaded.building.notes">
                                <textarea class="padding-10 areatext-m size-100">{{note.comment}}</textarea>
                                <div class="remove-note">
                                <!--<div class="remove-note" ng-click="removeNoteField($index)">-->
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>


                            <div class="request-fields-inline bg-white b-t-ddd b-b-ddd m-b-lg"
                                 ng-if="notesArray"
                                 ng-repeat="note in notesArray">
                                <textarea placeholder="Note #{{$index}}" class="padding-10 areatext-m size-100" name="note-{{$index}}"></textarea>
                                <div class="remove-note" ng-click="removeNoteField($index)">
                                    <i class="fa fa-times"></i>
                                </div>
                            </div>

                        </form>
                        <div class="btn btn-success m-l-lg" ng-click="addNoteFiled()">Add Note <i class="fa fa-plus"></i></div>
                    </div>

                </div>
                <div class="tab-pane" id="tab-r2">

                    <div drop-zone ng-model="app.data.upload" class="one drop-zone-box follow-drop-box " >
                        <img src="/img/+.png" alt="">
                    </div>

                    <div class="col-lg-12 col-xs-12">
                        <div class="row">
                            <div class="col-lg-12 col-xs-12">
                                <div drop-zone ng-model="app.data.upload" class="one p-t-lg  drop-zone-box">
                                    <span class="font-lg">
                                        <i class="fa fa-caret-right text-danger"></i>
                                            Drop files to upload
                                        <span>(Or Click)</span>
                                    </span>
                                </div>
                            </div>





                            <div class="col-lg-12 col-xs-12 preview-images no-padding-sides p-t-lg">
                                <div ng-repeat="file in newDataLoaded.building.media" class="img-box m-t-lg">
                                    <img src="/img/wttmp/{{file.name}}"/>
                                    <div ng-click="removeImgLocation(file.id)" class="remove-act"><i class="fa fa-trash-o"></i></div>
                                    <div class="texto"><textarea name="image-{{$index}}" placeholder="Add comment to Image. {{$index}}"></textarea></div>
                                </div>
                            </div>





                            <div class="col-lg-12 col-xs-12 preview-images no-padding-sides p-t-lg" ng-if="filesControl.length > 0">
                                <form id="walkthrough-form">
                                    <div ng-repeat="file in app.data.upload" ng-if="file.type.indexOf('image')!==-1" class="img-box m-t-lg">
                                        <img src="{{file.data}}" class="" ng-if="file.data"/>
                                        <div ng-click="removeImage($index)" class="remove-act"><i class="fa fa-trash-o"></i></div>
                                        <i class="fa fa-save save-img-icon"></i>
                                        <div class="texto"><textarea name="image-{{$index}}" placeholder="Add comment to Image. {{$index}}"></textarea></div>
                                    </div>
                                </form>
                            </div>







                            <!-- BOTON -->

                            <!--<div class="col-lg-12 m-t-lg col-xs-12">-->
                                <!--<button ng-click="getDataControl()" class="btn btn-default">| Tadaa : Count and Console.Log() Array of Objects : Click |</button>-->
                            <!--</div>-->

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</div>