<!--<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">-->
    <!--<div class="container">-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--&lt;!&ndash; You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) &ndash;&gt;-->
            <!--<a class="navbar-brand" href="#/">ACME</a>-->
        <!--</div>-->

        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse navbar-ex1-collapse">-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li><a href="#/services">Services</a>-->
                <!--</li>-->
                <!--<li><a href="#/pricing">Pricing Table</a>-->
                <!--</li>-->
                <!--<li><a href="#/about">About</a>-->
                <!--</li>-->
                <!--<li><a href="#/faq">FAQ</a>-->
                <!--</li>-->
                <!--<li><a href="#/contact">Contact</a>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                    <!--<a class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#/blog">List of Posts</a>-->
                        <!--</li>-->
                        <!--<li><a href="#/blog/post">View One Post</a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
        <!--&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash; /.container &ndash;&gt;-->
<!--</nav>-->

<!-- header -->
<header id="header" class="" role="menu">
  <!-- navbar header -->
  <div class="navbar-header bg-dark">
    <!-- brand -->
    <a href="#/contact" class="navbar-brand text-lt">
      <img src="/img/logo.png" alt="SilverIP" class="silverLogo" title="SilverIP">
      <span class="hidden-folded m-l-xs">SILVER IP</span>
    </a>
    <!-- / brand -->
  </div>
  <!-- / navbar header -->













  <!-- navbar collapse -->
  <div class="collapse pos-rlt navbar-collapse box-shadow bg-white-only">



    <!--{{&#45;&#45; Direct Links &#45;&#45;}}-->
    <ul class="nav navbar-nav hidden-sm">
      <li>
        <a href="/buildingsdash" class="dropdown-toggle">
          <i class="glyphicon fa fa-building-o  "></i>
        </a>
      </li>
      <li>
        <a href="/customersdash" class="dropdown-toggle">
          <i class="glyphicon fa fa-users  "></i>
        </a>
      </li>
      <li>
        <a href="/supportdash" class="dropdown-toggle">
          <i class="icon-earphones-alt  "></i>
        </a>
      </li>
      <li>
        <a href="/salesdash" class="dropdown-toggle">
          <i class="icon-briefcase"></i>
        </a>
      </li>
      <li>
        <a href="/networkdash" class="dropdown-toggle">
          <i class="icon-globe"></i>
        </a>
      </li>
      <li>
        <a href="#/adminusers" class="dropdown-toggle">
          <i class="icon-user"></i>
        </a>
      </li>
    </ul>
    <!--{{&#45;&#45;END Direct Links&#45;&#45;}}-->

  </div>
  <!-- / navbar collapse -->










</header>
<!-- / header -->