
<!-- aside -->
<aside id="aside" class="">
  <div class="aside-wrap">
    <div class="navi-wrap">

      <!-- nav -->
      <nav ui-nav class="navi clearfix">
        <ul class="nav">

          <li>
            <a href class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
              <i class="glyphicon fa fa-building-o text-info-lter text-2x"></i>
              <span>Buildings</span>
            </a>
            <ul class="nav nav-sub dk">
              <li class="nav-sub-header">
                <a href="/buildingsdash">
                  <!--{{&#45;&#45;<a href="/buildings">&#45;&#45;}}-->
                  <span>Buildings Info</span>
                </a>
              </li>
              <li>
                <a href="/newbuildingform">
                  <span>New Building</span>
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a href class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
              <i class="glyphicon fa fa-users text-info-lter text-2x"></i>
              <span>Customers</span>
            </a>
            <ul class="nav nav-sub dk">
              <li class="nav-sub-header">
                <a href="/customersdash">
                  <span>Customers</span>
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a href class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
              <i class="icon-earphones-alt   text-info-lter text-2x"></i>
              <span>Support</span>
            </a>
            <ul class="nav nav-sub dk">
              <li class="nav-sub-header">
                <a href="/supportdash">
                  <span>Support</span>
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a href class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
              <i class="icon-briefcase text-info-lter text-2x"></i>
              <span>Sales</span>
            </a>
            <ul class="nav nav-sub dk">
              <li class="nav-sub-header">
                <a href="/salesdash">
                  <span>Sales</span>
                </a>
              </li>
            </ul>
          </li>



          <li>
            <a href class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
              <i class="icon-globe text-info-lter text-2x"></i>
              <span>Network</span>
            </a>
            <ul class="nav nav-sub dk">
              <li class="nav-sub-header">
                <a href="/networkdash">
                  <span>Network</span>
                </a>
              </li>
            </ul>
          </li>

          <li>
            <a href class="auto">
                  <span class="pull-right text-muted">
                    <i class="fa fa-fw fa-angle-right text"></i>
                    <i class="fa fa-fw fa-angle-down text-active"></i>
                  </span>
              <i class="icon-user text-info-lter text-2x"></i>
              <span>Users</span>
            </a>
            <ul class="nav nav-sub dk">
              <li class="nav-sub-header">
                <a href="#/adminusers">
                  <span>Users</span>
                </a>
              </li>
            </ul>
          </li>

        </ul>
      </nav>
      <!-- nav -->

    </div>
  </div>
</aside>
<!-- / aside -->