<form id="support-ticket-search-form">
    <label>
        <input type="text" placeholder="Ticket search..." ng-keyup="getTicketSearch()" ng-model="genericSearch">
        <i class="fa fa-search pull-right"></i>
    </label>
</form>

<div class="ticket-search-table-results" ng-if="genericTicketSearchResult">
    <div class="search-result anim">
        <p ng-repeat="result in genericTicketSearchResult"
           ng-click="displayTicketResume(result.idTicket, result.idCustomer); cleanTicketSearch()"
           data-toggle="modal"
           data-target="#ticketModal">
            {{result.ticket_number}}
            | {{result.first_name}} | {{result.last_name}}
            | {{result.address.code}} | # {{result.address.unit}} | {{result.address.address}}
        </p>
    </div>
</div>