<!--TABLE LOAD-->
<div class="container text-center" ng-if="!supportData">
    <img src="/img/loading.gif" alt="" class="loading-gif-support">
</div>
<!--END TABLE LOAD-->

<!--TICKET ACTIONS-->
<section ng-if="supportData" class="col-sm-12 col-md-12 col-lg-12 no-padding-sides support-table-grid null-section">
    <div class="row">
        <div class="col-lg-12 m-t-lg ">

            <div class="btn btn-primary m-r-lg support-status" ng-click="getAllOpenTickets($event)">All Open Tickets</div>
            <div class="btn btn-primary m-r-lg support-status support-active" ng-click="getNoneBillingTickets($event)">Non-Billing Tickets</div>
            <div class="btn btn-primary m-r-lg support-status" ng-click="getBillingTickets($event)">Billing Tickets</div>
            <div class="btn btn-primary m-r-lg support-status" ng-click="getMyTickets($event)">My Tickets</div>
            <button class="btn btn-success m-r-lg" ng-click="refreshSupportContent()"><i class="fa fa-refresh"></i></button>
            <img src="/img/loading.gif" alt="" class="loading-gif-support no-display">

            <div class="ticket-timing-results block-table-inline pull-right">
                <div class="ttr-container">
                    <div class="old-gray   float-left time-data"><label>Total:</label> {{ticketOpenTime.old}}</div>
                    <div class="old-green  float-left time-data"><label><b>></b> 12Hrs.</label> {{ticketOpenTime.old12}}</div>
                    <div class="old-yellow float-left time-data"><label><b>></b> 24Hrs.</label> {{ticketOpenTime.old24}}</div>
                    <div class="old-red    float-left time-data"><label><b>></b> 48Hrs.</label> {{ticketOpenTime.old48}}</div>
                </div>
            </div>

            <div class="ticket-search-table size-100 m-t-lg">
                <article ng-include="'/views/support/supportTicketSearch.html'" class="null-article"></article>
            </div>

        </div>
    </div>
</section>
<!--TICKET LIST-->

<section ng-if="supportData" class="col-sm-12 col-md-12 col-lg-12 bg-white white-shadow m-t-lg p-b-lg support-table-grid animated fadeInDown">
    <div class="row">
        <!--SUPPORT TABLE-->
        <article class="col-lg-12 tickets-history-table m-t-lg table-container">
            <table id="myTable" class="tablesorter table table-striped" datatable="ng" dt-options="dtOptions">
                <thead>
                <tr>
                    <th>Ticket</th>
                    <th>Status</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Tel</th>
                    <th>Issue</th>
                    <th>Comment</th>
                    <th>Assigned</th>
                    <th>Update</th>
                    <th>Modified</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in supportData" class="{{(data.last_ticket_history.id_users == 0 || data.last_ticket_history == null) ? 'customer-new-updated' : '' }}">

                    <td class="first-td"
                        ng-click="displayTicketResume(data.id, data.id_customers)"
                        data-toggle="modal"
                        data-target="#ticketModal">
                        {{data.ticket_number}}
                    </td>

                    <td class="capital-first">{{data.status}}</a></td>
                    <td><a href="#/customers?id={{data.customer.id}}">{{data.customer.first_name}} {{data.customer.last_name}}</a></td>
                    <td>{{data.address.code}} #{{data.address.unit}}</td>
                    <td>{{data.contacts.value}}</td>
                    <td>{{data.reason.short_description}}</td>

                    <td ng-mouseover="showFullComment(data.id)"
                        ng-mouseleave="hideFullComment(data.id)"
                        ng-if="data.comment"
                        class="comment-long"
                        ng-click="displayTicketResume(data.id, data.id_customers)"
                        data-toggle="modal"
                        data-target="#ticketModal">
                        <div ng-bind-html="data.comment | limitTo : 30"></div>
                        <!--{{data.comment | limitTo:letterLimit}}-->
                        <div id='ticket-{{ data.id }}' style="display: none;" class="ticket-comment-pop" >{{data.comment}}</div>
                        <!--<div id='ticket-{{ data.id }}' style="display: none;" class="ticket-comment-pop" ng-bind-html="data.comment"></div>-->
                    </td>

                    <td>{{data.user_assigned.first_name ? (data.user_assigned.first_name) : 'AUTO' }}</td>
                    <td ng-init="resultDate = convertDate(data.updated_at)">{{resultDate | date : "MMM d, y h:mm a" }}</td>


                    <td class="{{data.old}}">
                        <!--{{data.updated_at | limitTo : 10}}-->
                        <label ng-if="data.old == 'old-red'">> 48Hrs</label>
                        <label ng-if="data.old == 'old-yellow'">> 24Hrs.</label>
                        <label ng-if="data.old == 'old-green'">> 12Hrs</label>
                        <label ng-if="data.old == 'old'">{{data.old_by ? data.old_by : 'Minutes ago'}}</label>
                    </td>
                </tr>
                </tbody>
            </table>
        </article>
    </div>
</section>
<!--END TICKET LIST-->

<!-- MODAL DE TICKET -->
<div class="modal fade animated" id="ticketModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-ticket-size">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelNewEvent()">
                    &times;
                </button>
                <span>Ticket Information</span>
            </div>
            <div class="modal-body">
                <div class="wrapper-sm">
                    <div class="row">
                        <div class="field-data col-lg-12">
                            <!--Name-->
                            <div class="col-lg-12 no-padding-sides m-b-lg">
                                <label><strong> {{selectedTicket.customer.first_name + ' ' + selectedTicket.customer.last_name}}</strong></label>
                                <button class="btn btn-primary pull-right"
                                        ng-click="editFormByType('block-b', 1)"
                                        id="block-b">
                                    Change Customer
                                </button>
                                <button class="btn btn-success pull-right no-display m-r-lg"
                                        ng-click="editFormByType('block-b', 1); updateCustomerOnTicket();"
                                        id="save-block-b">
                                    Update
                                </button>
                            </div>
                            <!--Default Info-->
                            <div class="col-lg-4 no-padding-sides">
                                <div>Address</div>
                                <small class="text-muted" ng-if="selectedTicket.address.address">{{selectedTicket.address.address}}, # {{selectedTicket.address.unit}}</small>
                            </div>
                            <div class="col-lg-3 no-padding-sides">
                                <div>Tel</div>
                                <small class="text-muted">{{selectedTicket.contacts.value}}</small>
                            </div>
                            <div class="col-lg-3 no-padding-sides">
                                <div>Email</div>
                                <small class="text-muted">{{selectedTicket.customer.email}}</small>
                            </div>
                            <div class="col-lg-2 no-padding-sides">
                                <div>Status</div>
                                <small class="text-muted capital-first">{{selectedTicket.status}}</small>
                            </div>
                            <!--Change Customer Search-->

                            <p ng-if="selectedCustomerTicket" class="stcu-p">
                                {{selectedCustomerTicket.first_name}} {{selectedCustomerTicket.last_name}} | {{selectedCustomerTicket.code}} | #{{resultSearch.unit}}
                            </p>
                            <form id="customer-update-ticket-form">
                                <input type="hidden" readonly value="{{selectedCustomerTicket.id}}" name="id_customers">
                                <input type="hidden" readonly value="{{selectedTicket.id}}" name="id_ticket">
                            </form>
                            <div ng-include="'/views/genericSearch.html'"
                                 class="header-search main-search stc-search no-display"
                                 id="block-b-search"></div>
                            <!--Details Info-->
                            <div class="col-lg-12 no-padding-sides m-t-lg m-b-sm bg-gray p-b-lg">
                                <form id="form-1-ticket">
                                    <div class="col-lg-12 no-padding-sides b-t-ddd b-b-ddd m-b-lg">

                                        <button class="btn m-b-xs w-xs btn-primary btn-edit ticket-right pull-right m-t-sm m-b-sm"
                                                id="block-a"
                                                ng-click="editFormByType('block-a')">
                                            Edit
                                        </button>
                                        <button type="submit"
                                                class="btn m-b-xs w-xs btn-primary save-btn ticket-right ticket-right-save no-display pull-right m-t-sm m-b-sm m-r-lg"
                                                id="save-block-a"
                                                ng-click="submitForm('form-1-ticket'); editFormByType('block-a')">
                                            Save
                                        </button>
                                    </div>
                                    <div class="col-lg-3 no-padding-sides">
                                        <div>Ticket ID</div>
                                        <small class="text-muted">{{selectedTicket.ticket_number}}</small>
                                    </div>
                                    <div class="col-lg-3 no-padding-sides">
                                        <div>Issue</div>
                                        <small class="text-muted" class="block-a-label">{{selectedTicket.reason.short_description}}</small>
                                        <select name="id_reasons" class="block-a-edit form-control no-display">
                                            <option value="{{selectedTicket.reason.id}}">{{selectedTicket.reason.short_description}}</option>
                                            <option ng-repeat="desc in dataReasons" value="{{desc.id}}">{{desc.short_description}}</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 no-padding-sides">
                                        <div>Status</div>
                                        <small class="text-muted capital-first">{{selectedTicket.status}}</small>
                                        <select name="status" class="block-a-edit form-control no-display">
                                            <option value="Escalated">Escalated</option>
                                            <option value="Closed">Closed</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-3 no-padding-sides">
                                        <div>Assigned to</div>
                                        <small class="text-muted">{{selectedTicket.user_assigned.first_name ? selectedTicket.user_assigned.first_name : 'Not Set'}}</small>
                                        <select name="id_users_assigned" class="block-a-edit form-control no-display">
                                            <option value="{{selectedTicket.user_assigned.id}}">{{selectedTicket.user_assigned.first_name}}</option>
                                            <option ng-repeat="usersAssigned in dataUsersAssigned" value="{{usersAssigned.id}}">{{usersAssigned.first_name}}</option>
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <!--Comments-->

                            <div class="col-lg-12 b-t-ddd no-padding-sides p-t-lg p-b-lg m-t-lg summary-ticket-container" ng-if="selectedTicket">
                                <div>Summary:</div>
                                <div ng-bind-html="selectedTicket.comment" class="comment-content m-b-md">{{selectedTicket.comment}}</div>
                            </div>

                            <!--Info Left Block-->
                            <div class="col-lg-4 no-padding-sides bg-gray">
                                <div>Created by</div>
                                <small class="text-muted">Auto</small>
                                <div class="b-t-ddd m-t-md p-t-lg">Created on</div>
                                <small class="text-muted" ng-init="resultDate = convertDate(selectedTicket.created_at)" ng-if="selectedTicket.created_at">{{resultDate | date : "MMM d, y h:mm a" }}
                                </small>
                                <div class="b-t-ddd m-t-md p-t-lg">LastUpdate</div>
                                <small class="text-muted" ng-init="resultDate = convertDate(selectedTicket.updated_at)" ng-if="selectedTicket.updated_at">{{resultDate | date : "MMM d, y h:mm a" }}
                                </small>
                            </div>
                            <!--Update History Right Block-->
                            <div class="col-lg-8 p-b-lg ">
                                <div>Update Ticket:</div>
                                <form id="form-2-ticket">
                                    <input type="hidden" name="id_reasons" value="{{selectedTicket.reason.id}}">
                                    <input type="hidden" name="id_users_assigned" value="{{selectedTicket.user_assigned.id}}">
                                    <textarea name="comment" placeholder="" class="textarea-main-size thistory-form-2 m-t-sm" value="err" required></textarea>
                                    <div class="form-group col-lg-12 suhs no-padding-sides">
                                        <label class="control-label">Status: </label>
                                        <div class="col-sm-10 no-padding-sides">
                                            <label class="suhs-label">Escalate</label>
                                            <input type="radio" name="status" checked="" value="escalated">
                                            <label class="suhs-label">Close</label>
                                            <input type="radio" name="status" value="closed">
                                        </div>
                                    </div>
                                    <div class="display-content-main-box update-btn-ticket">
                                        <img src="/img/loading.gif" alt="" class="loading-gif-support m-r-lg" ng-if="loadingGif">
                                        <button id="onticket-update-btn" class="btn m-b-xs w-xs btn-primary save-btn display-inline" ng-click="submitFormUpdate('form-2-ticket')">Update</button>
                                    </div>
                                </form>
                            </div>
                            <!--History-->
                            <div class="col-lg-12 b-t-ddd no-padding-sides p-t-lg p-b-lg">
                                <div>History:</div>
                                <div class="thistory-container m-t-sm">
                                    <table class="table table-striped b-b">
                                        <thead>
                                        <tr>
                                            <th>Timestamp</th>
                                            <th>Details</th>
                                            <th>Status</th>
                                            <th>Staff</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="history in selectedTicket.ticket_history_full" ng-controller="supportTicketHistory">
                                            <td ng-init="resultDate = convertDate(history.created_at)" ng-if="history.created_at">{{resultDate | date : "MMM d, y h:mm a" }}</td>
                                            <td class="th-comment" height="100" ng-bind-html="history.comment"></td>
                                            <td>{{history.status}}</td>
                                            <td>{{historyData.user.alias}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL DE TICKET -->

