<div id="shortcut" ng-controller="userAuthController">
<div class="col-lg-12 no-padding-sides">
  <div class="short-profile-img">
    <img ng-src="{{userDataAuth.avatar ? userDataAuth.avatar : '/img/male.png'}}"
         alt="{{userDataAuth.first_name}}"
         class="online"
         title="{{userDataAuth.first_name}}" />
  </div>
  <div class="short-profile-name">
    <label>{{userDataAuth.first_name}} {{userDataAuth.last_name}}</label>
  </div>
</div>

  <ul>
    <li><a href="#/profile">Profile & account</a></li>
    <li><a href="">Preferences</a></li>
    <li>
      <a href="#/calendar" class="jarvismetro-tile big-cubes bg-color-orangeDark"> <span class="iconbox"> <i class="fa fa-calendar fa-4x"></i> <span>Calendar</span> </span> </a>
    </li>
    <!--<li>-->
      <!--<a href="#/profile" class="jarvismetro-tile big-cubes selected bg-color-pinkDark"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>My Profile </span> </span> </a>-->
    <!--</li>-->
    <hr>
    <li><a href="/logout" title="Sign Out" >Sign out of <b>SilverIP</b></a></li>




  </ul>
</div>