<section class="p-tb50">
  <div class="row">
    <div class="medium-5 columns p-14x">
      <h4>Register your Astor+Banks Watch</h4>
      <form id="msgform" onsubmit="return false;">
        <div class="medium-6 columns"><input name="fname" value="" placeholder="First Name" id="fname" required="" type="text" /></div>
        <div class="medium-6 columns"><input name="lname" value="" placeholder="Last Name" id="lname" required="" type="text" /></div>
        <div class="medium-12 columns"><input name="email" value="" placeholder="Email" id="email" required="" type="text" /></div>
        <div class="medium-12 columns"><input name="sno" value="" placeholder="Serial Number" id="sno" required="" type="text" /></div>
        <div class="medium-12 columns"><input name="address" value="" placeholder="Address" id="address" required="" type="text" /></div>
        <div class="medium-12 columns"><input name="phone" value="" placeholder="Phone" id="phone" type="text" /></div>
        <div class="medium-12 columns"><input class="button button-white medium fl" value="Submit" id="msgbtn" type="submit" /></div>
        <div class="medium-12 columns"><span id="errormsg" style="display: none; color: red;">Name, Valid Email, Serial Number and Address are required <br /> <br /></span>
          <p id="successmsg" style="width: 100%; background-color: #dff0d8; padding: 10px; margin-bottom: 10px; display: none;">Thank you for registering with us.</p>
        </div>
      </form>
    </div>
    <div class="medium-6 columns p-l20 blog-content">
      <h4>Download Astor+Banks User Manual</h4>
      <!-- <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> --> <a style="min-width: 370px;" class="button medium m-b12" href="http://www.astorandbanks.com/register/download/1">Download Astor+Banks Chrono Manual</a><br /> <a style="min-width: 370px;" class="button medium" href="http://www.astorandbanks.com/register/download/2">Download Astor+Banks Chrono S Manual</a></div>
  </div>
</section>