<div class="row">

    <div class="sub-nav pull-left">
        <div class="admin-sub-nav">
            <p ng-click="setView(0)">Users</p>
            <p ng-click="setView(1)">Profiles</p>
            <p ng-click="setView(2)">Apps</p>
            <p ng-click="setView(3)">Building Property</p>
        </div>
    </div>

    <article class="workspace  null-article admin-app pull-left">
        <div ng-include="'/views/admin/users.html'"              id="admin-users-include"     ng-if="displayView == 'users'"></div>
        <div ng-include="'/views/admin/profiles.html'"           id="admin-profiles-include"  ng-if="displayView == 'profiles'"></div>
        <div ng-include="'/views/admin/apps.html'"               id="admin-apps-include"      ng-if="displayView == 'apps'"></div>
        <div ng-include="'/views/admin/bldProperties.html'"      id="admin-bprop-include"     ng-if="displayView == 'bprop'"></div>
    </article>
</div>


<!-- MODAL USERS-->
<div class="modal fade" id="adminModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-ticket-size">
        <div class="modal-content">
            <form id="admin-edit-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <span ng-if="adminEditingUser">Edit User Info</span>
                    <span ng-if="!adminEditingUser">New User Info</span>
                </div>
                <div class="modal-body">
                    <div class="wrapper-sm">
                        <div class="row">

                            <!--SOMETHING HERE-->
                            <div class="admin-edit-container anim">
                                <!--CONTENT-->
                                <div class="col-lg-12">
                                    <div class="col-lg-6 m-b-lg">
                                        <label>First Name</label><br>
                                        <input type="text" value="{{adminEditingUser.first_name}}" name="first_name">
                                        <!--<input type="text" placeholder="First Name" name="first_name" ng-if="newUserRequired" required>-->
                                    </div>
                                    <div class="col-lg-6 m-b-lg">
                                        <label>Last Name</label><br>
                                        <input type="text" value="{{adminEditingUser.last_name}}" name="last_name">
                                        <!--<input type="text" placeholder="Last Name"  name="last_name" ng-if="newUserRequired" required>-->
                                    </div>

                                    <div class="col-lg-6 m-b-lg">
                                        <label>Email/Username</label><br>
                                        <input type="text" value="{{adminEditingUser.email}}" name="email">
                                        <!--<input type="text" placeholder="Email" name="email" ng-if="newUserRequired" required>-->
                                    </div>
                                    <div class="col-lg-6 m-b-lg">
                                        <label>Alias</label><br>
                                        <input type="text" value="{{adminEditingUser.alias}}" name="alias">
                                        <!--<input type="text" placeholder="Alias"  name="alias" ng-if="newUserRequired" required>-->
                                    </div>

                                    <div class="col-lg-12 m-b-lg">
                                        <label>Reset Password</label><br>
                                        <input id="pswRegen"
                                               readonly
                                               type="text"
                                               placeholder="Set Password"
                                               class="m-b-lg"
                                               value="{{createdPsw ? createdPsw : null}}"
                                               name="password">
                                        <button class="btn btn-success" ng-click="generatePsw()">Generate Password</button>
                                        <span id="psw-alert" class="pull-right no-display" ng-if="newUserRequired">Verify fields</span>
                                    </div>

                                    <div class="col-lg-4">
                                        <label>Social Access</label><br>
                                        <select name="social_access" id="1">
                                            <option value="{{adminEditingUser?adminEditingUser.social_access:0}}">{{adminEditingUser.social_access == 1 ? 'Yes' : 'No'}}</option>
                                            <option value="1">Yes</option>
                                            <option value="0">No</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label>Status</label><br>
                                        <select name="id_status" id="2">
                                            <option value="{{adminEditingUser?adminEditingUser.id_status:2}}">{{adminEditingUser.id_status == 1 ? 'Active' : 'Disabled'}}</option>
                                            <option value="1">Active</option>
                                            <option value="2">Disabled</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-4">
                                        <label for="">Profile/Rol</label><br>
                                        <select name="id_profiles" id="3">
                                            <option selected value="{{adminEditingUser.id_profiles}}">{{adminEditingUser.profile.name}}</option>
                                            <option value="{{profile.id}}" ng-repeat="profile in adminProfiles">{{profile.name}}</option>
                                        </select>
                                    </div>

                                </div>
                            </div>
                            <!--SOMETHING HERE-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success pull-left" ng-click="updateUser()" ng-if="adminEditingUser">Update</button>
                    <button type="button" class="btn btn-success pull-left" ng-click="insertNewUser()" ng-if="!adminEditingUser">Add</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- END MODAL USERS -->







