<div class="col-lg-12">
    <div class="admin-workspace animated fadeInLeft">

        <div class="col-lg-12">
            <button class="btn btn-primary" ng-click="addNewBldProp()" data-toggle="modal" data-target="#adminModalbldProp" ><i class="fa fa-plus"></i> Add Building Property</button>
        </div>
        <!--TABLE-->
        <div class="m-t-lg col-lg-8 bg-white padding-10">
            <table id="bproperty-table" class="tablesorter table table-striped" datatable="ng" dt-options="dtOptions" ng-if="bldProperties">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Created At</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in bldProperties">
                    <td>{{data.id}}</td>
                    <td>{{data.name}}</td>
                    <td>{{data.description}}</td>
                    <td ng-init="cAtData = convertDate(data.created_at)">{{cAtData | date : "MMM d, y" }}</td>
                    <td><i class="btn btn-primary fa fa-pencil" ng-click="editBldProp()" data-toggle="modal" data-target="#adminModalbldProp"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--END TABLE-->
    </div>
</div>

<!-- MODAL BLD PROPERTIES-->
<div class="modal fade" id="adminModalbldProp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-ticket-size">
        <div class="modal-content">
            <form id="admin-app-form">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <span ng-if="editBldPropData">Edit App Info</span>
                    <span ng-if="!editBldPropData">New App Info</span>
                </div>
                <div class="modal-body">
                    <div class="wrapper-sm">
                        <div class="row">

                            <!--SOMETHING HERE-->

                            <form class="animated fadeInRight" id="admin-bldprop-form">
                                <!--APP DATA-->
                                <div class="col-lg-12">
                                    <label>Name</label>
                                    <br>
                                    <input type="text"
                                           placeholder="Property Name"
                                           name="property_name"
                                           class="size-100 p-l-md"
                                           value="{{editBldPropData ? editBldPropData.name : null}}"
                                           required>
                                    <hr>

                                    <label>Description</label>
                                    <br>
                                    <input type="text"
                                           placeholder="Description"
                                           name="property_description"
                                           class="size-100 p-l-md"
                                           value="{{editBldPropData ? editBldPropData.description : null}}"
                                           required>
                                </div>
                                <!--ACTION BUTTONS-->
                                <div class="col-lg-12 m-t-lg">
                                    <button class="btn btn-success pull-right" ng-if="!editBldPropData" ng-click="submitNewBldProp()">Submit Property</button>
                                    <button class="btn btn-success pull-right" ng-if="editBldPropData" ng-click="updateBldProp()">Update Property</button>
                                </div>
                            </form>

                            <!--SOMETHING HERE-->
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="bldPropCancel()">Cancel</button>

                </div>
            </form>
        </div>
    </div>
</div>
<!-- END MODAL BLD PROPERTIES-->