<button class="btn btn-dark fade animate" ng-click="addNewForm('users')" ng-if="!insertForm">Add new user</button>
<button class="btn btn-danger fade animate" ng-click="cancelForm()" ng-if="insertForm">Cancel</button>

<div ng-if="insertForm" class="fade">

  <form class='validation-form' id="admin-insert-form">

    <div ng-bind-html="insertForm"></div>

    <div class='form-group col-md-12'>
      <div class="row-abc">
        <p class="input"><input type="submit" value="Insertar" class="btn m-b-xs w-xs btn-primary" ng-click="submitForm()" /></p>
      </div>
    </div>

  </form>

</div>



<div ng-if="!insertForm">
<div class="table table-bordered table-hover table-condensed bg-white-only">
<table class="table">
  <tr>
    <td>id</td>
    <td>Name</td>
    <td>Last Name</td>
    <td>Email</td>
    <td>Password</td>
    <td>Remember Token</td>
    <td>Social Token</td>
    <td>Avatar</td>
    <td>Alias</td>
    <td>Created At</td>
    <td>Updated At</td>
    <td>Status</td>
    <td>Base Profile</td>
  </tr>
<tr ng-repeat="userdata in userData">
  <td>{{ userdata.id }}</td>
  <td editable-text="userdata.name">{{ userdata.name || "empty" }}</td>
  <td editable-text="userdata.last_name">{{ userdata.last_name }}</td>
  <td editable-text="userdata.email">{{ userdata.email }}</td>
  <td editable-text="userdata.password">{{ userdata.password }}</td>
  <td>{{ userdata.remember_token }}</td>
  <td>{{ userdata.social_token }}</td>
  <td>{{ userdata.avatar }}</td>
  <p editable-text="userdata.password">{{ userdata.alias }}</p>
  <td>{{ userdata.created_at }}</td>
  <td>{{ userdata.updated_at }}</td>
  <td editable-text="userdata.password">{{ userdata.status }}</td>
  <td editable-select="userdata.password">{{ userdata.id_profile }}</td>
</tr>

</table>
</div>
</div>
