<article class="activity-log" id="activity-log">
    <div class="al-box">
        <div class="smart-accordion-default">
            <h3 class="panel-title al-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" > <i class="fa fa-lg fa-angle-down pull-right"></i> <i class="fa fa-lg fa-angle-up pull-right"></i>
                    Activity Log
                </a>
            </h3>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body no-padding" >
                    <h3 class="no-margin al-type-title">Support</h3>
                    <!--<div class="" ng-if="customerData.customer.log.length == 0">No entries</div>-->
                    <div ng-repeat="logEntry in customerData.customer.log" ng-if="customerData.customer.log.length > 0" class="log-entry animated fadeInDown">
                        <div class="type-a al-box-container">
                            <div class="log-content">

                                <div class="al-lg-header">
                                    <label class="al-lg-timestamp" ng-init="logEntryDate = convertDate(logEntry.timestamp)">{{logEntryDate | date : "MMM d, y h:mm a"}}</label>
                                    <label class="lg-user" ng-if="logEntry.user"><span>{{logEntry.user.first_name + ' ' + logEntry.user.alias}}</span></label>
                                    <label class="lg-user" ng-if="logEntry.action == 'notify'"><span class="system">Notification</span></label>
                                </div>

                                <div class="al-lg-description" ng-init="arrayData = parJson(logEntry.log_data)">
                                    <span ng-if="arrayData.type == 'update-id_status'"><b>Status</b> changed to <b>{{customerData.statusList[(arrayData.new['id_status'])-1].name}}</b></span>
                                    <span ng-if="arrayData.type == 'update-first_name'"><b>First name</b> changed to <b>{{arrayData.new['first_name']}}</b></span>
                                    <span ng-if="arrayData.type == 'update-last_name'"><b>Last name</b> changed to <b>{{arrayData.new['last_name']}}</b></span>
                                    <span ng-if="arrayData.type == 'update-email'"><b>Username</b> changed to <b>{{arrayData.new['email']}}</b></span>
                                    <span ng-if="arrayData.type == 'update-contact'"><b>Contact field</b> changed to <b>{{arrayData.new['value']}}</b></span>
                                    <span ng-if="arrayData.type == 'update-unit'"><b>Unit number</b> changed to <b>{{arrayData.new['unit']}}</b></span>
                                    <span ng-if="arrayData.type == 'insert-service'">Product<b> {{arrayData.data.name}}</b> is added</span>
                                    <span ng-if="arrayData.type == 'update-service'">Product changed to <b>{{arrayData.data.name}}</b> </span>
                                    <span ng-if="arrayData.type == 'disable-service'">Product <b>{{arrayData.data.name}}</b> is disabled</span>
                                    <span ng-if="arrayData.type == 'active-service'">Product <b> {{arrayData.data.name}}</b> is activated</span>
                                    <span ng-if="arrayData.type == 'update-payment'">{{ arrayData.new['types'] }} ending in <b>{{ arrayData.new['account_number'] | limitTo : 4 : -4 }}</b>  is set to default</span>
                                    <span ng-if="arrayData.type == 'notification-customer-failed-invoice'">
                                        <i class="fa fa-envelope-o f-size-17 down-status bg-white cursor-pointer"></i> Sent past due invoice reminder
                                    </span>
                                    <!--<span ng-if="arrayData.type == 'notification-customer-upcoming-invoice'">-->
                                    <span ng-if="arrayData.type == 'notification-customer-upcoming-invoice'">
                                        <i class="fa fa-envelope-o f-size-17 down-status bg-white cursor-pointer" ng-click="logInvoiceView(arrayData)"></i> Notified of upcoming invoice
                                    </span>
                                </div>

                                <div class="al-lg-actions type-ticket" ng-if="logEntry.type == 'ticket'">
                                    <button class="btn btn-default big-font" title="View Ticket"><i class="fa fa-eye"></i></button>
                                    <button class="btn btn-danger big-font" title="Close Ticket"><i class="fa fa-close"></i></button>
                                    <button class="btn btn-success big-font" title="Escalate Ticket"><i class="fa fa-arrow-circle-o-up"></i></button>
                                    <button class="btn btn-primary big-font" title="View Invoice"><i class="fa fa-file-pdf-o"></i></button>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</article>