<div class="col-lg-12 billing-history-table" ng-controller="customerBillingHistoryController">
    <div class="panel panel-default no-border table-container">
        <table class="tablesorter table" datatable="ng" dt-options="dtOptions">
            <thead>
            <tr>
                <th style="width: 120px;">Date</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Payment Mode</th>
                <th>Oder Number</th>
                <th>Charge Desc</th>
                <th>Act Code</th>
                <th>Trans ID</th>
                <th>Trans Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="billing in customerServiceData[uniqueIdIndex].billingHistory" class="{{billing.response_text == 'DECLINED' ? 'bg-declined-payment' : '' }}">
                <td ng-init="resultDate = convertDate(billing.created_at)">{{resultDate | date : "MMM d, y h:mm a" }}</td>
                <td>{{ billing.transaction_type == 'TOKENIZE' ? 'CC UPDATE' : billing.transaction_type }}</td>
                <td>{{ billing.amount | currency : "$" : 2 }}</td>
                <td>{{ billing.payment_mode }}</td>
                <td>{{ billing.order_number }}</td>
                <td>{{ billing.charge_description }}</td>
                <td>{{ billing.action_code }}</td>
                <td>{{ billing.transaction_id }}</td>
                <td>{{ billing.response_text == 'TOKENIZED' ? 'CC UPDATED' : billing.response_text }}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


<!--
    customerServiceData[uniqueIdIndex]
-->

