<div id="wid-id-n" data-jarvis-widget>
  <header>
    <span class="widget-icon"> <i class="fa fa-search"></i> </span><h2>Search</h2>
  </header>

  <div class="widget-body-toolbar" >
    <div class="row">
      <div class="col-lg-12">
        <div class="bld-search-main">

          <div class="search-content">
            <input type="text" class="input-search id-search" placeholder="Search Customer..." ng-keyup="buscador()" ng-model="searchCustomer"><i class="is-lupa fa fa-search"></i>
          </div>

          <div class="bld-close-search" ng-click="clearSearch()">
            <i class="fa fa-plus plus-cross"></i>
          </div>

        </div>
      </div>
      <div class="col-lg-12" ng-if="customerSearchResult">
        <div class="search-result anim" >
          <div ng-repeat="resultSearch in customerSearchResult" ng-click="displayBldData(resultbldright.id)" class="bld-result-container customer-result-container">
            <div class="col-lg-12">


              <div class="col-lg-2 labe">Customer Status</div>  <div class="col-lg-2 valu color-text ct-status">{{resultSearch.id_status == 1?'ACTIVE':'DISABLED'}}</div>
              <div class="col-lg-2 labe">Customer Fname</div>   <div class="col-lg-2 valu">{{resultSearch.first_name}}</div>
              <div class="col-lg-2 labe">Customer Lname</div>   <div class="col-lg-2 valu color-text">{{resultSearch.last_name}}</div>

              <div class="col-lg-2 labe">Customer email</div>   <div class="col-lg-2 valu color-text">{{resultSearch.email}}</div>
              <div class="col-lg-2 labe">Address</div>          <div class="col-lg-2 valu">{{resultSearch.address}}</div>
              <div class="col-lg-2 labe">Code</div>             <div class="col-lg-2 valu color-text ct-code">{{resultSearch.code}}</div>

              <div class="col-lg-2 labe">Unit</div>             <div class="col-lg-2 valu color-text">{{resultSearch.unit}}</div>
              <div class="col-lg-2 labe">Zip</div>              <div class="col-lg-2 valu">{{resultSearch.zip}}</div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>