<div ng-controller="FormXeditableCtrl">

  <div ng-controller="FormPluginsCtrl">
    <div class="widget-body" >

      <h2 class="no-margin">

        <p class="float-left">
          <a  href=""
              id="b-p-id-cunitd"
              record-table="CustValue"
              data-pk="1"
              data-options="editableOptions"
              data-original-title="First Name Value"
              record-field="value"
              smart-xeditable
              data-ng-model="customerData.first_name"
              record-id="{{customerData.first_name}}"
              data-type="text"
              record-idContainer="buildingProperties"
              data-placement="right"
              class="editable editable-click"> {{customerData.first_name?customerData.first_name:'...'}}
          </a>
        </p>
        <p class="float-left p-l-md">
          <a  href=""
              id="b-p-id-cunitE"
              record-table="CustValue"
              data-pk="1"
              data-options="editableOptions"
              data-original-title="Last Name Value"
              record-field="value"
              smart-xeditable
              data-ng-model="customerData.last_name"
              record-id="{{customerData.last_name}}"
              data-type="text"
              record-idContainer="buildingProperties"
              data-placement="right"
              class="editable editable-click">  {{customerData.last_name?customerData.last_name:'...'}}
          </a>
        </p>

        <div ng-if="customerData.vip" class="float-left m-l-md vip-class" title="VIP : {{customerData.vip}}"><i class="fa fa-star"></i></div>

      </h2>

      <!--<p class="vip-class float-left">-->
        <!--<a  href="" id="b-p-id-cvip"-->
            <!--record-table="CustValue"-->
            <!--data-pk="1"-->
            <!--smart-xeditable-->
            <!--data-options="editableOptions"-->
            <!--data-original-title="Set Value"-->
            <!--record-field="value"-->
            <!--record-idContainer="buildingProperties"-->
            <!--data-ng-model="customerData.vip"-->
            <!--record-id="{{customerData.vip}}"-->
            <!--data-type="text"-->
            <!--data-placement="right"-->
            <!--class="editable editable-click">-->
            <!--{{customerData.vip?customerData.vip:'Not Set'}}-->
        <!--</a>-->
      <!--</p>-->

      <div class="customer-info-card">
        <div class="col-lg-12 no-padding-sides m-t-lg">

          <p class="float-left size-50"><strong>Address:</strong></p>
          <p class="address-bld-img-hover">{{customerData.address.address?customerData.address.address:'Not Set'}}
            <div class="no-display">
              <img src="/img/buildings/{{bld.img_building?bld.img_building:bld.buildings.img_building}}" alt="{{customerData.address.address}}" title="{{customerData.address.address}}">
            </div>
          </p>

          <!--<p class=""><strong>Unit:</strong></p>-->
          <p class=" col-lg-6"></p>
          <p class="no-padding-sides col-lg-6">
            <a  href=""
                id="b-p-id-cunit"
                record-table="CustValue"
                data-pk="1"
                data-options="editableOptions"
                data-original-title="Set Value"
                record-field="value"
                smart-xeditable
                data-ng-model="customerData.address.unit"
                record-id="{{customerData.address.unit}}"
                data-type="text"
                record-idContainer="buildingProperties"
                data-placement="right"
                class="editable editable-click"># {{customerData.address.unit?customerData.address.unit:'Not Set'}}
            </a>
          </p>

          <!--<p class="float-left size-50"><strong>Location:</strong></p>-->
          <p class=" col-lg-6"></p>

          <p class="col-lg-6 no-padding-sides">
            {{customerData.address.city?customerData.address.city:'Not Set'}}<br> {{customerData.address.state?customerData.address.state:'Not Set'}}<br> {{customerData.address.zip?customerData.address.zip:'Not Set'}}
          </p>

          <p class="float-left size-50"><strong>Code:</strong></p>
          <p>{{bld.code?bld.code:bld.buildings.code}}</p>


          <p class="float-left size-50"><strong>Username:</strong></p>
          <p>
            <a  href="form-x-editable.html#"
                id="b-p-id-cemail"
                record-table="CustValue"
                data-pk="1"
                data-options="editableOptions"
                data-original-title="Set Value"
                record-field="value"
                smart-xeditable
                data-ng-model="customerData.email"
                record-id="{{customerData.email}}"
                data-type="text"
                record-idContainer="buildingProperties"
                data-placement="right"
                class="editable editable-click">{{customerData.email?customerData.email:'Not Set'}}
            </a>
          </p>
          <p></p>

          <p class="float-left size-50"><strong>Status:</strong></p>
          <p class="{{customerData.type.name}}">{{customerData.type.name?customerData.type.name:'Pending'}}</p>

          <p class="float-left size-50"><strong>Neighborhood:</strong></p>
          <p>{{bld.neighborhood.name?bld.neighborhood.name:bld.buildings.neighborhood.name}}</p>

          <p class="float-left size-50"><strong>Type:</strong></p>
          <p>{{bld.type?bld.type:bld.buildings.type}}</p>

          <p class="float-left size-50"><strong>Units / Floors:</strong></p>
          <p>{{bld.units?bld.units:bld.buildings.units}} / {{bld.floors?bld.floors:bld.buildings.floors}}</p>

          <p class="float-left size-50"><strong>Building Name:</strong></p>
          <p>{{bld.name?bld.name:bld.buildings.name}}</p>

          <!--<p class="float-left size-50"><strong>Addresses:</strong></p>-->
          <p data-toggle="modal" data-target="#customerAddressesModal" ng-click="clearAddressModal()" class="edit-info-simple-text m-t-md">
            <i class="fa fa-map-marker "></i> {{customerData.addresses.length}} More
            <!--<label class="sm-view-action-btn" data-toggle="modal" data-target="#customerAddressesModal" ng-click="clearAddressModal()">...</label>-->
          </p>

        </div>

        <div class="col-lg-12 no-padding-sides m-t-lg">
          <button id="enable" class="float-left edit-info-simple-text" ng-click="toggleDisabled()">Edit Info <i class="fa fa-arrow-circle-o-right"></i></button>
        </div>

      </div>
    </div>
  </div>

</div>


<!--MODAL-->
<div class="modal fade cus-add-mod" id="customerAddressesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          &times;
        </button>
        <h4 class="modal-title" id="myModalServiceLabel">{{customerData.first_name + ' ' + customerData.last_name}} Addresses</h4>
      </div>
      <!--modal-body-customer-addresses-table-->
      <div class="modal-body" id="mb-ca-table">
        <div class="wrapper-sm">
          <div class="row">
            <div class="field-data col-lg-12" >
              <!--***********************************************-->
              <table datatable="ng"  class="row-border hover">
                <thead>
                <tr>
                  <th>ID</th>
                  <th class="addr-th">Address</th>
                  <th>Code</th>
                  <th>Unit</th>
                  <th>City</th>
                  <th>Zip</th>
                  <th>State</th>
                  <th>Country</th>
                  <th>Edit</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="addrs in customerData.addresses">
                  <td>{{addrs.id}}</td>
                  <td class="addr-th">{{addrs.address}}</td>
                  <td>{{addrs.code}}</td>
                  <td>{{addrs.unit}}</td>
                  <td>{{addrs.city}}</td>
                  <td>{{addrs.zip}}</td>
                  <td>{{addrs.state}}</td>
                  <td>{{addrs.country}}</td>
                  <td><span class="btn btn-primary" ng-click="editAddressModal(1)">Edit</span></td>
                </tr>
                </tbody>
              </table>
              <!--***********************************************-->
            </div>
          </div>
        </div>
      </div>
      <!--modal-body-customer-addresses-edit-->
      <div class="modal-body no-display" id="mb-ca-edit">
        <div class="wrapper-sm">
          <div class="row">
            <div class="field-data col-lg-12" >
              <!--***********************************************-->

              <form action="">
                <p class="col-lg-5">
                  <label class="col-lg-4">Address:</label>
                  <input class="col-lg-8" type="text" placeholder="New Address" value="{{customerData.addresses[indexOfToShow].address}}">
                </p>
                <p class="col-lg-3">
                  <label class="col-lg-4">Code:</label>
                  <input class="col-lg-8" type="text" placeholder="New Code" value="{{customerData.addresses[indexOfToShow].code}}">
                </p>
                <p class="col-lg-4">
                  <label class="col-lg-4">Unit:</label>
                  <input class="col-lg-8" type="text" placeholder="New Code" value="{{customerData.addresses[indexOfToShow].unit}}">
                </p>
                <p class="col-lg-5">
                  <label class="col-lg-4">City:</label>
                  <input class="col-lg-8" type="text" placeholder="New Code" value="{{customerData.addresses[indexOfToShow].city}}">
                </p>
                <p class="col-lg-3">
                  <label class="col-lg-4">ZIP:</label>
                  <input class="col-lg-8" type="text" placeholder="New Code" value="{{customerData.addresses[indexOfToShow].zip}}">
                </p>
                <p class="col-lg-4">
                  <label class="col-lg-4">State:</label>
                  <input class="col-lg-8" type="text" placeholder="New Code" value="{{customerData.addresses[indexOfToShow].state}}">
                </p>
                <p class="col-lg-5">
                  <label class="col-lg-4">Country:</label>
                  <input class="col-lg-8" type="text" placeholder="New Code" value="{{customerData.addresses[indexOfToShow].country}}">
                </p>
                <div class="float-right">
                  <button class="btn btn-primary">Update</button>
                </div>
              </form>
              <button ng-click="editAddressModal(0)" class="btn btn-default float-right m-r-lg">
                <i class="fa fa-arrow-left"></i>
                Back
              </button>
              <!--***********************************************-->
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
      </div>

    </div>
  </div>
</div>