<div ng-controller="FormXeditableCtrl" class="customer-network">
    <div class="widget-body-toolbar">
        <div class="row">
            <div class="bold-type col-lg-4 no-padding-sides text-center b-r-ddd">Switch Info</div>
            <div class="bold-type col-lg-4 no-padding-sides text-center b-r-ddd">Port Info</div>
            <div class="bold-type col-lg-4 no-padding-sides text-center">Misc Info</div>
        </div>
    </div>
    <div ng-controller="customerNetworkController">
        <div class="col-lg-12 display-content-main-box no-padding-sides subseccion-network">
            <div class="col-lg-4 no-padding-sides b-r-ddd">
                <div class="field-data  col-lg-12 padding-5">
                    <div class="bold-type col-lg-4">Name:</div>
                    <div class="col-lg-8 amin">{{ customerNetwork.network_node.host_name?customerNetwork.network_node.host_name:'' }}</div>
                </div>
                <div class="field-data  col-lg-12 padding-5">
                    <div class="bold-type col-lg-4">Address:</div>
                    <div class="col-lg-8 anim"
                         ng-click="getCoreData(customerNetwork.network_node.ip_address)"
                         data-toggle="modal"
                         data-target="#corStats">
                        <a href="">
                            {{ customerNetwork.network_node.ip_address?customerNetwork.network_node.ip_address:'' }}
                        </a>
                    </div>
                </div>
                <div class="field-data  col-lg-12 padding-5">
                    <div class="bold-type col-lg-4">Access:</div>
                    <div class="col-lg-8 anim" id="acces-network-id">{{ customerNetwork.access_level?customerNetwork.access_level:'' }}</div>
                </div>
                <div class="field-data  col-lg-12 padding-5">
                    <div class="bold-type col-lg-4">Vendor:</div>
                    <div class="col-lg-8 anim">{{ customerNetwork.network_node.vendor?customerNetwork.network_node.vendor:'' }}</div>
                </div>
                <div class="field-data  col-lg-12 padding-5">
                    <div class="bold-type col-lg-4">Model:</div>
                    <div class="col-lg-8 anim">{{ customerNetwork.network_node.model?customerNetwork.network_node.model:'' }}</div>
                </div>
                <div class="field-data  col-lg-12 padding-5">
                    <div class="bold-type col-lg-4">Uptime:</div>
                    <div class="col-lg-8 anim " id="switch-uptime"></div>
                </div>
            </div>
            <div class="col-lg-4 no-padding-sides b-r-ddd">
                <div class="field-data  col-lg-12 padding-5">
                    <div class="bold-type col-lg-6">Port:</div>
                    <div class="col-lg-6 anim">{{ customerNetwork.port_number?customerNetwork.port_number:'' }}</div>
                </div>
                <div class="field-data  col-lg-12 padding-5">
                    <div class="bold-type col-lg-6">Status:</div>
                    <div class="col-lg-6 anim" id="port-status"></div>
                </div>
                <div class="field-data  col-lg-12 padding-5">
                    <div class="bold-type col-lg-6">Last Change:</div>
                    <div class="col-lg-6 anim" id="last-change"></div>
                </div>
                <div class="field-data  col-lg-12 padding-5">
                    <div class="bold-type col-lg-6">Vlan:</div>
                    <div class="col-lg-6 anim" id="vlan"></div>
                </div>
                <div class="field-data col-lg-12 padding-5">
                    <div class="bold-type col-lg-6">IP:</div>
                    <div class="col-lg-6" id="IPs"></div>
                </div>
            </div>
            <div class="col-lg-4 no-padding-sides">
                <div class="field-data  col-lg-12 padding-5">
                    <div class="bold-type col-lg-6">Portfast:</div>
                    <div class="col-lg-6" id="portfast"></div>
                </div>
                <div class="field-data  col-lg-12 padding-5">
                    <div class="bold-type col-lg-6">Portfast Mode:</div>
                    <div class="col-lg-6" id="portfast-mode"></div>
                </div>
                <div class="field-data  col-lg-12 padding-5">
                    <div class="bold-type col-lg-6">BPDU Guard:</div>
                    <div class="col-lg-6" id="bpdu-guard"></div>
                </div>
                <div class="field-data  col-lg-12 padding-5">
                    <div class="bold-type col-lg-6">BPDU Filter:</div>
                    <div class="col-lg-6" id="bpdu-filter"></div>
                </div>
            </div>

        </div>

        <div class="col-lg-12 padding-bottom-10 padding-top-10 no-padding-sides b-t-ddd"
             ng-if="customerNetwork.network_node.ip_address && customerNetwork.port_number">

            <div class="btn btn-success network-functions m-r-sm" ng-click="networkServices(0)" type="0" portid="{{customerNetwork.id}}">Check status</div>

            <div class="btn btn-warning network-functions action-confirm m-r-sm" id="recycleButton" ng-click="smartModEg1($event)" type="3" portid="{{customerNetwork.id}}">Recycle port</div>
            <div class="btn btn-danger network-functions action-confirm access-type-net m-r-sm"
                 ng-if="customerNetwork.access_level != 'signup'"
                 type="5"
                 id="signupButton"
                 portid="{{customerNetwork.id}}"
                 ng-click="smartModEg1($event)">Send to signup
            </div>
            <div class="btn btn-info network-functions action-confirm access-type-net"
                 ng-if="customerNetwork.access_level == 'signup'"
                 type="6"
                 id="activateButton"
                 portid="{{customerNetwork.id}}"
                 ng-click="smartModEg1($event)">Activate
            </div>
        </div>
    </div>
</div>


<!-- Core Array Stats -->
<div class="modal fade" id="corStats" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-cor-stats-size">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelNewEvent()">
                    &times;
                </button>
                <h6>Switch Information</h6>
            </div>
            <div class="modal-body filters-fixed-size">
                <div class="wrapper-sm">
                    <div class="row">
                        <div class="field-data col-lg-12">

                            <div class="text-center" ng-if="pLoad">
                                <i class="fa fa-gear loading-anim f-size-25 p-t-lg"></i>
                            </div>

                            <div ng-if="!pLoad" class="col-lg-12 no-padding-sides p-b-lg">
                                <h6 ng-if="pRecord">Port Status - IP: {{pRecord}} - </h6>
                                <hr>
                                <div class=" m-t-sm">
                                    <table class="table table-striped b-b" datatable="ng" dt-options="pStInOptions">
                                        <thead>
                                        <tr>
                                            <th>Port</th>
                                            <th>Label</th>
                                            <th>Status</th>
                                            <th>Speed</th>
                                            <th>Last Change</th>
                                            <th>Admin Status</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="portsStatus in pStatus">
                                            <td>{{portsStatus.Name}}</td>
                                            <td>{{portsStatus.Label}}</td>
                                            <td class="capital-first {{portsStatus.Status == 'up' ? 'up-status' : 'down-status'}}">{{portsStatus.Status}}</td>
                                            <td>{{portsStatus.Status == 'up' ? portsStatus.Speed : ''}}</td>
                                            <td>{{portsStatus.LastChange}}</td>
                                            <td class="capital-first">{{portsStatus.AdminStatus}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div ng-if="!pLoad" class="col-lg-12 no-padding-sides p-b-lg b-t-ddd">
                                <h6 ng-if="pRecord">Neighbor Information - IP: {{pRecord}} - </h6>
                                <hr>
                                <div class=" m-t-sm">
                                    <table class="table table-striped b-b" datatable="ng" dt-options="pStInOptions">
                                        <thead>
                                        <tr>
                                            <th>Port</th>
                                            <th>Label</th>
                                            <th>Neighbor</th>
                                            <th>Type</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="portsInfo in pInfo">
                                            <td>{{portsInfo.Name}}</td>
                                            <td>{{portsInfo.Label}}</td>
                                            <td>{{portsInfo.NeighborDevId}}</td>
                                            <td>{{portsInfo.NeighborPlatform}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END Core Array Stats -->


