<div  ng-controller="customerPaymentMethodsController" class="p-b-lg">

  <!--LADO UNO-->
  <div class="col-lg-4 no-padding-sides">
    <h2 class="float-left m-b-lg">Default Credit Card</h2>


    <label class="col-lg-12 no-padding-sides"><strong>Token (Acct Number):    </strong>   </label>
    <label class="col-lg-12 block-b-label no-padding-sides" id="b-CCnumber">  {{ paymentData.account_number ? paymentData.account_number : '( ERROR )' }}</label>
    <label class="col-lg-8 no-padding-sides"><strong>Card Type:               </strong>   </label>
    <label class="col-lg-4 block-b-label no-padding-sides" id="b-CCtype">     {{ paymentData.card_type ? paymentData.card_type  : '( ERROR )'}}</label>
    <label class="col-lg-8 no-padding-sides"><strong>Expiration Month:        </strong>   </label>
    <label class="col-lg-4 block-b-label no-padding-sides" id="b-Expmo">      {{ paymentData.exp_month ? paymentData.exp_month : '( ERROR )'}}</label>
    <label class="col-lg-8 no-padding-sides"><strong>Expiration Year:         </strong>   </label>
    <label class="col-lg-4 block-b-label no-padding-sides" id="b-Expyr">      {{ paymentData.exp_year ? paymentData.exp_year : '( ERROR )'}}</label>
    <label class="col-lg-8 no-padding-sides"><strong>Priority:                </strong>   </label>
    <label class="col-lg-4 block-b-label no-padding-sides" id="b-Priority">   {{ paymentData.priority == 1 ? 'YES' : 'NO' }}</label>


    <div class="col-lg-12 no-padding-sides m-t-md">
      <div class="btn btn-danger float-left col-lg-4 no-padding-sides"  data-toggle="modal" data-target="#paymentManualCharge">Manual Charge</div>
      <div class="btn btn-warning float-right col-lg-4 no-padding-sides m-r-lg" data-toggle="modal" data-target="#paymentManualRefound" >Manual Refund</div>
    </div>



  </div>
  <!--LADO DOS-->
  <div class="col-lg-8" id="customer-view-0" >

    <div class="panel panel-default table-container">
      <table id="myTable" class="tablesorter table" >
        <thead>
        <tr>
          <!--<th>ID</th>-->
          <!--<th>Token</th>-->
          <th>Exp Month</th>
          <th>Exp Year</th>
          <th>Brand</th>
          <!--<th>Type</th>-->
          <th>Priority</th>
          <th>Last 4 Digits</th>
          <!--<th>Created At</th>-->
          <th>Updated At</th>
          <th>Set Default</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="payment in paymentMethods" >
          <!--<td>{{ payment.id }}</td>-->
          <!--<td>{{ payment.account_number }}</td>-->
          <td>{{ payment.exp_month }}</td>
          <td>{{ payment.exp_year }}</td>
          <td>{{ payment.card_type }}</td>
          <!--<td>{{ payment.types == 'Credit Card'?'CC':payment.types}}</td>-->
          <td>{{ payment.priority == 1 ? 'Default' : '' }}</td>
          <td ng-init="pproperties = parJson(payment.properties)[0]">{{ pproperties['last four'] | limitTo : 4 : 15 }}</td>
          <!--<td>{{ payment.created_at }}</td>-->
          <td>{{ payment.updated_at | limitTo : 10 }}</td>
          <td class="text-center">
            <button class="btn btn-default anim-btn" ng-click="setDefault(payment.id)" ng-if="payment.priority != 1">
              <label class="display-none">s</label>
              <i class="fa fa-thumbs-o-up "></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>

    </div>
    <div class="float-right">
      <button class="btn btn-default" data-toggle="modal" data-target="#paymentMethodModal">New Payment Method</button>
    </div>

  </div>







  <!--MODAL Manual Refound-->
  <div class="modal fade" id="paymentManualRefound" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-ticket-size">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelNewEvent()">
            &times;
          </button>
          <span>Manual Refund</span>
        </div>
        <div class="modal-body">
          <div class="wrapper-sm">
            <div class="row">
              <div class="col-lg-12">
                <div class="manual-ref">
                  <div class="cbox-containter">
                    <form action="#">
                      <div class="cboxc-top">
                        <label>Amount to Refund</label><input type="text" placeholder="Set amount with no comas or signs" id="mf-input-am" required>
                      </div>
                      <div class="cboxc-bottom">
                        <label>Description</label><input type="text" placeholder="Describe the reason" id="mf-input-de" required>
                      </div>
                      <button class="btn btn-default float-right m-t-lg" ng-click="refundFunct()">Refund</button>
                    </form>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
        </div>

      </div>
    </div>
  </div>

  <!--MODAL Manual Charge-->
  <div class="modal fade" id="paymentManualCharge" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-ticket-size">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelNewEvent()">
            &times;
          </button>
          <span>Manual Charge</span>
        </div>
        <div class="modal-body">
          <div class="wrapper-sm">
            <div class="row">
              <div class="col-lg-12">
                <div class="manual-char" >
                  <div class="cbox-containter">
                    <form action="#">
                      <div class="cboxc-top">
                        <label>Amount to Charge</label><input type="text" placeholder="Set amount with no comas or signs" id="mc-input-am" required>
                      </div>
                      <div class="cboxc-bottom">
                        <label>Description</label><input type="text" placeholder="Describe the reason" id="mc-input-de" required>
                      </div>
                      <button class="btn btn-default float-right m-t-lg" ng-click="chargeFunct()">Charge</button>
                    </form>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
        </div>

      </div>
    </div>
  </div>

  <!--MODAL New Payment Method-->
  <div class="modal fade" id="paymentMethodModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="addPaymentMethodController">
    <div class="modal-dialog modal-ticket-size">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancelNewEvent()">
            &times;
          </button>
          <span>New Payment Method</span>
        </div>
        <div class="modal-body">
          <div class="wrapper-sm">
            <div class="row">
            <div class="col-lg-12">




              <form id="paymentmethodform">

                <label class="bold-type col-lg-4">Name on card:</label>
                <input type="text" name="card_name" class="col-lg-8 input-text" placeholder="Ex: Pablo Uribe" required>

                <label class="bold-type col-lg-4">Account Number:</label>
                <input type="text" name="account_number" class="col-lg-8 input-text" placeholder="Account number with no signs(,/-)" required>

                <label class="bold-type col-lg-4">Billing Phone:</label>
                <input type="text" name="billing_phone" class="col-lg-8 input-text"  placeholder="Ex: 555-444-3322"required>

                <span class="bold-type col-lg-3 m-t-lg">Exp Month :</span>
                <select name="exp_month" class="col-lg-3  m-t-lg" required>
                  <option value="">Select a Month</option>
                  <option value="01">01</option><option  value="02">02</option><option  value="03">03</option>
                  <option value="04">04</option><option  value="05">05</option><option  value="06">06</option>
                  <option value="07">07</option><option  value="08">08</option><option  value="09">09</option>
                  <option value="10">10</option><option  value="11">11</option><option  value="12">12</option>
                </select>

                <span class="bold-type col-lg-3  m-t-lg p-l-lg">Exp Year :</span>
                <select name="exp_year" class="col-lg-3 m-t-lg" required>
                  <option value="">Select a Year</option>
                  <option value="2017">17</option><option value="2018">18</option>
                  <option value="2019">19</option><option value="2020">20</option><option value="2021">21</option>
                  <option value="2022">22</option>
                </select>

                <span class="bold-type col-lg-3 m-t-lg">Card Type</span>
                <select name="card_type" class="col-lg-3 m-t-lg" required>
                  <option value="">Select a Type</option>
                  <option value="VS">Visa</option>
                  <option value="MC">Master Card</option>
                  <option value="AX">Amex</option>
                </select>

                <label class="bold-type col-lg-3 m-t-lg p-l-lg">CCV :</label>
                <input type="text" name="CCscode" class="col-lg-3 input-text m-t-lg"   placeholder="CCV" required>


                <div class="col-lg-12 m-b-md"></div>

                <div class="col-lg-12 addServiceBoton m-b-sm">
                  <button type="submit" class="btn m-b-xs w-xs btn-default float-right" ng-click="addNewPaymentMethod()" >Add</button>
                </div>

              </form>

            </div>

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Cancel
          </button>
        </div>
      </div>
    </div>
  </div>

</div>





