<div class="row">
    <!--LEFT CONTENT-->
    <div id="left-bld" class="bld-sub-nav pull-left anim">
        <div class="bld-filters-sub-nav">

            <div class="search-subnav-bld">
                <input type="text" placeholder="Filter Search" ng-keyup="filterBldList()" ng-model="filterBldListModel">
            </div>

            <div class="filter-subnav-bld">
                <label>Sort by ...</label>
                <select name="" id="" ng-change="filterBuildingList()" ng-model="buildingFilter" placeholder="Sort by ...">
                    <option value="1">Commercial</option>
                    <option value="2">Retail</option>
                </select>
            </div>

        </div>

        <div class="building-list-side">
            <div ng-repeat="building in bldListResult" class="bld-list-side" ng-click="displayBldData(building.id)">
                <p alt="{{building.name}}" title="{{building.name}}">
                    {{building.code +':'+ building.name | limitTo : 20 }}...
                    <br>
                    {{building.type}}
                </p>
            </div>

        </div>
    </div>
    <!--RIGHT CONTENT-->
    <div id="right-bld" class="sub-nav-active pull-left padding-10 p-l-lg anim">
        <button ng-click="fedeOUTbtn()" class="btn btn-warning"><i class="fa fa-arrow-left"></i></button>
        <button ng-click="fedeINbtn()"  class="btn btn-primary"><i class="fa fa-arrow-right"></i></button>

        <div class="bld-workspace">
            <article class="col-lg-6 p-t-lg m-b-lg null-article animated fadeInDown" ng-include="'/views/building/buildings.html'"></article>
        </div>
        <!--TABS-->
        <article class="col-sm-12 col-md-12 col-lg-12  bg-white white-shadow m-t-lg p-b-lg null-article" id="c-fixed-content">
            <div class="row">
                <header role="heading" class="ui-sortable-handle">
                    <ul id="widget-tab-1" class="nav pull-left nav-tabs size-100">
                        <li class=""><a data-toggle="tab" href="#tab-r2" aria-expanded="false"> <i class="fa fa-lg fa-plus-square"></i> <span class="hidden-mobile hidden-tablet"></span></a></li>
                        <li class=""><a data-toggle="tab" href="#tab-r1" aria-expanded="false"><i class="fa fa-lg fa-home"></i> <span class="hidden-mobile hidden-tablet">Properties</span></a></li>
                        <li class="active"><a data-toggle="tab" href="#tab-r3" aria-expanded="false"><i class="fa fa-lg fa-home"></i> <span class="hidden-mobile hidden-tablet">Services</span></a></li>
                    </ul>
                </header>

                <div class="col-lg-12 m-t-lg">
                    <div class="tab-content">
                        <!-- PROPIEDADES -->
                        <div class="tab-pane" id="tab-r1">
                            <article class="col-lg-6 m-t-lg null-article " ng-include="'/views/building/properties.html'"></article>
                            <article class="col-lg-6 m-t-lg null-article animated fadeInRight" ng-include="'/views/building/contacts.html'"></article>
                        </div>
                        <!-- CONTACT -->
                        <div class="tab-pane" id="tab-r2">
                            <!--<article class="col-sm-12 col-md-12 col-lg-12 no-padding-sides m-t-lg null-article" ng-include="'/views/building/contacts.html'"></article>-->
                        </div>
                        <div class="tab-pane active" id="tab-r3">
                            <article class="col-lg-6 m-t-lg null-article animated fadeInLeft" ng-include="'/views/building/product.html'"></article>
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <!--END TABS-->
    </div>
</div>