<!-- LEFT CONTENT -->


<!-- END LEFT CONTENT -->
<article class="col-sm-12 col-md-12 col-lg-12 p-b-lg bg-white white-shadow null-article p-t-lg admin-app">
  <div class="row">
    <!-- MAIN CONTENT -->
    <div id="content" class=" anim">
      <section id="widget-grid" widget-grid>
        <div class="row">
          <!-- BUSCADOR -->
          <!--<article class="col-sm-12 col-md-12 col-lg-12 bld-search" ng-include="'/views/building/buscador.html'"></article>-->
          <!-- PROPIEDADES -->
          <!--<article class="col-lg-6"  ng-include="'/views/building/properties.html'"></article>-->
          <!-- BUILDING -->
          <article class="col-lg-6 m-b-lg"  ng-include="'/views/building/buildings.html'"></article>
          <!-- CONTACT -->
          <article class="col-lg-6"  ng-include="'/views/building/contacts.html'"></article>
        </div>
      </section>
    </div>
    <!-- END MAIN CONTENT -->
  </div>
</article>


