<div id="wid-id-" data-jarvis-widget data-widget-deletebutton="false" data-widget-editbutton="false">
  <header>
    <span class="widget-icon"> <i class="fa fa-building-o"></i> </span><h2>Building Info</h2>
  </header>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="product-content product-wrap clearfix product-deatil">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12 ">
          <div class="product-image">
            <div id="myCarousel-3" class="carousel fade">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel-3" data-slide-to="0" class=""></li>
              </ol>
              <div class="carousel-inner">
                <div class="item active">
                  <img src="/img/buildings/{{bld.img_building}}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-sm-12 col-xs-12">
          <h2 class="name">{{bld.name}}</h2>
          <hr>
          <div class="row">
            <div class="col-sm-6 bld-box-info">
              <p>Address</p>
              <p>Alias</p>
              <p>Neighborhood</p>
              <p>Code</p>
              <p>Year Built</p>
              <p>Units</p>
              <p>Floors</p>
              <p>Type</p>
              <p>Legal Builder</p>
            </div>
            <div class="col-sm-6 bld-box-info">
              <p>{{bld.name}}</p>
              <p>{{bld.alias}}</p>
              <p>{{bld.neighborhood.name}}</p>
              <p>{{bld.code}}</p>
              <p>{{bld.year_built}}</p>
              <p>{{bld.units}}</p>
              <p>{{bld.floors}}</p>
              <p>{{bld.type}}</p>
              <p>{{bld.legal_name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>