<div class="app-content-body hbox">

<div class="col w-lg lter b-r b-tabs anim">

  <!--<div id="bld-tabs-cover" class="anim">-->
    <!--<div class="font-thin h2">B<br />u<br />i<br />l<br />d<br />i<br />n<br />g<br />s</div>-->
  <!--</div>-->

  <div class="bg-light lter b-b wrapper-md">
    <h2 class="m-n font-thin h3">Building Dashboard</h2>
  </div>

  <div class="vbox">

    <div class="b-b">
      <!--Building Search/Simple -->
      <div class="search-content">
        <input type="text" id="id-buildings-search" class="input-search id-search" placeholder="Search Buildings..."><i class="is-lupa fa fa-search"></i>
        <div id="id-buildings-search-result" class="search-result anim"></div>
      </div>
      <!--END Building Search/Simple -->
    </div>

    <!--TABS-->
    <div class="nav-tabs-alt ntas-tmp" id="ntas-tmp">
      <ul class="nav nav-tabs nav-justified">
        <li class="active anim">
          <a data-target="#tab-1" role="tab" data-toggle="tab">Buildings</a>
        </li>
        <li class=" anim">
          <a data-target="#tab-2" role="tab" data-toggle="tab">Retail</a>
        </li>
        <li class=" anim">
          <a data-target="#tab-3" role="tab" data-toggle="tab">Comercial</a>
        </li>
      </ul>
    </div>
    <!--END TABS-->

    <div class="row-row ntas-tmp" >
      <div class="tabs-content">
        <div class="cell-inner">
          <div class="tab-content" ng-controller="globalController">

            <div class="tab-pane active" id="tab-1">
             <!--OFFSET LIMIT btn's -->
              <div id="bldlist-result-limits" class="lesmoreinfo" ng-controller="preNextArrows">
                <div offset="" limit="" position="0" class="newdata left anim left-btn-trigg bldlist-result-limits-0" id="ol-left-btn" ng-click=" buildingsList(0)"></div>
                <div offset="" limit="" position="1" class="newdata right anim right-btn-trigg bldlist-result-limits-1" id="ol-right-btn" ng-click=" buildingsList(1)"></div>
              </div>
              <!--END OFFSET LIMIT btn's -->
              <!--CONTENT TABS-->
              <div id="bldlist-result" ng-controller="bldGralList">
                <p ng-repeat="building in bldData['buildingList']">
                  <a href="#/buildings/{{ building.id }}" ng-click="displayBldData(building.id)">{{ building.Name?building.Name:building.name }}</a>
                </p>
              </div>
            </div>

            <div class="tab-pane fix-size-scroll" id="tab-2" ng-controller="bldGralList">
            <div class="wrapper-md">
              <p ng-repeat="bldretail in bldData['retail']"><a href="/buildings/{{ bldretail.id }}">{{ bldretail.Name?bldretail.Name:bldretail.name }}</a></p>
              </div>
            </div>

            <div class="tab-pane fix-size-scroll" id="tab-3" ng-controller="bldGralList">
            <div class="wrapper-md">
              <p ng-repeat="bldcomer in bldData['comer']"><a href="/buildings/{{ bldcomer.id }}">{{ bldcomer.Name?bldcomer.Name:bldcomer.name }}</a></p>
              </div>
            </div>
            <!--BUILDING TABLE -->
            <!--END CONTENT TABS-->

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END COL-->


  <div class="col-lg-6">

    <button class=" baba btn m-b-xs w-xs btn-dark">boton test</button>

  </div>

</div>