<header id="header">



  <!-- collapse menu button -->
  <div id="hide-menu" class="btn-header pull-left no-display">
    <button toggle-menu>
      <span class="uno">
        <span class="uno-inner"></span>
      </span>
    </button>
  </div>
  <!-- end collapse menu -->





  <div id="logo-group" class="">
    <span id="logo" > <img src="/css/smart/styles/img/logo.png" alt="SilverIP" title="SilverIP"> </span>
  </div>



  <!--<div data-toggle="modal" data-target="#modalTest" class="btn-header pull-left">-->
    <!--<span> <a title="Collapse Menu"><i class="fa fa-arrow-circle-left"></i></a></span>-->
  <!--</div>-->














  <!--
  <div id="left-sip-tool" class="btn-header pull-left" ng-click="sipTool(0,'silverip-left')">
    <span> <a title="Collapse Menu"><i class="fa fa-arrow-circle-left"></i></a></span>
  </div>

  <div id="right-sip-tool" class="btn-header pull-left" ng-click="sipTool(1,'silverip-right')">
    <span> <a title="Collapse Menu"><i class="fa fa-arrow-circle-right"></i></a></span>
  </div>

  <div id="hide-silver-tool" class="btn-header pull-left" ng-click="sipTool(2)">
    <span> <a title="Collapse Menu"><i class="fa fa-reorder"></i></a></span>
  </div>


  -->







  <!-- logout button -->
  <div id="logout" class="btn-header transparent pull-right">
    <span> <a href="/logout" title="Sign Out" ><i class="fa fa-sign-out"></i></a></span>
  </div>
  <!-- end logout button -->


  <!-- input: search field -->
  <form action="#/search" class="header-search pull-right">
    <input id="search-fld" type="text" name="param" placeholder="Find reports and more" data-autocomplete='[
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"]'>
    <button type="submit">
      <i class="fa fa-search"></i>
    </button>
    <a href="$" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
  </form>
  <!-- end input: search field -->


</header>

