<header id="header">


  <div id="logo-group" class="logo-ui-uno">
    <a href="#">
      <span id="logo" > <img src="/img/silverip-logo-blanco.png" alt="SilverIP" title="SilverIP"> </span>
    </a>
  </div>

  <!--<div ng-controller="userAuthController" class="user-ui-uno">-->
    <!--<div class="login-info ng-cloak">-->
      <!--<span>-->
        <!--<a  href="" toggle-shortcut>-->
            <!--<img ng-src="{{userDataAuth.avatar}}"-->
                 <!--alt="{{userDataAuth.first_name}}"-->
                 <!--class="online"-->
                 <!--title="{{userDataAuth.first_name}}" />-->
            <!--<span>{{userDataAuth.first_name + ' ' + userDataAuth.last_name}}</span>-->
            <!--<i class="fa fa-angle-down"></i>-->
        <!--</a>-->
      <!--</span>-->
    <!--</div>-->
  <!--</div>-->

  <!-- collapse menu button -->
  <div id="hide-menu" class="btn-header pull-left">
    <button toggle-menu>
      <span class="uno">
        <span class="uno-inner"></span>
      </span>
    </button>
  </div>
  <!-- end collapse menu -->





  <!--<div id="logo-group" class="">-->
    <!--<span id="logo" > <img src="/css/smart/styles/img/logo.png" alt="SilverIP" title="SilverIP"> </span>-->
  <!--</div>-->















  <!--TOOLS BUTTONS-->

  <!--SET LEFT SIDEBAR-->
  <div id="left-sip-tool" class="btn-header pull-left m-r-sm m-l-lg" ng-click="sipTool(0,'silverip-left')">
    <span> <a title="SET LEFT SIDEBAR"><i class="fa fa-arrow-circle-left"></i></a></span>
  </div>
  <!--SET RIGHT SIDEBAR-->
  <div id="right-sip-tool" class="btn-header pull-left m-r-sm" ng-click="sipTool(1,'silverip-right')">
    <span> <a title="SET RIGHT SIDEBAR"><i class="fa fa-arrow-circle-right"></i></a></span>
  </div>
  <!--HIDE SIDEBAR-->
  <div id="hide-silver-tool" class="btn-header pull-left m-r-sm" ng-click="sipTool(2)">
    <span> <a title="HIDE SIDE BAR"><i class="fa fa-reorder"></i></a></span>
  </div>
  <!--NOTIFICACION-->
  <div id="notif" class="btn-header pull-left m-r-sm" ng-click="alertDummy()">
    <span> <a title="NOTIF"><i class="fa fa-warning"></i></a></span>
  </div>
  <!--OPEN MODAL-->
  <div data-toggle="modal" data-target="#modalTest" class="btn-header pull-left">
    <span> <a title="OOPEN MODAL"><i class="fa fa-edit"></i></a></span>
  </div>












  <!-- logout button -->
  <div id="logout" class="btn-header transparent pull-right">
    <span> <a href="/logout" title="Sign Out" ><i class="fa fa-sign-out"></i></a></span>
  </div>
  <!-- end logout button -->


  <!-- input: search field -->
  <!--<form action="#/search" class="header-search pull-right">-->
    <!--<input id="search-fld" type="text" name="param" placeholder="Find reports and more" data-autocomplete='[-->
            <!--"ActionScript",-->
            <!--"AppleScript",-->
            <!--"Asp",-->
            <!--"BASIC",-->
            <!--"C",-->
            <!--"C++",-->
            <!--"Clojure",-->
            <!--"COBOL",-->
            <!--"ColdFusion",-->
            <!--"Erlang",-->
            <!--"Fortran",-->
            <!--"Groovy",-->
            <!--"Haskell",-->
            <!--"Java",-->
            <!--"JavaScript",-->
            <!--"Lisp",-->
            <!--"Perl",-->
            <!--"PHP",-->
            <!--"Python",-->
            <!--"Ruby",-->
            <!--"Scala",-->
            <!--"Scheme"]'>-->
    <!--<button type="submit">-->
      <!--<i class="fa fa-search"></i>-->
    <!--</button>-->
    <!--<a href="$" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>-->
  <!--</form>-->
  <!-- end input: search field -->


  <div ng-include="'/views/search.html'" class="header-search pull-right main-search"></div>


</header>

