<aside id="left-panel">




  <!-- User info -->
  <!--<div login-info></div>-->
  <!--<div ng-controller="userAuthController">-->
    <!--<div class="login-info ng-cloak">-->
      <!--<span>-->
        <!--<a  href="" toggle-shortcut>-->
            <!--<img ng-src="{{userDataAuth.avatar}}"-->
                 <!--alt="{{userDataAuth.first_name}}"-->
                 <!--class="online"-->
                 <!--title="{{userDataAuth.first_name}}" />-->
            <!--<span>{{userDataAuth.first_name + ' ' + userDataAuth.last_name}}</span>-->
            <!--<i class="fa fa-angle-down"></i>-->
        <!--</a>-->
      <!--</span>-->
    <!--</div>-->
  <!--</div>-->
  <!-- end user info -->

  <nav ng-include="'/angularviews/templates/nav.html'"></nav>





  <!--<span class="minifyme" data-action="minifyMenu" minify-menu>-->
    <!--<i class="fa fa-arrow-circle-left hit"></i>-->
  <!--</span>-->

  <!--<button class="minifyme" toggle-menu> somethin</button>-->
  <span class="minifyme" data-action="toggle-menu" toggle-menu  style="background: #1A3047;border: none;">
    <p class="">X</p>
  </span>







  <div id="logo-group" class="logo-ui-uno">
    <span id="logo" > <img src="/css/smart/styles/img/logo.png" alt="SilverIP" title="SilverIP"> </span>
  </div>

</aside>



width: 0;
height: 0;
border-top: 10px solid transparent;
border-bottom: 10px solid transparent;

border-right:10px solid blue;